<div class="main-container">
    <form class="form-info" [formGroup]="form" (submit)="submit()">
    <!-- <form class="form-info" [formGroup]="form"> -->
        <div class="header">
            <h1>{{ formType || '' | titlecase }} Request Form</h1>
        </div>
        <div class="detailsbody">

            <div class="input-row">
                <div class="entryarea">
                    <select formControlName="type" [disabled]="formType == 'overtime'"> 
                        <option *ngFor="let type of types" [value]="type"> {{ type }} </option>
                    </select>
                    <div class="labelline">Type of {{ formType || '' | titlecase }}</div>
                </div>
            </div>

            <div class="input-row">
                <div class="entryarea">
                    <input type="datetime-local" formControlName="start">
                    <div class="labelline">Start Date</div>
                </div>
                <div class="entryarea">
                    <input type="datetime-local" formControlName="end">
                    <div class="labelline">End Date</div>
                </div>
            </div>

            <div class="input-row">
                <div class="entryarea1">
                    <textarea formControlName="reason"></textarea>
                    <span></span>
                    <div class="labelline1"> Reason for {{ formType || '' | titlecase }}  </div>
                </div>
            </div>
            
            <div class="input-row">
                <div class="entryarea2">
                  <!-- Multiple file input -->
                  <input #fileInput class="inputtxt" type="file" (change)="onFileChange($event)" multiple>
                  <span></span>
                  <div class="labelline2">Upload File(s)</div>
              
                  <!-- Preview section -->
                  <div class="file-preview">
                    <div *ngFor="let file of selectedFiles; let i = index;" class="preview-item">
                      <div class="file-container">
                        <img [src]="file.preview" alt="File Preview" class="file-image" *ngIf="file.type.startsWith('image/')">
                        <p>{{ file.name }}</p>
                        <button type="button" (click)="removeFile(i)"class="remove-button">
                            <i class='bx bx-x'></i>
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="buttons">
                    <div class="add-btn">
                        <button class = "button" type="submit" value="Add" id="cancel"> REQUEST </button>
                    </div>

                    <div class="cancel-btn">
                        <button class = "button" type="button" value="Cancel" id="cancel" (click)="close()"> CANCEL </button>
                    </div>
                    
                </div>

                </div>
            </div>
        </div>
    </form>
</div>