.main-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.form-info {
    position: relative;
    background: var(--white);
    width: 1100px;
    height: 100%;
    left: 100px;
    border-radius: 5px;
    padding-bottom: 20px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.322);
    max-height: 675px;
    // overflow-y: auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px 30px;
    position: fixed;
    width: 1040px;
    background-color: var(--primary-color);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    z-index: 1;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.192);
    padding-bottom: 15px;

    h1 {
        color: var(--white);
        padding-top: 5px;
        width: 880px;
        font-weight: 700;
        font-size: 25px;
        text-align: center;
    }
}

h1 {
    color: var(--black);
    padding-top: 25px;
    padding-left: 25px;
    width: 880px;
    font-weight: 700;
    font-size: 20px;
}

.exit-button {
    position: relative;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: var(--white);
}

.detailsbody {
    padding: 80px 30px 120px 30px;
    height: 70%;
}

// Form Styles

.input-row {
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    display: flex;
    gap: 25px; 

    .entryarea, .entryarea1 {
        flex: 1; 
        position: relative; 
    }

    .entryarea input {
        font-family: "Poppins";
        width: 100%; 
        height: 52px;
        outline: none;
        font-size: 16px;
        padding: 20px 15px; 
        border-radius: 5px;
        border: 1.5px solid var(--header-color);
        background: var(--white);
        transition: 0.2s ease; 
        box-sizing: border-box; 
    }

    .entryarea1 input {
        font-family: "Poppins";
        width: 100%; 
        height: 52px;
        outline: none;
        font-size: 16px;
        border-radius: 5px;
        border: 1.5px solid var(--header-color);
        background: var(--white);
        transition: 0.2s ease; 
        box-sizing: border-box; 
    }

    .entryarea select {
        font-family: "Poppins";
        width: 100%; 
        height: 52px;
        outline: none;
        font-size: 16px;
        padding: 5px 15px; 
        border-radius: 5px;
        border: 1.5px solid var(--header-color);
        background: var(--white);
        transition: 0.2s ease; 
        box-sizing: border-box; 
    }

    .labelline {
        position: absolute;
        font-size: 16px;
        left: 18px;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--white);
        padding: 0 4px;
        transition: 0.2s ease;
        pointer-events: none; 
    }

    .labelline1 {
        position: absolute;
        font-size: 12px;
        left: 0;
        top: -10px;
        transform: translateY(-50%);
        padding: 0 4px;
        transition: 0.2s ease;
        pointer-events: none; 
    }

    input[type="file"]::file-selector-button {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        font-family: "Poppins";
        font-size: 14px;
        margin-top: -2px;
        margin-left: -2px;
        background: var(--primary-color);
        color: var(--white);
        padding-top: 5px;
        height: 53px;
        border: 1.5px solid var(--header-color);
        transition: background-color 200ms;
        cursor: pointer;
    }

    .entryarea input:focus + .labelline,
    .entryarea input:not(:placeholder-shown) + .labelline, 
    .entryarea1 input:focus + .labelline,
    .entryarea1 input:not(:placeholder-shown) + .labelline, 
    .entryarea select:focus + .labelline,
    .entryarea select:not(:placeholder-shown) + .labelline {
        top: 0;
        left: 15px;
        font-size: 15px;
        color: var(--black);
    }

    .entryarea input:focus, 
    .entryarea input:not(:placeholder-shown), 
    .entryarea1 input:focus, 
    .entryarea1 input:not(:placeholder-shown), 
    .entryarea select:focus, 
    .entryarea select:not(:placeholder-shown) {
        border: 1.5px solid var(--black);
    }
}

.buttons{

    .cancel-btn > button {
        font-family: "Poppins";
        border: none;
        position: absolute;
        text-align: center;
        font-weight: 600;
        letter-spacing: 1.2px;
        border-radius: 3px;
        color: var(--white);
        background: var(--cancel);
        text-decoration: none;
        height: 50px;
        margin-top: 25px;
        margin-left: 31%;
        width: 45%;
        width: 155px;
        font-size: 15px;
        cursor: pointer;
    }

    .cancel-btn > button:hover {
        background-color: var(--cancel-hover);
    }

    .add-btn > button {
        font-family: "Poppins";
        border: none;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        letter-spacing: 1.2px;
        border-radius: 3px;
        color: var(--white);
        // background: var(--primary-color);
        text-decoration: none;
        height: 50px;
        margin-top: 25px;
        margin-left: 47%;
        width: 45%;
        width: 155px;
        font-size: 15px;
        cursor: pointer;
    }

}

.spinner {
    margin-left: 5px;
}