<main>
    <div class="main-container">
        <form class="form-info" [formGroup]="form" (submit)="submit()">
            <div class="header">
                <h1> {{ data.title }} </h1>
            </div>
            <div class="detailsbody">

                <div class="input-row">
                    <div class="entryarea">
                        <input type="text" formControlName="first_name" 
                            (keyup)="updateInvalidInput($event, 'first_name')"
                            (keyup)="capitalize('first_name')"
                            (change)="trimSpaces('first_name')">
                        <div class="labelline"> First name </div>
                    </div>
                </div>

                <div class="input-row">
                    <div class="entryarea1">
                        <input type="text"  formControlName="middle_name" (keyup)="updateInvalidInput($event, 'middle_name')"> 
                        <div class="labelline1"> Middle name </div>
                    </div>
                </div>

                <div class="input-row1">
                    <div class="entryarea">
                        <input type="text" formControlName="last_name" (keyup)="updateInvalidInput($event, 'last_name')">
                        <div class="labelline"> Last name </div>
                    </div>

                    <div class="entryarea-1">
                        <input type="text" formControlName="ext_name" (keyup)="updateInvalidInput($event, 'ext_name')">
                        <div class="labelline-1"> Ext name </div>
                    </div>
                </div>

                <div class="input-row1">
                    <div class="entryarea1">
                        <select formControlName="gender"> 
                            <option value="0"> Female </option>
                            <option value="1"> Male </option>
                            <option value="2"> Other </option>
                        </select>
                        <div class="labelline1"> Gender  </div>
                    </div>

                    <div class="entryarea1"> 
                        <input formControlName="employee_id" (keyup)="updateInvalidInput($event, 'employee_id')">
                        <div class="labelline1"> ID Number </div>
                    </div>
                </div>

                <div class="input-row1">
                    <div class="entryarea2">
                        <select formControlName="type"> 
                            <option value="admin"> Admin </option>
                            <option value="employee"> Employee </option>
                        </select>
                        <div class="labelline2"> Type  </div>
                    </div>

                    <div class="entryarea2">
                        <input type="text" formControlName="position" (keyup)="updateInvalidInput($event, 'position')">
                        <div class="labelline2"> Position </div>
                    </div>
                </div>

                <div class="input-row1"> 
                    <div class="entryarea3">
                        <input type="text" formControlName="phone_number" (keyup)="updateInvalidInput($event, 'phone_number')">
                        <div class="labelline3"> Contact Number </div>
                    </div>

                    <div class="entryarea4">
                        <input class="inputtxt" type="file" (change)="onFileChange($event)">
                        <span></span>
                        <div class="labelline4"> Upload Image </div>
                    </div>
                </div>

                <div class="buttons">
                    <div class="add-btn">
                        <button class = "button" type="submit" id="add" [disabled]="form.invalid"
                                [ngClass]="{ 'btn-invalid' : form.invalid, 'btn-primary' : !form.invalid }"> 
                                <ng-container *ngIf="!isLoading">{{ data.formType | uppercase }}</ng-container>
                                <ng-container *ngIf="isLoading">
                                    {{ data.formType == 'add' ? 'ADDING' : 'UPDATING' }}
                                </ng-container>
                            
                            <mat-spinner *ngIf="isLoading" class="spinner" diameter="23" color="accent"></mat-spinner>
                        </button>
                    </div>

                    <div class="cancel-btn">
                        <button class = "button" type="button" value="Cancel" id="cancel" (click)="close()"> CANCEL </button>
                    </div>
                    
                </div>
            </div>
        </form>
    </div>
</main>