.main-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

}

.form-info {
    position: relative;
    background: var(--white);
    width: 900px;
    height: 100%;
    left: 100px;
    border-radius: 5px;
    padding-bottom: 20px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.322);
    max-height: 675px;
    overflow-y: auto;
}

.header {
    display: flex;
    padding: 20px 30px 30px;
    position: fixed;
    width: 840px;
    background-color: var(--primary-color);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    z-index: 1;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.192);
    padding-bottom: 15px;

    h1 {
        color: var(--white);
        padding-top: 5px;
        width: 880px;
        font-weight: 700;
        font-size: 25px;
        text-align: center;
    }
}

.exit-button {
    position: relative;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: var(--white);
}

.detailsbody {
    padding: 80px 30px 120px 30px;
    height: 70%; 
}

// Form

.input-row {
    gap: 1.5rem;
    display: flex;
    padding-left: 20px;

    .entryarea, .entryarea1, .entryarea2 {
        flex-basis: 100%;
    }

    .entryarea input {
        font-family: "Poppins";
        position: absolute;
        width: 85%;
        height: 23px;
        outline: none;
        font-size: 16px;
        padding: 0 18px;
        margin-top: 45px;
        height: 52px;
        border-radius: 5px;
        border: 1px solid var(--header-color);
        background: var(--white);
        transition: 0.1s ease;
    }

    .entryarea1 input {
        font-family: "Poppins";
        position: absolute;
        width: 85%;
        height: 23px;
        outline: none;
        font-size: 16px;
        padding: 0 18px;
        margin-top: 130px;
        height: 52px;
        border-radius: 5px;
        border: 1px solid var(--header-color);
        background: var(--white);
        transition: 0.1s ease;
    }

    .entryarea2 input {
        font-family: "Poppins";
        position: absolute;
        width: 85%;
        height: 23px;
        outline: none;
        font-size: 16px;
        padding: 0 18px;
        margin-top: 215px;
        height: 52px;
        border-radius: 5px;
        border: 1px solid var(--header-color);
        background: var(--white);
        transition: 0.1s ease;
    }
    
    .labelline {
        position: absolute;
        font-size: 16px;
        padding: 0 10px;
        margin-top: 33px;
        margin-left: 12px;
        background-color: var(--white);
        transition: 0.2s ease;
    }

    .labelline1 {
        position: absolute;
        font-size: 16px;
        padding: 0 10px;
        margin-top: 118px;
        margin-left: 12px;
        background-color: var(--white);
        transition: 0.2s ease;
    }

    .labelline2 {
        position: absolute;
        font-size: 16px;
        padding: 0 10px;
        margin-top: 203px;
        margin-left: 12px;
        background-color: var(--white);
        transition: 0.2s ease;
    }
    
    .entryarea input:focus, 
    .entryarea input:valid,
    .entryarea1 input:focus, 
    .entryarea1 input:valid, 
    .entryarea2 input:focus, 
    .entryarea2 input:valid {
        color: #000;
        border: 1.5px solid var(--black);
    }
    
    .entryarea input:focus + .labelline, 
    .entryarea input:valid + .labelline, 
    .entryarea1 input:focus + .labelline1, 
    .entryarea1 input:valid + .labelline1, 
    .entryarea2 input:focus + .labelline2, 
    .entryarea2 input:valid + .labelline2 {
        color: var(--black);
    }
    
}

.input-row1 {
    gap: 1.5rem;
    display: flex;
    padding-left: 20px;
    justify-content: space-between;

    .entryarea, .entryarea-1, .entryarea1, .entryarea2, .entryarea3, .entryarea4 {
        flex-basis: 100%;
        position: relative;
    }

    .entryarea input {
        font-family: "Poppins";
        position: absolute;
        width: 145%;
        height: 23px;
        outline: none;
        font-size: 16px;
        padding: 0 18px;
        margin-top: 215px;
        height: 52px;
        border-radius: 5px;
        border: 1px solid var(--header-color);
        background: var(--white);
        transition: 0.1s ease;
    }

    .entryarea-1 input {
        font-family: "Poppins";
        position: absolute;
        width: 25%;
        height: 23px;
        outline: none;
        font-size: 16px;
        padding: 0 18px;
        margin-top: 215px;
        margin-left: 240px;
        height: 52px;
        border-radius: 5px;
        border: 1px solid var(--header-color);
        background: var(--white);
        transition: 0.1s ease;
    }

    .entryarea1 input {
        font-family: "Poppins";
        position: absolute;
        width: 85%;
        height: 23px;
        outline: none;
        font-size: 16px;
        padding: 0 18px;
        margin-top: 300px;
        height: 52px;
        border-radius: 5px;
        border: 1px solid var(--header-color);
        background: var(--white);
        transition: 0.1s ease;
    }

    .entryarea1 select {
        font-family: "Poppins";
        position: absolute;
        width: 95%;
        height: 23px;
        outline: none;
        font-size: 16px;
        padding: 0 18px;
        margin-top: 300px;
        height: 52px;
        border-radius: 5px;
        border: 1px solid var(--header-color);
        background: var(--white);
        transition: 0.1s ease;
    }
    
    .entryarea2 input {
        font-family: "Poppins";
        position: absolute;
        width: 85%;
        height: 23px;
        outline: none;
        font-size: 16px;
        padding: 0 18px;
        margin-top: 385px;
        height: 52px;
        border-radius: 5px;
        border: 1px solid var(--header-color);
        background: var(--white);
        transition: 0.1s ease;
    }

    .entryarea2 select {
        font-family: "Poppins";
        position: absolute;
        width: 95%;
        height: 23px;
        outline: none;
        font-size: 16px;
        padding: 0 18px;
        margin-top: 385px;
        height: 52px;
        border-radius: 5px;
        border: 1px solid var(--header-color);
        background: var(--white);
        transition: 0.1s ease;
    }

    .entryarea3 input {
        font-family: "Poppins";
        position: absolute;
        width: 85%;
        height: 23px;
        outline: none;
        font-size: 16px;
        padding: 0 18px;
        margin-top: 470px;
        height: 52px;
        border-radius: 5px;
        border: 1px solid var(--header-color);
        background: var(--white);
        transition: 0.1s ease;
    }

    .entryarea4 input {
        font-family: "Poppins";
        position: absolute;
        width: 95%;
        height: 23px;
        outline: none;
        font-size: 16px;
        margin-top: 470px;
        height: 52px;
        border-radius: 5px;
        border: 1px solid var(--header-color);
        background: var(--white);
        transition: 0.1s ease;
    }

    .labelline {
        position: absolute;
        font-size: 16px;
        padding: 0 10px;
        margin-top: 203px;
        margin-left: 12px;
        background-color: var(--white);
        transition: 0.2s ease;
    }

    .labelline-1 {
        position: absolute;
        font-size: 16px;
        padding: 0 10px;
        margin-top: 203px;
        margin-left: 250px;
        background-color: var(--white);
        transition: 0.2s ease;
    }

    .labelline1 {
        position: absolute;
        font-size: 16px;
        padding: 0 10px;
        margin-top: 288px;
        margin-left: 12px;
        background-color: var(--white);
        transition: 0.2s ease;
    }

    .labelline2 {
        position: absolute;
        font-size: 16px;
        padding: 0 10px;
        margin-top: 373px;
        margin-left: 12px;
        background-color: var(--white);
        transition: 0.2s ease;
    }

    .labelline3 {
        position: absolute;
        font-size: 16px;
        padding: 0 10px;
        margin-top: 458px;
        margin-left: 12px;
        background-color: var(--white);
        transition: 0.2s ease;
    }

    .labelline4 {
        position: absolute;
        margin-top: 460px;
        margin-left: 5px;
        color: #44474E;
        transform: translateY(-50%);
        font-size: 12px;
        font-weight: 500;
        opacity: 70%;
        pointer-events: none;
        transition: .3s;
    } 

    input[type="file"]::file-selector-button {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        font-family: "Poppins";
        font-size: 14px;
        background: var(--primary-color);
        color: var(--white);
        padding-top: 5px;
        height: 52px;
        border: 1px solid rgba(0, 0, 0, 0.16);
        transition: background-color 200ms;
        cursor: pointer;
    }

    .entryarea input:focus, 
    .entryarea input:valid,
    .entryarea-1 input:focus, 
    .entryarea-1 input:valid,
    .entryarea1 input:focus, 
    .entryarea1 input:valid, 
    .entryarea1 select:focus, 
    .entryarea1 select:valid,
    .entryarea2 input:focus, 
    .entryarea2 input:valid, 
    .entryarea2 select:focus, 
    .entryarea2 select:valid, 
    .entryarea3 input:focus, 
    .entryarea3 input:valid, 
    .entryarea4 input:focus, 
    .entryarea4 input:valid {
        color: #000;
        border: 1.5px solid var(--black);
    }

    .entryarea input:focus + .labelline, 
    .entryarea input:valid + .labelline, 
    .entryarea-1 input:focus + .labelline-1, 
    .entryarea-1 input:valid + .labelline-1,
    .entryarea1 input:focus + .labelline1, 
    .entryarea1 input:valid + .labelline1, 
    .entryarea1 select:focus + .labelline1, 
    .entryarea1 select:valid + .labelline1,
    .entryarea2 input:focus + .labelline2, 
    .entryarea2 input:valid + .labelline2, 
    .entryarea2 select:focus + .labelline2, 
    .entryarea2 select:valid + .labelline2, 
    .entryarea3 input:focus + .labelline3, 
    .entryarea3 input:valid + .labelline3 {
        color: var(--black);
    }

}

.buttons{

    .cancel-btn > button {
        font-family: "Poppins";
        border: none;
        position: absolute;
        text-align: center;
        font-weight: 600;
        letter-spacing: 1.2px;
        border-radius: 3px;
        color: var(--white);
        background: var(--cancel);
        text-decoration: none;
        height: 50px;
        margin-top: 548px;
        margin-left: 29%;
        width: 45%;
        width: 155px;
        font-size: 15px;
        cursor: pointer;
    }

    .cancel-btn > button:hover {
        background-color: var(--cancel-hover);
    }

    .add-btn > button {
        font-family: "Poppins";
        border: none;
        position: absolute;
        text-align: center;
        font-weight: 600;
        letter-spacing: 1.2px;
        border-radius: 3px;
        color: var(--white);
        // background: var(--primary-color);
        text-decoration: none;
        height: 50px;
        margin-top: 548px;
        margin-left: 48%;
        width: 45%;
        width: 155px;
        font-size: 15px;
        cursor: pointer;
    }

}