<main>
    <div class="main-container" (click)="closePopup()">
      <div class="detailsbody">
        <div class="table-content" (click)="$event.stopPropagation()">
          <div class="scroll-container">
            <table>
              <tr>
                <th *ngFor="let column of fixedColumns">{{ column }}</th>
                <ng-container *ngFor="let column of payroll[0] || []; let j = index">
                  <th *ngIf="j >= 4">{{ column }}</th>
                </ng-container>
              </tr>
              <tr *ngFor="let row of payroll; let i = index; let last = last;">
                <ng-container *ngIf="i > 0;">
                  <ng-container *ngFor="let data of row; let j = index;">
                    <td *ngIf=" i < payroll.length - 2"> {{ data || ' - ' }} </td>
                    <td *ngIf=" i >= payroll.length - 2"> {{ data || '' }} </td>
                  </ng-container>
                </ng-container>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
  