main {
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    // padding-right: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

// Table

.table-content {
    border-radius: 10px;
    padding: 30px 45px;
    margin-top: 55px;
    margin-left: 25px;
    margin-right: 15px;
    background: var(--white);
    width: auto;
    height: auto;
    margin-bottom: 30px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.322);
    border: 0.5px solid var(--table-border);
}

.table-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.table-head h1 {
    color: var(--landing-font);
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 5px;
}

.table-head input[type="text"] {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    width: 250px;
    height: 2em;
    border: none;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

input:focus {
    outline: none;
}

.search-container {
    display: flex;
    align-items: center;
    border-radius: 7px;
    height: 2.5em;
    border: 1px solid var(--table-border);
    background-color: var(--white);
}

.search-container button {
    height: 2.5em;
    width: 2.5em;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    color: var(--white);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: 16px;
    cursor: default;
}


.action-container {
    display: flex;
    align-items: center;
    padding: 10px;
}

.update-container {
    margin-left: 15px;
}

.update-container button {
    padding: 1rem;
    border-radius: 0.25rem;
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    background-color: var(--primary-color); 

    &:hover {
        background-color: var(--buttons-hover);
        transform: scale(1.1);
        
    }
}

@media screen and (max-width: 600px) {
    .table-head .search-container, .update-container {
        float: none;
    }

    .table-head a, .table-head input[type="text"], .topnav .search-container button, .update-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .table-head input[type="text"] {
        border: 1px solid #ccc;
    }

    .update-container button {
        margin-top: 10px;
    }
}

/* table */

table {
    border-radius: 5px;
    border: 1px solid var(--table-border);
}

table,
th,
td {
    padding: 20px;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    border-bottom: 1.5px solid var(--table-border);
}

th {
    background-color: var(--primary-color) !important;
    color: var(--white);
    font-size: 15px;
    letter-spacing: 0.8px;
}

table tr:hover {
    background-color: #e9e9e9;
}

table td:nth-child(1) {
    min-width: 100px;
    max-width: 100px;
}

table td:nth-child(2) {
    min-width: 200px;
    max-width: 200px;
}

table td:nth-child(3) {
    min-width: 100px;
    max-width: 100px;
}

table td:nth-child(4) {
    min-width: 150px;
    max-width: 150px;
}

table td:nth-child(5) {
    min-width: 150px;
    max-width: 150px;
}

.done {
    text-transform: capitalize;
    font-weight: 700;
    color: var(--primary-color);
}

.not-yet-done {
    text-transform: capitalize;
    font-weight: 700;
    color: var(--danger);
}

.incomplete {
    text-transform: capitalize;
    font-weight: 700;
    color: var(--late);
}

// .Pending {

// }

.action-buttons {
    display: flex;
    gap: 0.5rem;
}

.action-button {
    padding: 1rem;
    border-radius: 0.25rem;
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
}

.payroll-button {
    background-color: var(--primary-color);

    &:hover {
        background-color: var(--buttons-hover);
        transform: scale(1.1);
    }
}

.payslips-button {
    background-color: var(--time-in-button);

    &:hover {
        background-color: var(--time-in-button-hover);
        transform: scale(1.1);
    }
}
