<div class="main-content">
    <div class="header"> 
        <h1> History </h1>
        <div class="button-container">
            <button class="btn-secondary paylip-back" (click)="redirectToPayslip()"> Back </button>
        </div>
    </div>

    <div class="loading" *ngIf="isLoading">
        <!-- <app-spinner></app-spinner> -->
    </div>

    <ng-container *ngIf="!isLoading">
        <ng-container *ngFor="let payslip of payslips; let i = index;">
            <div class="table-content" (click)="clickTable(i)">
                <div class="table-head">
        
                    <div class="input-row">
                        <div class="information-case">
                            <th> EMPLOYEE NAME: </th>  
                            <td> {{ employee.full_name }} </td>
                        </div>
            
                        <div class="information-case">
                            <th> PAYROLL PERIOD: </th> 
                            <td> {{ payslipDetails[i].payday | date: 'MMMM' }} {{ getPayDateRange(payslipDetails[i].payday) }}, {{ payslipDetails[i].payday | date: 'YYYY' }} </td>  
                        </div>
                    </div>
        
                    <div class="input-row">
                        <div class="information-case">
                            <th> ID NUMBER: </th>  
                            <td> {{ employee.employee_id }} </td>
                        </div>
        
                        <div class="information-case">
                            <th> RATE: </th>  
                            <td> {{ employee.hourly_rate }} </td> 
                        </div>
                    </div>
        
                    <div class="input-row">
                        <div class="information-case">
                            <th> POSITION: </th> 
                            <td> {{ employee.position }} </td> 
                        </div>
                    </div>
                </div>
        
                <div class="table-content1" *ngIf="activeTable == i && hasActive">
        
                    <table>
                        <tr class="table-header">
                            <th> Earnings </th>
                            <th> </th>
                            <th> Amount </th>
                            <th> Earnings </th>
                            <th> </th>
                            <th> Amount </th>
                            <th> Deductions </th>
                            <th> Amount </th>
                        </tr>
        
                        <ng-container *ngFor="let value of payslips[i]">
                            <tr>
                                <td> {{ value[0] }} </td>
                                <td> {{ value[1] }} </td>
                                <td> {{ value[2] }} </td>
                                <td> {{ value[3] }} </td>
                                <td> {{ value[4] }} </td>
                                <td> {{ value[5] }} </td>
                                <td> {{ value[6] }} </td>
                                <td> {{ value[7] }} </td>
                            </tr>
                        </ng-container>
        
                        <tr class="totals">
                            <td> Adjusted Pay </td>
                            <td> </td>
                            <td> {{ payslipDetails[i].adjusted_pay }} </td>
                            <td> Total Additions </td>
                            <td> </td>
                            <td> {{ payslipDetails[i].total_additions  }}</td>
                            <td> Total Deductions </td>
                            <td> {{ payslipDetails[i].total_deductions }}</td>
                        </tr>
        
                        <tr>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> Total Earnings </td>
                            <td> </td>
                            <td> {{ payslipDetails[i].gross_pay }}</td>
                            <td> Net Salary Transferred </td>
                            <td> {{ payslipDetails[i].net_pay }}</td>
                        </tr>
                        
                    </table>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>
