<div class="main-content">
    <div class="header"> 
        <h1> History </h1>
        <div class="button-group">
            <button class="btn-secondary paylip-back" (click)="redirectToPayslip()"> Back </button>
        </div>
    </div>

    <div class="loading" *ngIf="isLoading">
        <!-- <app-spinner></app-spinner> -->
    </div>

    <ng-container *ngIf="!isLoading">
        <ng-container *ngFor="let payslip of payslips; let i = index;">
            <div class="table-content" (click)="clickTable(i)">
                <div class="table-head">
        
                    <div class="input-row">
                        <div class="information-case">
                            <th> EMPLOYEE NAME: </th>  
                            <td> {{ employee.full_name }} </td>
                        </div>
            
                        <div class="information-case">
                            <th> PAYROLL PERIOD: </th> 
                            <td> {{ payslipDetails[i].payday_start | date: 'mediumDate' }} - {{ payslipDetails[i].payday_end | date: 'mediumDate' }} </td>  
                        </div>
                    </div>
        
                    <div class="input-row">
                        <div class="information-case">
                            <th> ID NUMBER: </th>  
                            <td> {{ employee.employee_id }} </td>
                        </div>
        
                        <div class="information-case">
                            <th> RATE: </th>  
                            <td>{{ payslipDetails[i].rate }} </td> 
                        </div>
                    </div>
        
                    <div class="input-row">
                        <div class="information-case">
                            <th> POSITION: </th> 
                            <td> {{ employee.position }} </td> 
                        </div>

                        <div class="button-container">
                            <button class="btn-primary export"
                             (click)="exportPayslipAsPDF(i)">Download</button>
                        </div>
                    </div>
                </div>
        
                <div class="table-content1" *ngIf="activeTable == i && hasActive">
                    <div class="earnings-and-deductions">
                        <div class="earnings-container">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Attendance Earnings</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let value of payslips[i]; let j = index;">
                                        <ng-container *ngIf="value[0] || j == 0">
                                            <td>
                                                <ng-container *ngIf="value[0]">
                                                    {{ value[0] }} ({{ value[1] }})
                                                </ng-container>
                                                
                                                <ng-container *ngIf="!value[0]"> - </ng-container>
                                            </td>
                                            <td>{{ value[2] || '-' }}</td>
                                        </ng-container>
                                    </tr>
                                    <tr class="total-row">
                                        <td><strong>Total</strong></td>
                                        <td><strong>{{ payslipDetails[i].adjusted_pay }}</strong></td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th>Other Earnings</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let value of payslips[i]; let j = index;">
                                        <ng-container *ngIf="value[3] || j == 0">
                                            <td> {{ value[3] || '-' }} </td>
                                            <td>{{ value[4] || '-' }}</td>
                                        </ng-container>
                                    </tr>
                                    <tr class="total-row">
                                        <td><strong>Total</strong></td>
                                        <td><strong>{{ payslipDetails[i].total_additions }}</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="deductions-loans-container">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Deductions</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let value of payslips[i]; let i = index;">
                                        <ng-container *ngIf="value[5] || i == 0">
                                            <td>{{ value[5] || '-' }}</td>
                                            <td>{{ value[6] || '-' }}</td>
                                        </ng-container>
                                    </tr>
                                    <tr class="total-row">
                                        <td><strong>Total</strong></td>
                                        <td><strong>₱ {{ payslipDetails[i].total_monthly | number:'1.2-2' }}</strong></td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th>Other Deductions</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let value of payslips[i]; let i = index;">
                                        <ng-container *ngIf="value[7] || i == 0">
                                            <td>{{ value[7] || '-' }}</td>
                                            <td>{{ value[8] || '-' }}</td>
                                        </ng-container>
                                    </tr>
                                    <tr class="total-row">
                                        <td><strong>Total</strong></td>
                                        <td><strong>₱ {{ payslipDetails[i].total_other_deductions | number:'1.2-2' }}</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                
                    <hr class="divider-line">
                    
                    <div class="totals-wrapper">
                        <table class="pay-row-table">
                            <tr class="pay-row">
                                <td><strong>Gross Pay</strong></td>
                                <td><strong>{{ payslipDetails[i].gross_pay }}</strong></td>
                            </tr>
                        </table>
                        
                        <table class="total-deduc-table">
                            <tr class="total-deduc">
                                <td><strong>Total Deductions</strong></td>
                                <td><strong>{{ payslipDetails[i].total_deductions }}</strong></td>
                            </tr>
                        </table>
                    </div>
                    
                    <div class="totals-wrapper">
                        <table class="pay-row-table">
                            <tr class="pay-row">
                                <td><strong>Net Pay</strong></td>
                                <td><strong>{{ payslipDetails[i].net_pay }}</strong></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>
