.main-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.view-proof {
  position: relative;
  background: var(--white);
  width: 600px;
  max-height: 80vh; 
  overflow-y: auto;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.322);
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.header {
  display: flex;
  padding: 20px 30px 30px;
  position: fixed;
  margin-left: -20px;
  margin-top: -20px;
  width: calc(630px - 50px); 
  background-color: var(--primary-color);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; 
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.192);
  padding-bottom: 15px;

  .close-button {
    position: relative;
      top: 0;
      right: 0;
      background-color: transparent;
      border: none;
      font-size: 40px; 
      cursor: pointer;
      color: var(--white);
      display: flex;
      align-items: center;
      justify-content: center;
  
      i {
          margin: 0; 
          font-size: inherit; 
      }
  }

  h1 {
    color: var(--white);
    padding-top: 5px;
    width: 100%;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
  }
}

.cards-container {
  margin-top: 100px;  
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background: var(--white);
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
  padding: 15px;
  width: 100%;

  .day {
      font-size: 18px;
      font-weight: 600;
  }

  .date {
      margin-top: 5px;
      font-size: 16px;
  }

  .time-uploaded {
      margin-top: 10px;
      font-size: 14px;
      color: #555;
  }

  .images {
    margin-top: 10px;
    
    .image-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 10px;
        
        img {
            width: 150px;
            height: 200px;
            object-fit: cover;
            border-radius: 5px;
        }
    }

    .more-images {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .image-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr); 
            gap: 10px;

            img {
                width: 150px;
                height: 200px;
                object-fit: cover;
                border-radius: 5px;
            }
        }
    }

      .view-more-button {
          margin-top: 10px;
          background-color: var(--cancel);
          color: var(--white);
          border: none;
          border-radius: 5px;
          padding: 5px 10px;
          cursor: pointer;
          font-size: 14px;
          transition: background-color 0.3s;
      }
  }
}
