<main>
  <div class="main-container">
    <form class="form-info">
      <div class="header">
        <h1>Employee's Personal Information</h1>
        <button type="button" class="close-button" (click)="closePopup()">
          <i class='bx bx-x'></i>
        </button>
      </div>

      <div class="detailsbody">
        <div class="employee-container">
          <div class="employee-image">
            <img [src]="employee.image" alt="Employee Photo">
          </div>

          <div class="employee-details">
            <div class="detail-item">
              <label>Full Name:</label>
              <p>{{ employee.fullName }}</p>
            </div>

            <div class="detail-item">
              <label>ID Number:</label>
              <p>{{ employee.idNumber }}</p>
            </div>

            <div class="detail-item">
              <label>Gender:</label>
              <p>{{ employee.gender }}</p>
            </div>

            <div class="detail-item">
              <label>Contact Number:</label>
              <p>{{ employee.contactNumber }}</p>
            </div>

            <div class="detail-item">
              <label>Position:</label>
              <p>{{ employee.position }}</p>
            </div>

          </div>
        </div>
      </div>
    </form>
  </div>
</main>
