<h2 mat-dialog-title><strong>Terms and Conditions for the users</strong></h2>
<mat-dialog-content>
  <!-- <p>
    Welcome to PayOclock! These Terms and Conditions outline the responsibilities, obligations, and 
    permissible usage of the admin-side features of the application. By using the application, you agree to 
    abide by these terms.
  </p><br> -->
  <p><strong> Acceptance of Terms </strong> </p>
  <p> - By accessing or using the Application, you agree to comply with these Terms & Conditions. If you do not 
    agree, do not use the Application </p> <br> 
  <p><strong> User Responsibilities </strong></p><br>

  <p><strong> Admins:</strong></p> 
  <p> - Ensure the accuracy and confidentiality of employee data. </p>
  <p>- Use the Application solely for purposes related to payroll management and employee 
    monitoring </p><br>

  <p><strong> Employees: </strong></p>
 <p> - Use the Application only for its intended purposes, including viewing payslips, timing in 
    and out, and submitting requests.</p>
  <p> - Provide accurate and truthful information in all submissions. </p><br>

  <p><strong>  Prohibited Activities </strong></p>
  <p> Users are prohibited from:</p>
  <p> - Sharing login credentials with unauthorized individuals.</p>
  <p> - Using the Application to engage in illegal activities or violate company policies. </p>
  <p> - Tampering with or attempting to breach the security of the Application. </p><br>

  <p><strong> Termination of Access </strong></p> 
  <p> - GM18 Driving School reserves the right to terminate or suspend access to the Application for any user 
    who violates these Terms & Conditions or engages in unauthorized activities.</p><br>

  <p><strong> Limitation of Liability </strong></p>
  <p> GM18 Driving School is not liable for:</p>
  <p> - Technical issues affecting the availability or functionality of the Application </p>
  <p> - Unauthorized access resulting from user negligence.</p>
  <p> - Loss or damage resulting from misuse of the Application.</p><br> 

  <p><strong> Updates to Terms and Conditions </strong></p>
  <p> - GM18 Driving School may update these Terms & Conditions  as needed. Users will be 
    notified of significant changes, and continued use of the Application constitutes acceptance of the 
    updated terms.</p><br>

  <p><strong> Contact Information </strong></p>
  <p> For inquiries or concerns regarding these policies, please contact us at: gm18drivingschool&#64;gmail.com
    payoclock24&#64;gmail.com></p><br>

  <h4> By using this application, you agree to these Terms and Conditions. Please contact
    payoclock24&#64;gmail.com for any questions or assistance </h4>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="close">Close</button>
</mat-dialog-actions>
