.main-content {
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.add-announcement {
  background: var(--primary-color);
  width: 140px;
  height: 45px;
  text-decoration: none;
  color: var(--white);
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.322);
  transition: .3s;
  transform: translateY(-5px);
  border-radius: 3px;
  border: 1px;
  padding-right: 25px;
  padding-left: 25px;
  font-weight: bold;
  font-size: 16px;
  margin-top: 30px;
  margin-right: 15px;
  float: right;
  text-align: center;
}

.add-announcement:hover {
  box-shadow: 0px 8px 15px -10px rgb(125, 125, 125);
  transform: translate(0px, -2px);
  background: var(--buttons-hover);
  cursor: pointer;
  text-decoration: none;
}


.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.header h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 22px;
  padding-left: 25px;
  padding-top: 45px;
}

.table-content {
  border-radius: 10px;
  padding: 30px 30px;
  padding-bottom: 50px;
  margin-top: 25px;
  margin-bottom: 30px;
  margin-left: 25px;
  margin-right: 15px;
  background: var(--white);
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start; 
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.322);
  border: 0.5px solid var(--table-border);
  position: relative;
  
  .content-left {
    padding-top: 25px;
    flex: 0 0 auto;
    padding-left: 25px; 

    .image-holder {
      width: 500px; 
      height: auto;
      display: block;
    }
  }

  .content-right {
    padding-top: 25px;
    padding-left: 45px;
    flex: 1; 
    padding-left: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    
    .title {
      font-size: 1.5rem;
      margin-bottom: 10px; 
    }

    .author {
      font-size: 1rem;
      color: #666;
      margin-bottom: 10px; 
    }

    .description {
      font-size: 1rem;
      color: #666;
      text-align: justify;
      font-family: 'poppins';
      padding-right: 25px;
      padding-bottom: 95px; 
      white-space: pre-wrap; 
    }
  }

  .button-container {
    position: absolute;
    bottom: 35px; 
    right: 55px;  
    display: flex;
    gap: 1rem;

    .btn {
      padding: 15px 25px;
      width: 150px;
      height: 45px;
      border: 1px;
      border-radius: 3px;
      font-weight: bold;
      font-size: 16px;
      text-decoration: none;
      cursor: pointer;
      text-align: center;
      box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.322);
      transition: .3s;
      transform: translateY(-5px);

      &:hover {
        box-shadow: 0px 8px 15px -10px rgb(125, 125, 125);
        transform: translate(0px, -2px);
      }
    }

    .edit-btn {
      background-color: var(--time-in-button);
      color: var(--white);
      
      &:hover {
        background-color: var(--time-in-button-hover);
      }
    }

    .delete-btn {
      background-color: var(--danger);
      color: var(--white);

      &:hover {
        background-color: var(--danger-hover);
      }
    }
  }
}


.container h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 19px;
  padding-left: 25px;
  padding-top: 35px;
}
  
/* paginator buttons paedit na lang */
.paginator {
  float: right;
  margin-right: 20px;
  margin-bottom: 200px;
}

.paginator-select {
  text-align: right;
  width: 70px;
  font-size: 20px;
  padding: 5px;
  margin: 5px;
}

.paginator-btn {
  font-weight: bolder;
  font-size: 20px;
  padding: 5px;
  width: 50px;
  margin: 5px;
}