<div class="main-content" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</div>

<div class="main-content" *ngIf="!isLoading">
    <div id="first" class="header"> 
        <h1> Latest Announcement </h1>
           <button class="add-announcement" type="button" (click)="openDialog()"> Add </button>
    
        </div>

        <div class="table-content">
            <div class="content-left">
                <img [src]="posts[0].image || '/assets/images/background.jpg'" alt="Description of Image" class="image-holder">
            </div>
            <div class="content-right">
                <h2 class="title"> {{ posts[0].title }} </h2>
                <pre class="description"> {{ posts[0].content }} </pre>
            </div>
            <div class="button-container">
                <button class="btn edit-btn" type="button" (click)="openDialog(posts[0], 'update')">Edit</button>
                <button class="btn delete-btn" (click)="archive(posts[0].id)">Delete</button>
            </div>
        </div>
        

    <div class="container">
        <h1> Previous Announcements </h1>
    </div>

    <!-- Do not get the latest  -->
    <ng-container *ngFor="let post of posts; let i = index;">
        <ng-container *ngIf="i >= paginatorIndex && i < paginatorIndex + paginatorCount">

            <!-- Container proper -->
            <div class="table-content">
                <div class="content-left">
                    <img [src]="post.image || '/assets/images/background.jpg'" alt="Description of Image" class="image-holder">
                </div>
                <div class="content-right">
                    <h2 class="title"> {{ post.title }} </h2>
                    <pre class="description">{{ post.content }}</pre>
                </div>
                <div class="button-container">
                    <button class="btn edit-btn" type="button" (click)="openDialog(post, 'update')">Edit</button>
                    <button class="btn delete-btn" (click)="archive(post.id)">Delete</button>
                </div>  
            </div>

        </ng-container>
    </ng-container>

    <div class="paginator">
        <div class="label"> 
            Showing {{ paginatorIndex }} - 
            {{ (this.paginatorIndex + this.paginatorCount) > this.posts.length ? this.posts.length-1 : this.paginatorIndex + this.paginatorCount-1 }} 
            of {{ posts.length-1 }} 
        </div>

        <select (change)="changePaginator($event)" class="paginator-select">
            <option value="5">   5 </option>
            <option value="10"> 10 </option>
            <option value="15"> 15 </option>
        </select>

        <button class="paginator-btn" (click)="first()">   << </button>
        <button class="paginator-btn" (click)="previous()"> < </button>
        <button class="paginator-btn" (click)="next()">     > </button>
        <button class="paginator-btn" (click)="last()">    >> </button>
    </div>
    
</div>