.body-content {
    padding-left: 220px;
    padding-top: 60px;
    padding-bottom: 50px;
}

.admin-container {
    min-width: 85%;
    max-width: fit-content;
    position: absolute;
}

// HEADER

.header {
    position: fixed;
    background-color: var(--header-color);
    height: 60px;
    width: 100%;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.left-side {
    flex: 1;
}

h1 {
    margin-left: 15.5rem;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    flex: 1;
}

.right-side {
    display: flex;
    align-items: center;
    gap: 20px; /* Adds space between notification and date/time */
}

.notifications {
    position: relative;
    padding-right: 15px;
    cursor: pointer;

    i {
        font-size: 1.5rem;
        color: var(--landing-font);
    }

    .notification-count {
        position: absolute;
        top: -2px;
        left: 15px;
        background-color: var(--danger);
        color: white;
        border-radius: 55%;
        padding: 2px 6px;
        font-size: 0.8rem;
    }
}

.notification-list {
    position: absolute;
    top: 69px;
    right: 15%;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
    max-height: 300px;
    overflow-y: auto;
    z-index: 10;
    padding: 10px;
}

.notification-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;

    &:last-child {
        border-bottom: none;
    }

    &:hover {
        background-color: #f4f4f4;
    }
}

.notification-message {
    font-size: 14px;
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    padding-right: 15px;
    max-width: calc(100% - 60px);
}

// .notification-message i {
//     margin-right: 5px; 
//     white-space: nowrap; 
//     text-align: left;
    
// }

.notification-time {
    font-size: 12px;
    color: gray;
    text-align: right;
    white-space: nowrap; 
}



.current-date-time {
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
    margin-right: 4vw;
    color: var(--cancel);
}

.current-date-time i {
    margin-right: 8px;
    font-size: 20px;
    color: var(--cancel);
}

// SIDEBAR CONTENT 

.sidebar-content {
    position: relative;
    width: 230px;
    top: 0;
    left: 0;
    height: auto;
    padding: 30px 0;
    z-index: 100;
    transition: all 0.3s ease;
    overflow-y: hidden;
    overflow-x: auto;

    .logo img {
        height: 200px;
        width: 200px;
        display: flex;
        justify-content: center;
        margin-top: 25px;
        margin-left: 5px;
        
    }

    .burger-icon {
        font-size: 24px; 
        color: var(--white);
        margin-left: auto; 
        cursor: pointer;
        display: flex;
        flex-direction: row-reverse;
    }

    mat-sidenav {
        position: fixed;
        top: 0;
        left: 0;
        width: 220px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: var(--primary-color);
        height: 100%;
    
    }

    mat-nav-list {

        a {
            display: flex;
            padding: 10px 10px 10px 10px;
            text-decoration: none;

            .tab-name {
                margin-top: 3px;
                font-size: 17px;
                padding-left: 10px;
                padding-top: 2px;
                color: var(--white);
            }

            .tab-icon {
                font-size: 18px;
                padding-left: 10px;
                margin-top: 30px;
                color: var(--white);
            }
        }

        a:hover {
            background-color: var(--buttons-hover);
            color: var(--white);

            .tab-icon, .tab-name {
                color: var(--white); 
            }
        }

        a.active-link {
            width: 219px;
            background-color: var(--background-color);

            .tab-icon, .tab-name {
                color: var(--primary-color); 
                font-weight: 700;
            }
        }

    }

    .logout {
        margin-top: 25px; 
        text-align: center;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        cursor: pointer;
        background-color: var(--primary-color);
        
        .tab-icon {
          color: var(--white);
        }
    
        &:hover {
          background-color: var(--buttons-hover);
        }
    }

    // .logoutbtn .logout {
    //     display: flex;
    //     color: var(--white);
    //     align-items: center;
    //     justify-content: center;
    //     font-size: 16px;
    //     padding: 10px 10px 10px 10px;
    // }
    
    // .logoutbtn .logout:hover {
    //     color: var(--black);
    //     font-weight: 500;
    // }
    
    // .logoutbtn {
    //     position: fixed;
    //     bottom: 25px;
    //     left: 0;
    //     width: 220px;
    //     cursor: pointer;
    //     transition: all 0.5s ease;
    // }

}

