<div class="content">
    <div class="header">
        <h1> Payroll Management System </h1>
    </div>
    
    <div class="body-content">
        <div class="admin-container"> </div>
            <ng-container *ngIf="!isLoading">
                <router-outlet></router-outlet> 
            </ng-container>
    </div>

    <nav class="sidebar-content">
        <div class="logo-title">
            <div class="logo">
                <img src="assets/images/gm18.png">
            </div>
        </div>

        <div class="sidebar-tabs">
            <ul class="tabs">
                <li class="tab">
                    <a class="tab-link" routerLink="dashboard" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
                    <span class="tab-icon"> <i class='bx bxs-dashboard'></i> </span>
                    <span class="tab-name">Dashboard</span>
                    </a>
                </li>

                <li class="tab">
                    <a class="tab-link" routerLink="employee" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:false}">
                        <span class="tab-icon"> <i class='bx bxs-user-detail'></i> </span>
                    <span class="tab-name">Employees</span>
                    </a>
                </li>

                <li class="tab">
                    <a class="tab-link" routerLink="payroll" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:false}">
                    <span class="tab-icon"> <i class='bx bxs-coin-stack'></i> </span>
                    <span class="tab-name"> Payrolls </span>
                    </a>
                </li>

                <li class="tab">
                    <a class="tab-link" routerLink="payslip" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
                    <span class="tab-icon"> <i class='bx bxs-wallet'></i> </span>
                    <span class="tab-name"> Payslips </span>
                    </a>
                </li>

                <li class="tab">
                    <a class="tab-link" routerLink="report" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
                    <span class="tab-icon"> <i class='bx bxs-report'></i> </span>
                    <span class="tab-name"> Reports </span>
                    </a>
                </li>
            </ul>
            <div class="logoutbtn">
                <div class="logout" routerLink="/login">
                    <span> <i class='bx bx-log-out bx-rotate-180' ></i></span>
                </div>
                </div> 
        </div>
    </nav>
</div>