<main>
    <div class="main-container">
        <div class="form-info">
            <div class="header">
                <h1> Personal Information</h1>
                <button class="exit-button" (click)="closepopup()"> &times; </button>
            </div>
            <div class="detailsbody">

                <div class="input-row">
                    <div class="entryarea">
                        <input type="text" name="firstname">
                        <div class="labelline"> Firstname </div>
                    </div>
                </div>

                <div class="input-row">
                    <div class="entryarea1">
                        <input type="text"  name="middlename"> 
                        <div class="labelline1"> Middlename </div>
                    </div>
                </div>

                <div class="input-row1">
                    <div class="entryarea">
                        <input type="text" name="lastname">
                        <div class="labelline"> Lastname </div>
                    </div>

                    <div class="entryarea-1">
                        <input type="text" name="ext">
                        <div class="labelline-1"> Extension </div>
                    </div>
                </div>

                <div class="input-row1">
                    <div class="entryarea1">
                        <select> 
                            <option value="male"> Male </option>
                            <option value="female" selected> Female </option>
                        </select>
                        <div class="labelline1"> Gender  </div>
                    </div>

                    <div class="entryarea1">
                        <input type="number" name="id">
                        <div class="labelline1"> ID Number </div>
                    </div>
                </div>

                <div class="input-row1">
                    <div class="entryarea2">
                        <select> 
                            <option value="male"> Admin </option>
                            <option value="female" selected> Employee </option>
                        </select>
                        <div class="labelline2"> Type  </div>
                    </div>

                    <div class="entryarea2">
                        <input type="text" name="position">
                        <div class="labelline2"> Position </div>
                    </div>
                </div>

                <div class="input-row1"> 
                    <div class="entryarea3">
                        <input type="number" name="contact">
                        <div class="labelline3"> Contact Number </div>
                    </div>

                    <div class="entryarea4">
                        <input class="inputtxt" type="file">
                        <span></span>
                        <div class="labelline4"> Upload Image </div>
                    </div>
                </div>

                <div class="buttons">
                    <div class="add-btn">
                        <button class = "button" type="submit" id="add"> ADD </button>
                    </div>

                    <div class="cancel-btn">
                        <button class = "button" type="cancel" value="Cancel" id="cancel"> CANCEL </button>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
</main>