.main-content {
    justify-content: center;
    align-items: center;
    padding: 60px 50px;
    padding-bottom: 20px;
  }  
  
  .employee-container {
    display: flex;
    align-items: center;
    border: 1px solid var(--border);
    border-radius: 8px;
    padding: 35px 65px;
    background: var(--white);
    width: 100%;
    max-width: 93%;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.322);
  
    .employee-left {
      flex: 0 0 auto;
      margin-right: 15px;
  
      .employee-image {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  
    .employee-middle {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
  
      .employee-name {
        font-size: 1.5rem;
        margin-left: 20px;
      }
  
      .employee-position {
        font-size: 1rem;
        color: #666;
        margin-top: 5px;
        margin-left: 20px;
      }
    }
  
    .employee-right {
      flex: 0 0 auto;
      text-align: right;
      font-weight: 600;
  
      .time-in {
        font-size: 4rem;
        margin-right: 90px;
      }
  
      .time-in-info {
        display: flex;
        align-items: center;
        margin-top: 5px;
        margin-left: 70px;
        font-size: 1.4rem;
        font-weight: 500;
  
        .icon-timein {
          font-size: 1.2rem;
          margin-right: 5px;
          font-size: 1.4rem;
          font-weight: 500;
        }
      }
    }
  }
  