<div class="main-content">
  <div class="employee-body"> 

    <div class="employee-container">
      <div class="employee-middle">
        <!-- <img src='assets/images/hustler.png' alt="Employee Image" class="employee-image"> -->
        <h2 class="employee-name">{{ employee.full_name }}</h2>
        <p class="employee-position">{{ employee.position }}</p>
        <p class="current-time">{{ currentTime }}</p>
        <p class="current-date">{{ currentDate }}</p>
        <button class="btn-primary toggle-button" [ngClass]="!isTimedIn ? 'btn-time-in' : 'btn-time-out'" (click)="toggleTime()" [disabled]="currentTimeOut || buttonLoading">
          {{ isTimedIn ? 'Time Out' : 'Time In'  }}
        </button>
      </div>
    </div>
  
    <div class="employee-container">
      <div class="employee-right">
        <h2 class="accumulated-title">Accumulated Hours</h2>
        <p class="accumulated-hours">{{ accumulatedHours || '0h 0m' }}</p>
      </div>
    </div>
  </div>
  
  
<!-- Attendance Table -->
<div class="table-content">
  <div class="table-header">
    <h2 class="table-title">Attendance Records</h2>
    <!-- <button class="report-button" type="button" (click)="generateReport()">Export</button> -->
    <div class="right-side">
      <button class="report-button" type="button">Export</button>
      <div class="date-range-dropdown">
        <div class="select-wrapper">
          <select (change)="changeData()" [(ngModel)]="filterValue">
            <option *ngFor="let element of dateFilter" [value]="element"> {{ element }} </option>
          </select>
        </div>
      </div>
    </div>
  </div>
<table class="attendance-table">
  <thead>
    <tr>
      <th>{{ currentMonthYear }}</th>
      <th>Time In</th>
      <th>Time Out</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of attendance">
      <td>
        <span>{{ record.date }} - {{ record.day }}</span>
      </td>
      
      <td>{{ record.time_in || 'N/A' }}</td>
      
      <td>{{ record.time_out || 'N/A' }}</td>
    </tr>
  </tbody>
</table>



    
