<div class="main-content">
    <div class="button-group">
        <div class="left-buttons">
            <button class="btn-primary toggle-button" [ngClass]="isTimedIn ? 'btn-time-in' : 'btn-time-out'" (click)="toggleTime()">
                {{ isTimedIn ? 'Time In' : 'Time Out' }}
            </button>
        </div>
        <div class="right-buttons">
            <button class="btn-primary upload" type="button" (click)="openDialog()">Proof</button>
            <button class="btn-primary upload" type="button" (click)="openHistory()">History</button>
        </div>
    </div>
    
    <div class="employee-container">
        <div class="employee-left">
            <img [src]="employee.image" alt="Employee Image" class="employee-image">
            <!-- <img src="/assets/images/hacker.jpg" class="employee-image"> -->
        </div>
        <div class="employee-middle">
            <h2 class="employee-name">{{ employee.full_name }}</h2>
            <p class="employee-position">{{ employee.position }}</p>
        </div>
        <div class="employee-right">
            <p class="time-in">{{ currentTimeIn }}</p>
        </div>      
    </div>

    <div class="attendance-table">
        <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span class="label">Time In</span>
                        {{ attendance[0].time_in || 'N/A' }}
                    </td>
                    <td>
                        <span class="label">Time In</span>
                        {{ attendance[1].time_in || 'N/A' }}
                    </td>
                    <td>
                        <span class="label">Time In</span>
                        {{ attendance[2].time_in || 'N/A' }}
                    </td>
                    <td>
                        <span class="label">Time In</span>
                        {{ attendance[3].time_in || 'N/A' }}
                    </td>
                    <td>
                        <span class="label">Time In</span>
                        {{ attendance[4].time_in || 'N/A' }}
                    </td>
                    <td>
                        <span class="label">Time In</span>
                        {{ attendance[5].time_in || 'N/A' }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="label">Time Out</span>
                        {{ attendance[0].time_out || 'N/A' }}
                    </td>
                    <td>
                        <span class="label">Time Out</span>
                        {{ attendance[1].time_out || 'N/A' }}
                    </td>
                    <td>
                        <span class="label">Time Out</span>
                        {{ attendance[2].time_out || 'N/A' }}
                    </td>
                    <td>
                        <span class="label">Time Out</span>
                        {{ attendance[3].time_out || 'N/A' }}
                    </td>
                    <td>
                        <span class="label">Time Out</span>
                        {{ attendance[4].time_out || 'N/A' }}
                    </td>
                    <td>
                        <span class="label">Time Out</span>
                        {{ attendance[5].time_out || 'N/A' }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
