.main-content {
  justify-content: center;
  align-items: center;
  padding: 60px 50px;
  padding-right: 10px;
  padding-bottom: 50px;
} 
  
.employee-container {
  display: flex;
  align-items: center;
  border: 1px solid var(--border);
  padding: 35px 65px;
  background: var(--white);
  width: 90%;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.322);
  border: 0.5px solid var(--table-border);

  .employee-left {
    flex: 0 0 auto;
    margin-right: 15px;

    .employee-image {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  
  .employee-middle {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .employee-name {
      font-size: 1.7rem;
      margin-top: 20px;
      margin-left: 20px;
    }

    .employee-position {
      font-size: 1.2rem;
      color: #666;
      margin-left: 20px;
    }

    .history { 
      color: var(--primary-color);
      font-size: 1rem;
      margin-top: 2px;
      margin-left: 20px;
      font-weight: 500;
      padding-bottom: 25px;
      cursor: pointer;
    }
  }
  
  .employee-right {
    flex: 0 0 auto;
    text-align: right;
    font-weight: 600;
  
    .time-in {
      font-size: 4rem;
      margin-right: 90px;
      font-weight: 300;
      color: var(--landing-font); 
    }
  }  
}

.button-group {
  display: flex;
  justify-content: space-between; /* Align buttons to left and right */
  align-items: center; /* Vertically center the buttons */
  width: 100%; /* Make the container take full width */
}

.left-buttons, .right-buttons {
  display: flex;
  gap: 10px; /* Add space between buttons */
}

.upload {
  width: 205px;
  height: 45px;
  text-decoration: none;
  color: var(--white);
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.322);
  transition: .3s;
  transform: translateY(-5px);
  border-radius: 3px;
  border: 1px;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Poppins';
  margin-top: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload:hover {
  box-shadow: 0px 8px 15px -10px rgb(125, 125, 125);
  transform: translate(0px, -2px);
  cursor: pointer;
  text-decoration: none;
}

.toggle-button {
  width: 205px;
  height: 45px;
  text-decoration: none;
  color: var(--white);
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.322);
  transition: .3s;
  transform: translateY(-5px);
  border-radius: 3px;
  border: 1px;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Poppins';
  margin-top: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-time-in {
  background-color: var(--present);
  color: var(--white);
}

.btn-time-out {
  background-color: var(--absent);
  color: var(--white);
}


.attendance-table {
  margin-top: 50px;
  background: var(--white);
  width: 1390px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


  .table {
      table {
      width: 100%;
      background: var(--white);
      border-collapse: collapse;

      th, td {
        padding: 20px;
        text-align: center;
        border: none;
      }
    }

    th {
      background-color: var(--primary-color);
      color: var(--white);
      padding: 10px;
    }

    .label {
      font-size: 15px;
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
    }
  }
}
  