<div class="main-content">
    <div class="form-info">
        <div class="header"> 
            <h1> Settings and Configurations </h1> 
        </div>

        <div class="body-content">
            
            <mat-tab-group>
                <mat-tab label="Deductions">
                    <div class="body-config">
                        <h1> DEDUCTIONS CONFIGURATIONS </h1> 
                            <form [formGroup]="configForm" (submit)="submit('config')">
                                <form formArrayName="deduction" class="container">
                                    <div class="container-head">
                                        <h1> Deductions </h1>
                                        <button class="btn-primary add" type="button" (click)="addToConfigForm('deduction', 'add', 'deduction')"> Add </button>
                                    </div>
                                    <div class="container-body"> 
                                        <div *ngFor="let control of formsArray('config', 'deduction')?.controls; let i = index">
                                            <form [formGroupName]="i" class="input-row">
                                                <div class="entryarea">
                                                    <input type="text" formControlName="type">
                                                    <div class="labelline"> Type </div>
                                                </div>
                        
                                                <div class="entryarea">
                                                    <input type="text" formControlName="subtype">
                                                    <div class="labelline"> Subtype </div>
                                                </div>
                        
                                                <div class="entryarea">
                                                    <select formControlName="operation_type">
                                                        <option value="deduction"> Normal deduction </option>
                                                        <option value="percentage deduction"> Percentage Deduction </option>
                                                    </select>
                                                    <div class="labelline"> Operation </div>
                                                </div>
                        
                                                <div class="entryarea">
                                                    <input type="text" formControlName="amount">
                                                    <div class="labelline"> Amount </div>
                                                </div>
                        
                                                <button class="btn-danger remove" type="button" (click)="removeFromFormsArray('config', 'deduction', i)">
                                                    <i class='bx bx-x'></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </form>
                                <form formArrayName="allowance" class="container">
                                    <div class="container-head">
                                        <h1> Allowance </h1>
                                        <button class="btn-primary add" type="button" (click)="addToConfigForm('allowance', 'add', 'addition')"> Add </button>
                                    </div>
                                    <div class="container-body">
                                        <div *ngFor="let control of formsArray('config', 'allowance')?.controls; let i = index">
                                            <form [formGroupName]="i" class="input-row">
                                                <div class="entryarea">
                                                    <input type="text" formControlName="type">
                                                    <div class="labelline"> Type </div>
                                                </div>
                        
                                                <div class="entryarea">
                                                    <select formControlName="operation_type">
                                                        <option value="addition"> Normal Addition </option>
                                                        <option value="percentage addition"> Percentage Addition </option>
                                                    </select>
                                                    <div class="labelline"> Operation </div>
                                                </div>
                        
                                                <div class="entryarea">
                                                    <input type="text" formControlName="amount">
                                                    <div class="labelline"> Amount </div>
                                                </div>
                        
                                                <button class="btn-danger remove" type="button" (click)="removeFromFormsArray('config', 'allowance', i)">
                                                    <i class='bx bx-x'></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </form>
        
                                <button class="btn-primary update" type="submit"> Update </button>
                            </form>
                    </div>
                </mat-tab>
        
                <mat-tab label="Holidays">
                    <div class="body-config">
                        <h1> HOLIDAYS </h1> 
                        <form [formGroup]="holidayForm" (submit)="submit('holiday')">
                            <form formArrayName="regular" class="container">
                                <div class="container-head">
                                    <h1> Regular Holidays </h1>
                                    <button class="btn-primary add" type="button" (click)="addToHolidayForm('regular')"> Add </button>
                                </div>
        
                                <div class="container-body">
                                    <div *ngFor="let control of formsArray('holiday', 'regular')?.controls; let i = index">
                                        <form [formGroupName]="i" class="input-row1">
                                            <div class="entryarea1">
                                                <input type="text" formControlName="name">
                                                <div class="labelline1"> Name </div>
                                            </div>
                
                                            <div class="entryarea1">
                                                <select formControlName="is_recurring">
                                                    <option value="0"> No </option>
                                                    <option value="1"> Yes </option>
                                                </select>
                                                <div class="labelline1"> Is Recurring </div>
                                            </div>
        
                                            <div class="entryarea1">
                                                <input type="date" formControlName="date">
                                                <div class="labelline1"> Date </div>
                                            </div>
        
                                            <button class="btn-danger remove" type="button" (click)="removeFromFormsArray('holiday', 'regular', i)">
                                                <i class='bx bx-x'></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </form>
                            <form formArrayName="special_non_working" class="container">
                                <div class="container-head">
                                    <h1> Special Non-working Holidays </h1>
                                    <button class="btn-primary add" type="button" (click)="addToHolidayForm('special_non_working')"> Add </button>
                                </div>
        
                                <div class="container-body">
                                    <div *ngFor="let control of formsArray('holiday', 'special_non_working')?.controls; let i = index">
                                        <form [formGroupName]="i" class="input-row1">
                                            <div class="entryarea1">
                                                <input type="text" formControlName="name">
                                                <div class="labelline1"> Name </div>
                                            </div>
                
                                            <div class="entryarea1">
                                                <select formControlName="is_recurring">
                                                    <option value="0"> No </option>
                                                    <option value="1"> Yes </option>
                                                </select>
                                                <div class="labelline1"> Is Recurring </div>
                                            </div>
        
                                            <div class="entryarea1">
                                                <input type="date" formControlName="date">
                                                <div class="labelline1"> Date </div>
                                            </div>
        
                                            <button class="btn-danger remove" type="button" (click)="removeFromFormsArray('holiday', 'special_non_working', i)">
                                                <i class='bx bx-x'></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </form>
                            
                            <button class="btn-primary update" type="submit"> Update </button>
                        </form>
                    </div>
                </mat-tab>
            </mat-tab-group>            
        </div>

    </div>
</div>