<div class="main-content">
    <div class="form-info">
        <div class="header"> 
            <h1> Settings and Configurations </h1>
        </div>

        <div class="body-content">
            
            <div class="spinner" *ngIf="isLoading">
                <app-spinner></app-spinner>
              </div>

            <mat-tab-group *ngIf="!isLoading">
                <mat-tab label="Deductions">
                    <div class="body-config">
                        <h1> MONTHLY DEDUCTIONS CONFIGURATION </h1> 

                        <form [formGroup]="configForm" (submit)="submit('config')" class="container">
                            <form formGroupName="SSS">
                                <div class="container-head">
                                    <h1> Deductions </h1>
                                </div>

                                <div class="container-body"> 

                                    <div class="flex-between">
                                        <div class="multi-field-header">SSS</div>
                                        <div class="icon" (click)="clickTable()">
                                            <i [ngClass]="expandedTable ? 'bx bx-collapse' : 'bx bx-expand'"></i>
                                        </div>
                                    
                                        <!-- <button class="btn-primary add" type="button" (click)="addToConfigForm('ER', 'add', 'deduction', 'SSS ER Share'); addToConfigForm('EE', 'add', 'deduction', 'SSS EE Share');"> Add </button> -->
                                    </div>

                                    <div class="side-side" *ngIf="expandedTable">

                                        <div class="side-container side-left">                         

                                            <div *ngFor="let control of configFormsArray('SSS', 'ER').controls; let i = index">
    
                                                    <div class="input-row">
    
                                                        <ng-container formGroupName="ER">
                                                            <ng-container [formGroupName]="i">
                                                                <div class="entryarea">
                                                                    <div class="input-wrapper">
                                                                        <input type="text" class="talign-right" formControlName="min_pay_range" (change)="rangePattern()" appAccountingFormat>
                                                                    </div>
                                                                    <div class="labelline"> Min </div>
                                                                </div>
            
                                                                <div class="entryarea">
                                                                    <input type="text" class="talign-right" formControlName="max_pay_range" (input)="rangePattern()" appAccountingFormat>
                                                                    <div class="labelline"> Max </div>
                                                                </div>
            
                                                                <div class="entryarea">
                                                                    <input type="text" class="talign-right" formControlName="amount" (input)="rangePattern()" appAccountingFormat>
                                                                    <div class="labelline"> ER Share </div>
                                                                </div>
                                                            </ng-container>
                                                        </ng-container>
                            
                                                        <ng-container formGroupName="EE">
                                                            <ng-container [formGroupName]="i">
                                                                <div class="entryarea">                                                     
                                                                    <input type="text" class="talign-right" formControlName="amount" (input)="rangePattern()" appAccountingFormat>
                                                                    <div class="labelline"> EE Share </div>
                                                                </div>
                                                            </ng-container>
                                                        </ng-container>

                                                        <!-- <button class="btn-danger remove" type="button" (click)="removeFromFormsArray('config', 'deduction', i)">
                                                            <i class='bx bx-x'></i>
                                                        </button> -->
                                                    <!-- </div> -->

                                                </div>
                                            </div>
                                        </div>
                                    </div>                                        
                                </div>                                    
                            </form>

                            <!-- <div class="container"> -->
                                <div class="container-body">
                                    <div class="flex-between">

                                        <form formArrayName="PHIC">
                                            <div class="flex-between">
                                                <div class="multi-field-header">PHIC (%)</div>
                                            
                                                <form formGroupName="EE">
                                                    <div class="entryarea">
                                                        <input type="text" formControlName="amount">
                                                        <div class="labelline"> EE Share </div>
                                                    </div>
                                                </form>
                                                
                                                <form formGroupName="ER">
                                                    <div class="entryarea">
                                                        <input type="text" formControlName="amount">
                                                        <div class="labelline"> ER Share </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </form>
                                        
                                        <form formArrayName="HDMF">    
                                            <div class="flex-between">
                                                <div class="multi-field-header">HDMF</div>
                                            
                                                <form formGroupName="EE">
                                                    <div class="entryarea">
                                                        <input type="text" formControlName="amount" appAccountingFormat>
                                                        <div class="labelline"> EE Share </div>
                                                    </div>
                                                </form>
                                                
                                                <form formGroupName="ER">
                                                    <div class="entryarea">
                                                        <input type="text" formControlName="amount" appAccountingFormat>
                                                        <div class="labelline"> ER Share </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </form>
                                    </div>    
                                </div>
                            <button class="btn-primary update" type="submit"> Update </button>
                        </form>
                    </div>
                </mat-tab>
        
                <mat-tab label="Holidays">
                    <div class="body-config">
                        <h1> HOLIDAYS </h1> 
                        <form [formGroup]="holidayForm" (submit)="submit('holiday')">
                            <form formArrayName="regular" class="container">
                                <div class="container-head">
                                    <h1> Regular Holidays (Double Pay)</h1>
                                    <button class="btn-primary add" type="button" (click)="addToHolidayForm('regular', 0)"> Add </button>
                                </div>
        
                                <div class="container-body">
                                    <div *ngFor="let control of formsArray('holiday', 'regular')?.controls; let i = index">
                                        <form [formGroupName]="i" class="input-row1">
                                            <div class="entryarea1">
                                                <input type="text" formControlName="name">
                                                <div class="labelline1"> Name </div>
                                            </div>
                
                                            <div class="entryarea1">
                                                <select formControlName="is_recurring" type="number">
                                                    <option value="0"> No </option>
                                                    <option value="1"> Yes </option>
                                                </select>
                                                <div class="labelline1"> Is Recurring </div>
                                            </div>
        
                                            <div class="entryarea1">
                                                <input type="date" formControlName="date">
                                                <div class="labelline1"> Date </div>
                                            </div>
        
                                            <button class="btn-danger remove" type="button" (click)="removeFromFormsArray('holiday', 'regular', i)">
                                                <i class='bx bx-x'></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </form>
                            <form formArrayName="special_non_working" class="container">
                                <div class="container-head">
                                    <h1> Special Non-working Holidays (130% Pay)</h1>
                                    <button class="btn-primary add" type="button" (click)="addToHolidayForm('special_non_working', 0)"> Add </button>
                                </div>
        
                                <div class="container-body">
                                    <div *ngFor="let control of formsArray('holiday', 'special_non_working')?.controls; let i = index">
                                        <form [formGroupName]="i" class="input-row1">
                                            <div class="entryarea1">
                                                <input type="text" formControlName="name">
                                                <div class="labelline1"> Name </div>
                                            </div>
                
                                            <div class="entryarea1">
                                                <select formControlName="is_recurring">
                                                    <option value="0"> No </option>
                                                    <option value="1"> Yes </option>
                                                </select>
                                                <div class="labelline1"> Is Recurring </div>
                                            </div>
        
                                            <div class="entryarea1">
                                                <input type="date" formControlName="date">
                                                <div class="labelline1"> Date </div>
                                            </div>
        
                                            <button class="btn-danger remove" type="button" (click)="removeFromFormsArray('holiday', 'special_non_working', i)">
                                                <i class='bx bx-x'></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </form>
                            
                            <button class="btn-primary update" type="submit" [disabled]="!holidayForm.valid"> Update </button>
                        </form>
                    </div>
                </mat-tab>
            </mat-tab-group>            
        </div>

    </div>
</div>