<div class="main">
    <div class="header"> Settings and Configurations </div>

    <div class="content">

        <div class="main">
            <div class="title"> Deduction Configurations </div>
        
            <form [formGroup]="configForm" (submit)="submit('config')">
        
                <div class="formarray">
        
                    <form formArrayName="deduction" class="container">
                        <div class="label"> Deductions </div>
                        <button class="add" type="button" (click)="addToConfigForm('deduction', 'add', 'deduction')"> Add </button>
        
                        <div *ngFor="let control of formsArray('config', 'deduction')?.controls; let i = index">
                            <form [formGroupName]="i" class="row">
                                <div class="entryarea">
                                    <input type="text" formControlName="type">
                                    <div class="labelline"> Type </div>
                                </div>
        
                                <div class="entryarea">
                                    <input type="text" formControlName="subtype">
                                    <div class="labelline"> Subtype </div>
                                </div>
        
                                <div class="entryarea">
                                    <select formControlName="operation_type">
                                        <option value="deduction"> Normal deduction </option>
                                        <option value="percentage deduction"> Percentage Deduction </option>
                                    </select>
                                    <div class="labelline"> Operation </div>
                                </div>
        
                                <div class="entryarea">
                                    <input type="text" formControlName="amount">
                                    <div class="labelline"> Amount </div>
                                </div>
        
                                <button class="remove" type="button" (click)="removeFromFormsArray('config', 'deduction', i)"> X </button>
                            </form>
                        </div>
                    </form>

                    <form formArrayName="allowance" class="container">
                        <div class="label"> Allowance </div>
                        <button class="add" (click)="addToConfigForm('allowance', 'add', 'addition')"> Add </button>
        
                        <div *ngFor="let control of formsArray('config', 'allowance')?.controls; let i = index">
                            <form [formGroupName]="i" class="row">
                                <div class="entryarea">
                                    <input type="text" formControlName="type">
                                    <div class="labelline"> Type </div>
                                </div>
        
                                <div class="entryarea">
                                    <select formControlName="operation_type">
                                        <option value="addition"> Normal Addition </option>
                                        <option value="percentage addition"> Percentage Addition </option>
                                    </select>
                                    <div class="labelline"> Operation </div>
                                </div>
        
                                <div class="entryarea">
                                    <input type="text" formControlName="amount">
                                    <div class="labelline"> Amount </div>
                                </div>
        
                                <button class="remove" type="button" (click)="removeFromFormsArray('config', 'allowance', i)"> X </button>
                            </form>
                        </div>
                    </form>
                </div>
        
                <button class="btn-primary" type="submit"> Update Config</button>
            </form>

            <div class="title"> Holidays </div>

            <form [formGroup]="holidayForm" (submit)="submit('holiday')">

                <form formArrayName="regular" class="container">
                    <div class="label"> Regular Holidays </div>

                    <button class="add" type="button" (click)="addToHolidayForm('regular')"> Add </button>
            
                    <div *ngFor="let control of formsArray('holiday', 'regular')?.controls; let i = index">
                        <form [formGroupName]="i" class="row">
                            <div class="entryarea">
                                <input type="text" formControlName="name">
                                <div class="labelline"> Name </div>
                            </div>

                            <div class="entryarea">
                                <input type="date" formControlName="date">
                                <div class="labelline"> Date </div>
                            </div>

                            <div class="entryarea">
                                <select formControlName="is_recurring">
                                    <option value="0"> No </option>
                                    <option value="1"> Yes </option>
                                </select>
                                <div class="labelline"> Is Recurring </div>
                            </div>

                            <button class="remove" type="button" (click)="removeFromFormsArray('holiday', 'regular', i)"> X </button>
                        </form>
                    </div>
                </form>

                <form formArrayName="special_non_working" class="container">
                    <div class="label"> Special Non-working Holidays </div>

                    <button class="add" type="button" (click)="addToHolidayForm('special_non_working')"> Add </button>
            
                    <div *ngFor="let control of formsArray('holiday', 'special_non_working')?.controls; let i = index">
                        <form [formGroupName]="i" class="row">
                            <div class="entryarea">
                                <input type="text" formControlName="name">
                                <div class="labelline"> Name </div>
                            </div>

                            <div class="entryarea">
                                <input type="date" formControlName="date">
                                <div class="labelline"> Date </div>
                            </div>

                            <div class="entryarea">
                                <select formControlName="is_recurring">
                                    <option value="0"> No </option>
                                    <option value="1"> Yes </option>
                                </select>
                                <div class="labelline"> Is Recurring </div>
                            </div>

                            <button class="remove" type="button" (click)="removeFromFormsArray('holiday', 'special_non_working', i)"> X </button>
                        </form>
                    </div>
                </form>
                
                <button class="btn-primary" type="submit"> Update Holidays </button>
            </form>
        </div>
    </div>
</div>