<h2 mat-dialog-title><strong>Terms and Conditions for Employee</strong></h2>
<mat-dialog-content>
  <p>
    Welcome to PayOclock! These Terms and Conditions outline the responsibilities, obligations, and 
    permissible usage of the employee-side features of the application. By using the application, you agree to 
    abide by these terms.
  </p><br>
  <p><strong> Acceptance of Terms </strong></p><br>
  <p> - By accessing and using this application, you agree to comply with and be bound 
    by these Terms and Conditions. If you do not agree with any part of these terms, you must not use the 
    App </p><br>

  <p><strong>  Purpose of the Application  </strong></p><br>
  <p> -  the App is designed for employees to log in and out of their work shifts 
    and to access their pay slips. Any other use of the App is strictly prohibited without prior authorization 
    from the employer. </p><br> 

  <p><strong> User Responsibilities </strong></p><br>
  
  <p><strong> Account Security </strong></p><br>
  <p> - Employees are responsible for maintaining the 
    confidentiality of their login credentials. Sharing login information is strictly prohibited </p><br>
  
  <p><strong>  Accurate Information </strong></p><br>
  <p> - Employees must ensure that all personal and work-related information 
    provided in the App is accurate and up-to-date.</p><br>

  <p><strong>  Compliance with Policies </strong></p><br>
  <p> - Users must comply with all company policies related to attendance and 
    payroll as outlined in the employee handbook.</p><br>

  <p><strong>  Privacy and Data Security </strong></p><br>
  <p><strong>  Data Collection </strong></p><br>
  <p> - The App collects and stores personal and work-related 
    information such as login times, logout times, and payroll details.</p><br>

  <p><strong>  Data Usage </strong></p><br>
  <p> - This information will only be used for payroll processing, attendance tracking, and other 
    legitimate business purposes </p><br>

  <p><strong> Data Protection </strong></p><br>
  <p> - The company is committed to protecting the privacy of users and will employ 
    appropriate measures to safeguard data against unauthorized access or misuse. </p><br>

  <p><strong> Prohibited Activities </strong></p><br>
  <p> - Tampering with or attempting to access other employees accounts or 
    information is strictly prohibited.<br>
    -  Unauthorized use of the App, including but not limited to hacking, reverse engineering, or injecting 
    malicious code, is strictly prohibited. </p><br>

  <p><strong> Termination of Access </strong></p><br>
  <p> - The company reserves the right to suspend or terminate an employee's access 
    to the App at any time without prior notice if any misuse or violation of these terms is detected.</p><br>
  
  <p><strong> Limitation of Liability  </strong></p><br>
  <p> - The company is not liable for any loss or damage arising from the use or 
    inability to use the App, including but not limited to technical issues, data breaches, or unauthorized 
    access, except were prohibited by law. </p><br>
  
  <p><strong> Changes to Terms and Conditions </strong></p><br>
  <p> - The company reserves the right to modify these Terms and 
    Conditions at any time. Employees will be notified of any significant changes, and continued use of the 
    App signifies acceptance of the updated terms. </p><br>
  
  <p><strong> Governing Law </strong></p><br>
  <p> - These Terms and Conditions shall be governed by and construed in accordance with 
    the laws of the Philippines. </p><br>
  
  <p><strong> Contact Information </strong></p><br>
  <p> - For any questions or concerns about these Terms and Conditions, please 
    contact Ms. Mona Liza P. Sanchez(0920-862-0210). </p><br>
  
  <h4> Acknowledgment and Agreement By using the App, you acknowledge that you have read, understood, 
    and agree to these Terms and Conditions </h4>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="close">Close</button>
</mat-dialog-actions>
