<div class="main-container">
    <form class="form-info">
        <div class="header">
            <h1>Update Payday</h1>
            <button type="button" class="close-button" (click)="closePopup()">
                <i class='bx bx-x'></i>
            </button>
        </div>

        <div class="detailsbody">
            <div class="date-range">
                <!-- <div class="date-field">
                    <label for="date-start">Date Start:</label>
                    <input type="date" id="date-start" name="date-start" [(ngModel)]="currentDate.payday_start" disabled>
                </div> -->
                <div class="date-field">
                    <label for="date-end">New Payday Date:</label>
                    <input type="date" id="date-end" name="date-end" [(ngModel)]="new_payday_end" (change)="checkDate()">
                </div>
            </div>

            <div class="button-group">
                <button type="button" class="edit-button" (click)="submit('current')">Edit Current</button>
                <button type="submit" class="update-button" (click)="submit('new')">Update to New</button>
            </div>
        </div>
    </form>
</div>
