<header class="toolbar">
    <div class="toolbar-row">
        <span class="logo-section">
            <img src="/assets/images/PayO'Clock without bg.png" alt="PayO'clock Logo" class="logo">
            <span class="website-name">PayO'clock</span>
        </span>
        <span class="spacer"></span>
        <button class="hamburger" aria-label="Toggle navigation" (click)="toggleNavBar()">
            <i class='bx bx-menu'></i>
        </button>
        <nav class="nav-bar" [class.show-nav-bar]="isNavBarVisible">
            <a class="nav-link nav-text" href="#home">Home</a>
            <a class="nav-link nav-text" href="#about">About</a>
            <a class="nav-link nav-text" href="#team">Our Team</a>
            <div class="dropdown">
                <a class="nav-link dropdown-link" href="#" (click)="toggleDropdown($event)">Login</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="'/login/employee'"><i class='bx bxs-group'></i>Employee</a>
                    <a class="dropdown-item"  [routerLink]="'/login/admin'"><i class='bx bxs-user'></i>Admin</a>
                </div>
            </div>
        </nav>
    </div>
</header>

<main>
    <section id="home" class="section home-section hidden animate-on-scroll">
        <div class="home-content">
            <div class="left-content">
                <h1>Gear up to drive with confidence!</h1>
                    <p>Hit the road without a worry! Our payroll system keeps your earnings on track, 
                    ensuring every shift you work is rewarded right on time. Drive forward—we've got 
                    your pay in gear!</p>
                    <!-- <div class="visitor-counter">
                        <span>Visitors</span>
                        <div class="count">{{ animatedCount }}</div>
                    </div> -->
                    <!-- <h2>Available now at</h2>
                    <img src="/assets/images/playstore.png" alt="Information Image" class="info-image"> -->
            </div>

            <div class="right-content">
            <img src="/assets/images/landing.png" class="vector-image">
            <!-- <img src="/assets/images/PayO'Clock logo.png" alt="PayO'clock Logo" class="logo"> -->
            </div>
        </div>
    </section>
        
    <section id="about" class="section about-section">
        <h2>About Us</h2>
        <p> Our Payroll Management System is designed to optimize 
            your business operations. From seamless payroll processing 
            to accurate attendance tracking, our platform handles 
            all aspects of employee management.
        </p>

        <div class="about-container hidden animate-on-scroll">
            <div class="about-item">
                <mat-icon class="about-icon">paid</mat-icon>
                    <h3>Payroll</h3>
                    <p>Managing all processes with the employees' salary</p>
            </div>
            <div class="about-item">
                <mat-icon class="about-icon">event_note</mat-icon>
                    <h3>Attendance</h3>
                    <p>Keeping track of all the performance of the employees</p>
            </div>
            <div class="about-item">
                <mat-icon class="about-icon">announcement</mat-icon>
                    <h3>Announcement</h3>
                    <p>Posting Advisories for the Company</p>
            </div>
            <div class="about-item">
                <mat-icon class="about-icon">people</mat-icon>
                    <h3>Employees</h3>
                    <p>Managing all personnel details</p>
            </div>
        </div>
    </section>
    
    <section id="team" class="section team-section hidden animate-on-scroll">
        <h2>Our Team</h2>

        <div class="team-container">
            <div class="team-item">
                <div class="card">
                    <div class="image-holder">
                    <img src="/assets/images/project adviser.png" alt="adviser photo">
                    </div>
                    <div class="overlay">
                    <h3>Jay Renz Morgado</h3>
                    <p>Project Adviser</p>
                    </div>
                </div>
            </div>
            <div class="team-item">
                <div class="card">
                    <div class="image-holder">
                    <img src="/assets/images/adviser.png" alt="adviser photo">
                    </div>
                    <div class="overlay">
                    <h3>Marc Philip Robles Lo</h3>
                    <p>Project Adviser</p>
                    </div>
                </div>
            </div>
            <div class="team-item">
                <div class="card">
                    <div class="image-holder">
                    <img src="/assets/images/benef.png" alt="benef photo">
                    </div>
                    <div class="overlay">
                    <h3>Monaliza Sanchez</h3>
                    <p>Project Beneficiary</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="team-container">
            <div class="team-item">
                <div class="card">
                    <div class="image-holder1">
                    <img src="/assets/images/hustler.png" alt="hustler photo">
                    </div>
                    <div class="overlay">
                    <h3>Eunice Protasio</h3>
                    <p>Project Hustler</p>
                    </div>
                </div>
            </div>
            <div class="team-item">
                <div class="card">
                    <div class="image-holder1">
                    <img src="/assets/images/hacker.jpg" alt="hacker photo">
                    </div>
                    <div class="overlay">
                    <h3>Charles John Malit</h3>
                    <p>Project Hacker</p>
                    </div>
                </div>
            </div>
            <div class="team-item">
                <div class="card">
                    <div class="image-holder1">
                        <img src="/assets/images/hipster.png" alt="hipster photo">
                    </div>
                    <div class="overlay">
                        <h3>Pauleen Dalida</h3>
                        <p>Project Hipster</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<footer class="footer">
    <div class="footer-content">
        <div class="footer-logo">
            <img src="/assets/images/PayO'Clock logo.png" alt="PayO'clock Logo" class="footer-logo-img">
            <span class="footer-website-name">PayO'clock</span>
        </div>

        <div class="footer-links">
            <a href="#home" class="footer-link">Home</a>
            <a href="#about" class="footer-link">About</a>
            <a href="#team" class="footer-link">Our Team</a>
        </div>

        <div class="footer-socials">
            <a href="https://www.facebook.com/share/UFYeMQmUhkCiJNUZ/?mibextid=qi2Omg" class="social-icon" aria-label="Facebook">
                <mat-icon>facebook</mat-icon>
            </a>
            <a href="mailto:payoclock24@gmail.com" class="social-icon" aria-label="Email">
                <mat-icon>email</mat-icon>
            </a>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2024 PayO'clock. All rights reserved.</p>
    </div>
</footer>


  
  