<div class="landing"> 
    <div class="header"> 
        <div class="header-content">
            <!-- <h1> GM-PAYROLL </h1> -->
            <img class="logo" src="assets/images/gm18_without_bg.png"> 
        </div>
    </div>
    <div class="content"> 
        <div class="left"> 
            <div class="container"></div>
            <div class="container1"></div>
            <div class="container-1"></div>
            <div class="container1-1"></div>
            <img class="vector" src="assets/images/landing2.png" alt="GM18 Image">
        </div>

        <div class="right">
            <div class="main-text"> 
                <h1> GM18 </h1> 
                <h2> DRIVING SCHOOL </h2> 
                <h3> Payroll System</h3>
            </div>
            <div class="second-text"> 
                <p> Hit the road without a worry! Our payroll 
                    system keeps <br> your earnings on track, ensuring 
                    every shift you work is <br> rewarded right on time. 
                    Drive forward—we've got your pay <br> in gear! <p>
                <h2> Login as? </h2>
            </div>

            <div class="buttons">
                <button class="btn-primary employee-portal" [routerLink]="'/login/employee'"> Employee </button>
                <button class="btn-primary admin-portal" [routerLink]="'/login/admin'"> Admin </button>
            </div>
        </div>
    </div>
</div>
