* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}

// Nav Bar

.toolbar {
  padding-top: 35px;
  padding-left: 60px;
  padding-right: 60px;

  .toolbar-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .logo-section {
    display: flex;
    align-items: center;

    .logo {
      width: 90px; 
      height: 90px;
      margin-right: 5px;
      border-radius: 50%;
      overflow: hidden;
      object-fit: cover;
    }

    .website-name {
      font-size: 23px; 
      font-weight: 700;
      color: var(--primary-color);
    }
  }

  .nav-bar {
    display: flex;
    align-items: center;

    .nav-link {
      color: var(--primary-color);
      padding: 15px 30px;
      text-decoration: none;
      font-size: 18px;
      font-weight: 700;
      cursor: pointer;
      display: block;

      &:hover {
        background-color: var(--buttons-hover);
        border-radius: 50px;
        color: var(--white);
      }
    }

    .dropdown-link {
      background-color: var(--primary-color);
      color: var(--white);
      border-radius: 50px;
      padding: 15px 60px;
      text-decoration: none;
      font-size: 18px;
      font-weight: 700;
      cursor: pointer;
      display: block;
    }

    .dropdown-menu {
      display: none; 
      position: absolute;
      background-color: var(--white);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 1;
      min-width: 160px;
      right: 0;
      top: 85px;
    }

    .dropdown-item {
      color: #333;
      padding: 8px 16px;
      text-decoration: none;
      display: block;

      i {
        margin-right: 0.5rem;  
        width: 25px;
        height: auto;    
      }

      &:hover {
        background-color: var(--primary-color);
        color: var(--white);
      }
    }
  }

  .hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    color: var(--primary-color); 

    // @media (max-width: 768px) {
    //   display: block; 
    // }

    i {
      font-size: 24px; 
    }
  }

  .show-nav-bar {
    display: flex !important; 
  }

  @media (max-width: 768px) {
    padding-left: 30px;
    padding-right: 30px;

    .nav-bar {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: var(--white);
      width: 100%;
      padding: 10px;
      border-radius: 4px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      z-index: 999;

      .nav-link {
        padding: 15px 20px;
        font-size: 16px;
      }

      .dropdown-link {
        padding: 15px 20px;
        font-size: 16px;
      }
    }

    .hamburger {
      display: block;
    }

    .logo-section {
      .logo {
        width: 30px;
        height: 30px;
      }

      .website-name {
        font-size: 0.9rem;
      }
    }
  }
}

// Home Section 

.home-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 40px;

  .home-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 50px;
    flex-direction: column;   
  }

  .left-content {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%; 
    // animation: slideInLeft 1s ease-out;

    h1 {
      color: var(--landing-font);
      font-size: 2.5rem; 
      margin-bottom: 10px;
    }

    p {
      color: var(--landing-font);
      font-size: 1.1rem; 
      margin-bottom: 20px;
    }

    .visitor-counter {
      padding-top: 30px;
      font-weight: bold;
      color: var(--primary-color);
    }
    
    span {
      color: var(--landing-font);
    }

    .count {
      font-size: 70px; 
    }

    // .count:active {
    //   transform: scale(1.1);
    // }

    // h2 {
    //   color: var(--landing-font);
    //   font-size: 1.1rem; 
    //   margin-top: 20px;
    // }

    // .info-image {
    //   width: 120px; 
    //   max-width: 100%;
    //   margin-top: 20px;
    // }

    // .circle-container {
    //   display: flex;
    //   width: 100%;
    //   max-width: 100px; 
    // }

    // .circle {
    //   width: 20px; 
    //   height: 20px;
    //   margin-left: 15px;
    //   border-radius: 50%;
    //   background-color: var(--primary-color);
    // }
  }

  .right-content {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; 
    // animation: slideInLeft 1s ease-out 0.5s; 
    animation-fill-mode: both;
  
    .vector-image {
      width: 100%; 
      max-width: 400px; 
      height: auto;
      margin-bottom: 20px;
    }
  
  }


  @media (min-width: 768px) {
    .home-content {
      flex-direction: row;
    }

    .left-content {
      padding-top: 150px;
      padding-left: 25px;
      max-width: 50%;

      h1 {
        font-size: 2.5rem;
      }
    }

    .right-content {
      .vector-image {
        width: 100%;
        max-width: 100%;
        margin-top: -50px;
      }

      .logo {
        width: 200px;
      }
    }
  }

  @media (min-width: 1024px) {
    .left-content {
      h1 {
        padding-top: 50px;
        font-size: 4.3rem;
      }

      .visitor-counter {
        padding-top: 95px;
        font-size: 20px;
        font-weight: bold;
        color: var(--primary-color);
      }
      
      span {
        color: var(--landing-font);
      }
  
      .count {
        display: block;
        font-size: 90px; 
        margin-top: 0; 
        transition: transform 0.2s ease-in-out;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 20px;

    .home-content {
      padding-bottom: 30px;
    }

    h1 {
      font-size: 1.8rem;
    }

    p {
      font-size: 1rem;
    }

    .visitor-counter {
      padding-top: 45px;
    }
    
    span {
      color: var(--landing-font);
    }

    .count {
      font-size: 50px; 
    }
  }
}
  
// About Section 

.about-section {
  text-align: center;
  padding: 20px;
  background-color: var(--about-section);
  height: auto;

  h2 {
    color: #333;
    font-size: 2.5rem;
    margin-top: 150px;
    margin-bottom: 20px;
    animation: slideIn 1s ease-out;
  }

  p {
    color: #666;
    font-size: 1.3rem;
    margin-bottom: 120px;
    margin-left: 45px;
    margin-right: 45px;
    animation: slideIn 1s ease-out;
  }

  .about-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 210px;
  }

  .about-item {
    flex: 1 1 calc(22% - 20px);
    background-color: var(--white);
    padding: 65px 10px;
    margin-left: 28px;
    margin-right: 28px;
    height: auto;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.322);
    transition: 0.3s;
    transform: translateY(-2px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    // animation: pulse 1.5s infinite;

    &:hover {
      box-shadow: 0px 8px 15px -10px rgb(125, 125, 125);
      transform: scale(1.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      cursor: pointer;
      text-decoration: none;
    }

    .about-icon {
      color: var(--landing-font);
      width: 85px;
      height: auto;
      font-size: 75px;
      margin-top: 15px;
      margin-bottom: 10px;
    }

    h3 {
      color: var(--landing-font);
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 10px;
    }

    p {
      color: #666;
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 0;
      margin-left: 15px;
      margin-right: 15px;
      animation: none;
    }
  }

  @media (max-width: 992px) {
    .about-item {
      flex: 1 1 calc(45% - 20px);
    }
  }
  

  @media (max-width: 768px) {
    padding-left: 10px;
    padding-right: 10px;

    .about-item {
      flex: 1 1 100%;
      padding: 30px 0;
  
      h3 {
        font-size: 1.3rem;
      }
  
      p {
        font-size: 0.9rem;
      }
  
      .about-icon {
        font-size: 50px;
      }
    }
  
    h2 {
      font-size: 2rem;
    }
  
    p {
      font-size: 1rem;
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}


// Team Section 

.team-section {
  text-align: center;
  padding: 50px 20px;

  h2 {
    color: #333;
    font-size: 2.5rem;
    margin-top: 90px;
    margin-bottom: 50px;
    animation: slideIn 1s ease-out;

    @media (max-width: 576px) {
      font-size: 2rem; 
      margin-bottom: 40px; 
    }
  }

  .team-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 80px;

    .team-item {
      flex: 1 1 calc(25% - 20px); 
      background-color: var(--white);
      border-radius: 10px;
      margin-left: 48px;
      margin-right: 48px;
      box-sizing: border-box; 
      animation: slideIn 0.9s ease-out;

      .card {
        position: relative;
        width: 100%;
        height: 380px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        .image-holder, .image-holder1, .image-holder2 {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 100%;
          padding: 20px;
          overflow: hidden;

          img {
            max-width: 100%;
            max-height: 100%;
            height: auto;
            width: auto;
            object-fit: cover;
          }
        }

        .image-holder2 img {
          margin-bottom: 45px;
          object-fit: cover;
        }

        .overlay {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background: rgba(0, 0, 0, 0.6);
          color: var(--white);
          padding: 10px;
          text-align: center;
          transform: translateY(100%);
          transition: transform 0.3s ease;

          h3, p {
            margin: 0;
          }

          h3 {
            font-size: 1.2rem;
            font-weight: 700;
          }

          p {
            font-size: 1rem;
            color: var(--white);
          }
        }

        &:hover .overlay {
          transform: translateY(0);
        }
      }
    }

    @media (max-width: 992px) {
      .team-item {
        flex: 1 1 calc(50% - 20px); 
        margin-left: 20px;
        margin-right: 20px;
      }
    }

    @media (max-width: 576px) {
      .team-item {
        flex: 1 1 100%; 
      }

      .cards {

        .image-holder2 img {
          margin-bottom: 85px;
        }
      }
    }
  }
}

// Footer 

.footer {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 4rem 1rem;
  text-align: center;

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    .footer-logo {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-left: 35px; 

      .footer-logo-img {
        width: 60px;
        height: 60px;
      }

      .footer-website-name {
        font-size: 1.6rem;
        font-weight: bold;
      }
    }

    .footer-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2.5rem;
      margin-right: 0; 

      @media (min-width: 768px) {
        flex-direction: row;
        align-items: flex-start;
        margin-right: 100px; 
      }

      .footer-link {
        color: var(--white);
        text-decoration: none;
        font-size: 1.2rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .footer-socials {
      display: flex;
      gap: 1rem;
      margin-right: 0; 

      @media (min-width: 768px) {
        margin-right: 55px; 
      }

      .social-icon {
        color: var(--white);
        font-size: 1.5rem;

        &:hover {
          color: #333;
        }
      }
    }
  }

  .footer-bottom {
    margin-top: 0.3rem;
    font-size: 1.2rem;
    margin-left: 0; 

    @media (min-width: 768px) {
      margin-left: 40px; 
    }
  }
}

  

  
  
  
  
  
  