<div class="landing"> 
    <div class="header"> 
        GM-PAYROLL
    </div>
    <div class="content"> 
        <div class="left"> 
            <div class="container"></div>
            <div class="container1"></div>
            <img class="vector" src="/src/assets/images/landing2.png">
        </div>

        <div class="right">
            <div class="main-text"> 
                <h1> GM18 </h1> 
                <h2> DRIVING SCHOOL </h2> 
                <h3> Payroll System</h3>
            </div>
            <div class="second-text"> 
                <p> Join us! Choose your role! </p>
            </div>

            <div class="buttons">
            <button class="btn-primary admin-portal" [routerLink]="'/login/admin'"> Admin </button>
            <button class="btn-primary employee-portal"  [routerLink]="'/login/employee'"> Employee </button>
            </div>
        </div>

    </div>

</div>













