<main>
    <div class="main-container">
        <div class="view-proof">
            <div class="header">
                <h1> Proof History </h1>
                <button type="button" class="close-button" (click)="closePopup()">
                  <i class='bx bx-x'></i>
                </button>
            </div>
            <div class="cards-container">
                <div class="card" *ngFor="let card of cardData; let i = index">
                    <div class="day">{{ card.day }}</div>
                    <div class="date">{{ card.date }}</div>

                    <ng-container *ngIf="card.images.length > 0">
                        <div class="time-uploaded" >Time Uploaded: {{ card.uploaded_at }}</div>
                        <div class="images">
                            <div class="image-grid">
                                <img *ngFor="let image of card.images.slice(0, 3)" [src]="image" alt="Image">
                            </div>
                            <div *ngIf="card.images.length > 3 && isViewMoreVisible(i)" class="more-images">
                                <div class="image-grid">
                                    <img *ngFor="let image of card.images.slice(3)" [src]="image" alt="Image">
                                </div>
                            </div>
                            <button *ngIf="card.images.length > 3" (click)="toggleViewMore(i)" class="view-more-button">
                                {{ viewMore[i] ? 'View Less' : 'View More' }}
                            </button>
                        </div>
                    </ng-container>

                    <div class="noImages" *ngIf="card.images.length == 0">
                        No uploaded images
                    </div>
                </div>
            </div>
        </div>
    </div>
  </main>
  