.main-content {
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.more-announcements {
  background: var(--primary-color);
  width: 140px;
  height: 45px;
  text-decoration: none;
  color: var(--white);
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.322);
  transition: .3s;
  transform: translateY(-5px);
  border-radius: 3px;
  border: 1px;
  padding-right: 25px;
  padding-left: 25px;
  font-weight: bold;
  font-size: 16px;
  margin-top: 30px;
  margin-right: 15px;
  float: right;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; 

  i {
    margin-left: 8px; 
    font-size: 24px;
  }
}

.more-announcements:hover {
  box-shadow: 0px 8px 15px -10px rgb(125, 125, 125);
  transform: translate(0px, -2px);
  background: var(--buttons-hover);
  cursor: pointer;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.header h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 22px;
  padding-left: 25px;
  padding-top: 35px;
}

.content {
  border-radius: 10px;
  padding: 30px;
  margin-top: 25px;
  margin-bottom: 30px;
  margin-left: 25px;
  margin-right: 15px;
  background: var(--white);
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.322);
  border: 0.5px solid var(--table-border);
  position: relative; 
  
  .content-left {
    flex: 0 0 auto;

    .image-holder {
      width: 500px; 
      height: auto;
      display: block;
      margin-right: 1rem;
    }
  }

  .content-right {
    margin-top: 25px;
    padding-left: 15px;
    flex: 1;
    max-height: 500px; 
    overflow-y: auto;

    .title {
      font-size: 1.5rem;
      margin-bottom: 25px;
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis; 
    }

    .description {
      font-size: 1rem;
      color: #666;
      font-family: 'Poppins', sans-serif;
      white-space: pre-wrap;
      word-wrap: break-word; 
      text-align: justify;
    }

    .publish-info {
      margin-top: 15px;
      font-size: 0.875rem; 
      color: #888;

      .publish-date {
        margin-bottom: 5px;
      }
    }
  }
}


.cards-row {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 15px;
  gap: 20px;

  .card {
    background: var(--white);
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.322);
    border: 0.5px solid var(--table-border);
    border-radius: 10px;
    padding: 20px;
    flex: 1;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:last-child {
      margin-right: 0;
    }

    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0 25px;

      h3 {
        font-size: 1.2rem;
        color: var(--landing-font);
        font-weight: 600;
        margin: 0;
        flex: 1;
      }

      .number {
        font-size: 5rem;
        font-weight: 700;
        color: var(--primary-color);
        margin: 0;
        padding-left: 20px;
      }
    }
  }
}
