<div class="spinner" *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>

<div class="main-content" *ngIf="!isLoading">

    <div class="toggle-icon" (click)="toggleAction()">
      <i class="bx bx-menu"></i>
    </div>
    <div class="cards-row">
      <div class="card" *ngIf="containerVisibility.present" (click)="openPopup('present')">
        <div class="card-header">
          <h3>Total Present</h3>
          <p class="number" *ngIf="selectedFilterOption === 'week'">{{ containerData['present']['weekly'] }}</p>
          <p class="number" *ngIf="selectedFilterOption === 'month'">{{ containerData['present']['monthly'] }}</p>
          <!-- Dropdown for filter -->
          <div class="filter-dropdown">
            <select (click)="stopPopupPropagation($event)" (change)="selectFilterOption($event)">
              <option value="week" [selected]="selectedFilterOption === 'week'">Week</option>
              <option value="month" [selected]="selectedFilterOption === 'month'">Month</option>
            </select>
          </div>          
        </div>
      </div>
  
      <div class="card" *ngIf="containerVisibility.lates" (click)="openPopup('lates')">
        <div class="card-header">
          <h3>Total Lates</h3>
          <p class="number">0</p>
          <!-- Dropdown for filter -->
          <div class="filter-dropdown">
            <select (click)="stopPopupPropagation($event)" (change)="selectFilterOption($event)">
              <option value="week" [selected]="selectedFilterOption === 'week'">Week</option>
              <option value="month" [selected]="selectedFilterOption === 'month'">Month</option>
            </select>
          </div>
        </div>
      </div>
  
      <div class="card" *ngIf="containerVisibility.absences" (click)="openPopup('absences')">
        <div class="card-header">
          <h3>Total Absences</h3>
          <p class="number" *ngIf="selectedFilterOption === 'week'">{{ containerData['absences']['weekly'] }}</p>
          <p class="number" *ngIf="selectedFilterOption === 'month'">{{ containerData['absences']['monthly'] }}</p>
          <!-- Dropdown for filter -->
          <div class="filter-dropdown">
            <select (click)="stopPopupPropagation($event)" (change)="selectFilterOption($event)">
              <option value="week" [selected]="selectedFilterOption === 'week'">Week</option>
              <option value="month" [selected]="selectedFilterOption === 'month'">Month</option>
            </select>
          </div>          
        </div>
      </div>
    </div>
  
    <div class="content-wrapper" *ngIf="containerVisibility.announcement">
      <div class="content">
        <div class="content-left">
          <!-- <img [src]="containerData['announcement'].image || 'assets/images/no image.png'" alt="Image" class="image-holder"> -->
          <img src="assets/images/no image.png" alt="Image" class="image-holder">
        </div>
        <div class="content-right">
          <h2 class="title">{{ containerData['announcement'].title }}</h2>
          <pre class="description">{{ containerData['announcement'].content }}</pre>
          <div class="publish-info">
            <p class="publish-date">Date Published: {{ containerData['announcement'].created_at | date:'MMMM d, y' }} - {{ containerData['announcement'].created_at | date:'shortTime' }}</p>
          </div>
        </div>
      </div>
  
        <div class="content" *ngIf="containerVisibility.announcementHistory">
            <button class="more-announcements" type="button" (click)="redirectToAnnouncements()">
                More <i class='bx bx-chevrons-right'></i>
            </button>
            <div class="content-left">
              <!-- <img [src]="containerData['announcementHistory'].image || 'assets/images/no image.png'" alt="Image" class="image-holder"> -->
              <img src="assets/images/no image.png" alt="Image" class="image-holder">
            </div>
            <div class="content-right">
              <h2 class="title">{{ containerData['announcementHistory'].title }}</h2>
              <pre class="description">{{ containerData['announcementHistory'].content }}</pre>
                <div class="publish-info">
                    <p class="publish-date">Date Published: {{ containerData['announcementHistory'].created_at | date:'MMMM d, y' }} - {{ containerData['announcementHistory'].created_at | date:'shortTime' }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
  