<main>
    <div class="content"> 
        <div class="cards">
            <div class="input-row">
                <div class="card">
                    <div class="icon-case1">
                        <img src="assets/icons/total_titles.png">
                    </div>
                    <div class="box">
                        <h1>11</h1>
                        <h3>Total Employees</h3>
                    </div>
                </div>
        
                <div class="card">
                    <div class="icon-case2">
                        <img src="assets/icons/total_titles.png">
                    </div>
                    <div class="box">
                        <h1> 5</h1>
                        <h3>Total Instructors</h3>
                    </div>
                </div>
                
                <div class="card">
                    <div class="icon-case3">
                        <img src="assets/icons/total_journals.png" alt="">
                    </div>
                    <div class="box">
                        <h1> 3 </h1>
                        <h3>Total Admins</h3>
                    </div>
                </div>    

            </div>

            <div class="input-row1">
                <div class="card">
                    <div class="icon-case4">
                        <img src="assets/icons/total_articles.png" alt="">
                    </div>
                    <div class="box">
                        <h1> 1 </h1>
                        <h3>Total Helpers</h3>
                    </div>
                </div>
            
                <div class="card">
                    <div class="icon-case5">
                        <img src="assets/icons/total_magazines.png" alt="">
                    </div>
                    <div class="box">
                        <h1> 1 </h1>
                        <h3>Total Managers</h3>
                    </div>
                </div>
            
                <div class="card">
                    <div class="icon-case6">
                        <img src="assets/icons/total_newspapers.png" alt="">
                    </div>
                    <div class="box1">
                        <h1> 23,000 </h1>
                        <h3>Total Revenue</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="graph-container">
            <div class="right"> 
            </div>
            <div class="left"> 
            </div>
        </div>
    </div>
</main>