<main>
    <div class="content"> 
        <div class="cards">
            <div class="input-row">
                <div class="card">
                        <img src="assets/images/employee.png">
                    <div class="box">
                        <h1> 11 </h1>
                        <h3>Total Employees</h3>
                    </div>
                </div>
        
                <div class="card">
                        <img src="assets/images/instructor.png">
                    <div class="box">
                        <h1> 5 </h1>
                        <h3>Total Instructors</h3>
                    </div>
                </div>
                
                <div class="card">
                        <img src="assets/images/admin.png">
                    <div class="box">
                        <h1> 3 </h1>
                        <h3>Total Admins</h3>
                    </div>
                </div>    

            </div>

            <div class="input-row1">
                <div class="card">
                        <img src="assets/images/helper.png">
                    <div class="box">
                        <h1> 1 </h1>
                        <h3>Total Helpers</h3>
                    </div>
                </div>
            
                <div class="card">
                        <img src="assets/images/manager.png">
                    <div class="box">
                        <h1> 1 </h1>
                        <h3>Total Managers</h3>
                    </div>
                </div>
            
                <div class="card">
                        <img src="assets/images/revenue.png" >
                    <div class="box1">
                        <h1> 23,000 </h1>
                        <h3>Total Revenue</h3>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="graph-container">
            <div class="right">
                <span class="header"> Year 2024 </span>
                    <div class="chart-container">
                        <div class="base"></div>
                        <div class="bar one"></div>   
                        <div class="bar two"></div>   
                        <div class="bar three"></div>
                        <div class="bar four"></div>   
                        <div class="bar five"></div>   
                        <div class="bar six"></div>
                    </div>
            </div>
            <div class="left">
                <span class="header"> Month </span>
                    <div class="piechart"></div>
            </div>
        </div>
    </div>
</main> 