* {
  margin: 0;
  padding: 0;
}

body {
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

// BACKGROUND ANIMATION

.animation {
  background: -webkit-linear-gradient(to left, #254CA3, #254CA3);
  width: 100%;
  height: 100%;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #254CA3;
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 80px;
  height: 80px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 40px;
  height: 40px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 45px;
  height: 45px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 20%;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

// FORM

.vector {
  width: 95%;
  margin-top: 70px;
  margin-left: 20px;
}

.logo {
  width: 57%;
  height: 50%;
  margin-top: -80px;
  padding-left: 20px;
}

.login_box {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  max-height: 590px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  box-shadow: 1px 4px 22px -8px #0004;
  display: flex;
  background: var(--primary-color);
  overflow: hidden;
  flex-direction: row;
}

.login_box .right {
  width: 60%;
  height: 92%;
  padding: 25px 25px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.login_box .left {
  width: 59%;
  height: 100%;
}

.right .contact {
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 100%;
  width: 90%;
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
}

.right h1 {
  text-align: left;
  font-size: 35px;
  font-weight: 600;
  margin-top: 20px;
}

.right h3 {
  text-align: left;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500;
}

.right input {
  border: none;
  width: 91%;
  height: 23px;
  outline: none;
  margin: 15px 0px;
  border-bottom: 1px solid #4f30677d;
  padding-bottom: 40px;
  padding: 15px 9px;
  overflow: hidden;
  background: transparent;
  font-size: 18px;
}

.right {
  background: linear-gradient(-45deg, #dcd7e0, #fff);
}

.login-btn {
  border: none;
  width: 93%;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px 70px;
  border-radius: 8px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 65px;
  -webkit-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
  -moz-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
  box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
}

.link {
  margin-top: 10px;
  margin-right: 15px;
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

.link:hover {
  color: var(--buttons-hover);
}

.btn-primary:hover {
  background: #1e3e82;
}

.input-container {
  position: relative;
  margin-bottom: 15px;
}

.icon {
  font-size: 20px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
}

.input-container input {
  padding: 20px 0px 20px 40px;
  font-family: 'Poppins';
  box-sizing: border-box;
}

.input-container input:focus + .icon {
  color: #333;
}

// Responsive Design

@media (max-width: 768px) {
  .login_box {
    flex-direction: column;
    height: auto;
    max-width: 90%;
  }

  .login_box .left, .login_box .right {
    width: 100%;
    height: auto;
  }

  .login_box .right {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 30px;
  }

  .vector, .logo {
    margin: 20px auto;
  }

  .submit {
    width: 100%;
    padding: 20px;
  }
}

/* Loading button */
.submit-default {
  background-color: #254CA3;
}

.submit-loading {
  background-color: #1e3e82;
}

.spinner {
  margin-left: 20px;
}

@media (max-width: 480px) {
  .right h1 {
    font-size: 28px;
  }

  .right h3 {
    font-size: 20px;
  }

  .input-container input {
    padding: 15px 0px 15px 35px;
    font-size: 16px;
  }

  .icon {
    left: 5px;
  }
}