<div class="main-content">
    <div class="header"> 
      <h1>Latest Announcement</h1>
      <button class="dashboard" type="button" (click)="redirectToDashboard()"> Back </button>
    </div>

    <div class="content"> 
        <div class="content-left">
          <img [src]="announcements[0].image || 'assets/images/background.jpg'" alt="Description of Image" class="image-holder">
        </div>
        <div class="content-right">
          <h2 class="title">{{ announcements[0].title }}</h2>
          <pre class="description">{{ announcements[0].content }}</pre>
          <div class="publish-info">
            <p class="publish-date">Date Published: {{ announcements[0].created_at | date:'MMMM d, y' }} - {{ announcements[0].created_at | date:'shortTime' }}</p>
          </div>
        </div>
    </div>

    <div class="previous-announcements">
        <div class="header"> 
            <h1>Previous Announcements</h1>
        </div>
        <div class="announcement-cards">
          <ng-container *ngFor="let announcement of announcements; let i = index;">
            <div class="announcement-card" *ngIf="i > 0" (click)="viewAnnouncement(announcement.id)">
              <!-- <ng-container *ngIf="i > 0"> -->
                <img [src]="announcement.image || 'assets/images/background.jpg'" alt="Announcement Image" class="card-image">
                <div class="card-content">
                    <h3 class="card-title">{{ announcement.title }}</h3>
                    <p class="card-description">{{ announcement.shortDescription }}</p>
                    <p class="card-date">Date: {{ announcement.created_at | date:'MMMM d, y' }}</p>
                </div>
              <!-- </ng-container> -->
            </div>
          </ng-container>
        </div>
    </div>
</div>