<main>
    <div class="main-container">
      <div class="attendance-history">
        <div class="header">
          <h1>Customize Dashboard</h1>
          <button type="button" class="close-button" (click)="closePopup()">
            <i class='bx bx-x'></i>
          </button>
        </div>
  
        <div class="container-body">
          <div class="row">
            <div class="container">
              <label for="total-present">Total Present</label>
              <button (click)="toggleState('present')" 
                [ngClass]="{'off': !containerVisibility.present, 'on': containerVisibility.present}" 
                class="toggle-btn">
                {{ containerVisibility.present ? 'ON' : 'OFF' }}
              </button>
            </div>
            <div class="container">
              <label for="total-absences">Total Absences</label>
              <button (click)="toggleState('absences')" 
                [ngClass]="{'off': !containerVisibility.absences, 'on': containerVisibility.absences}" 
                class="toggle-btn">
                {{ containerVisibility.absences ? 'ON' : 'OFF' }}
              </button>
            </div>
          </div>

          <div class="row">
            <div class="container1">
              <label for="total-weekly">Weekly Attendance</label>
              <button (click)="toggleState('weekly')" 
                [ngClass]="{'off': !containerVisibility.attendance_weekly, 'on': containerVisibility.attendance_weekly}" 
                class="toggle-btn">
                {{ containerVisibility.attendance_weekly ? 'ON' : 'OFF' }}
              </button>
            </div>
          </div>

          <div class="row">
            <div class="container">
              <label for="total-payroll">Payroll Summary</label>
              <button (click)="toggleState('payroll')" 
                [ngClass]="{'off': !containerVisibility.payroll, 'on': containerVisibility.payroll}" 
                class="toggle-btn">
                {{ containerVisibility.payroll ? 'ON' : 'OFF' }}
              </button>
            </div>
            <div class="container">
              <label for="total-summary">Attendance Summary</label>
              <button (click)="toggleState('summary')" 
                [ngClass]="{'off': !containerVisibility.attendance_summary, 'on': containerVisibility.attendance_summary}" 
                class="toggle-btn">
                {{ containerVisibility.attendance_summary ? 'ON' : 'OFF' }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  