<main>
    <div class="main-container">
      <div class="attendance-history">
        <div class="header">
          <h1>Customize Dashboard</h1>
          <button type="button" class="close-button" (click)="closePopup()">
            <i class='bx bx-x'></i>
          </button>
        </div>
  
        <div class="container-body">
          <div class="row">
            <div class="container">
              <label for="total-present">Total Employee</label>
              <button class="toggle-btn">
                <!-- <i class="bx bxs-toggle-right"></i> On --> ON 
              </button>
            </div>
            <div class="container">
              <label for="total-lates">Total Pending Payslips</label>
              <button class="toggle-btn">
                <!-- <i class="bx bxs-toggle-left"></i> Off --> OFF
              </button>
            </div>
          </div>
  
          <div class="row">
            <div class="container">
                <label for="total-absent">Total Processed Payslips</label>
                <button class="toggle-btn">
                  <!-- <i class="bx bxs-toggle-left"></i> Off --> OFF
                </button>
            </div>
            <div class="container">
              <label for="other-container">Attendance Summary</label>
              <button class="toggle-btn">
                <!-- <i class="bx bxs-toggle-left"></i> Off --> OFF
              </button>
            </div>
          </div>

          <div class="row">
            <div class="container">
              <label for="other-container">Payroll Summary</label>
              <button class="toggle-btn">
                <!-- <i class="bx bxs-toggle-left"></i> Off --> OFF
              </button>
            </div>
            <div class="container">
                <label for="other-container">Attendance Summary</label>
                <button class="toggle-btn">
                  <!-- <i class="bx bxs-toggle-left"></i> Off --> OFF
                </button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  