<!-- <div class="animation">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div> -->

<!-- Login Form -->
<div class="login">
    <div class="login_box">
        <div class="left">
            <img class="vector" src="assets/images/gm18.png" alt="Payroll Image">
            <!-- <div class="logo">
                <img class="logo" src="assets/images/PayO'Clock logo.png" alt="PayOClock Logo">
            </div> -->
        </div>

        <div class="right">
            <div class="contact">
                <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
                    <h1> PayO'Clock </h1>
                    <h3> Payroll System </h3>
                    <h3> Login Portal </h3>
                    <div class="input-container">
                        <div class="icon"><i class='bx bxs-user'></i></div>
                        <input type="text" autocomplete="username" 
                        placeholder="Username" formControlName="username">
                    </div>
                    <div class="input-container">
                        <div class="icon"><i class='bx bxs-lock-alt'></i></div>
                        <input 
                          [type]="showPassword ? 'text' : 'password'" 
                          autocomplete="current-password" 
                          placeholder="Password" 
                          formControlName="password">
                        <div class="eye-icon" (click)="togglePasswordVisibility()">
                          <i class="bx" [class.bx-show]="!showPassword" [class.bx-hide]="showPassword"></i>
                        </div>
                    </div>
                    
                    <div class="checkbox-container">
                        <input 
                          type="checkbox" 
                          id="termsCheckbox" 
                          formControlName="termsAndConditions">
                        <label for="termsCheckbox">
                          <span>I agree to the</span> 
                          <a class="terms-link" (click)="openTermsAndConditions()">Terms and Conditions</a>
                          <br>
                          <span> and </span>
                          <a class="terms-link" (click)="openPrivacyPolicy()">Privacy Policy</a>
                        </label>
                     </div>
                    
                    <button class="btn-primary login-btn" type="submit" [disabled]="isLoading || !loginForm.valid" 
                            [ngClass]="{ 'btn-loading-primary': isLoading, 'btn-primary': !isLoading}"> 

                        {{ isLoading ? 'Logging In' : 'Login' }} <mat-spinner *ngIf="isLoading" class="spinner" diameter="23" color="accent"></mat-spinner>
                    </button>

                    <div class="link" [routerLink]="'/landing'"> Back to landing page </div>
                </form>
            </div>
        </div>
    </div>
</div>