.main-content {
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;

    .paylip-history {
        background: var(--primary-color);
        width: 140px;
        height: 45px;
        text-decoration: none;
        color: var(--white);
        box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.322);
        transition: .3s;
        transform: translateY(-5px);
        border-radius: 3px;
        border: 1px;
        padding-right: 25px;
        padding-left: 25px;
        font-weight: bold;
        font-size: 16px;
        margin-top: 30px;
        margin-right: 15px;
        float: right;
        text-align: center;
    }
    
    .paylip-history:hover {
        box-shadow: 0px 8px 15px -10px rgb(125, 125, 125);
        transform: translate(0px, -2px);
        background: var(--buttons-hover);
        cursor: pointer;
        text-decoration: none;
    }
    
    
    .header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    
    .header h1 {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 22px;
        padding-left: 25px;
        padding-top: 35px;
    }
}



.table-content {
    border-radius: 5px;
    padding: 30px 45px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 15px;
    background: var(--white);
    width: auto;
    height: auto;
    margin-bottom: 30px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.322);
    border: 0.5px solid var(--table-border);

    .table-head {
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px; 
    
        .input-row {
            display: flex;
            justify-content: space-between;
        }

        .information-case {
            font-size: 17px;
            font-weight: 500;
            padding-right: 15px;
        }

        td {
            padding-left: 15px;
        }
    
    }

    .table-content1 {
        width: auto;
        height: auto;
        border: 0.5px solid var(--table-border);
        box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.322);


        table,
        th,
        td {
            padding: 20px;
            font-family: 'Poppins';
            font-size: 15px;
            font-weight: 400;
            border-bottom: 1.5px solid var(--table-border);
        }

        th {
            background-color: var(--primary-color) !important;
            color: var(--white);
            font-size: 15px;
            width: 10%;
            letter-spacing: 0.8px;
            

        }
    }



}