<div class="main-content">
    <div class="header"> 
        <h1> Payslip </h1>
            <button class="btn-primary paylip-history" button (click)="redirectToPayslipHistory()"> History </button>
    </div>

    <div class="table-content">
        <div class="table-head">

            <div class="input-row">
                <div class="information-case">
                    <th> EMPLOYEE NAME: </th>  
                    <td> {{employee.first_name}} {{employee.middle_name ? employee.middle_name[0] + '.' : ''}} {{employee.last_name}} {{employee.ext_name || ''}} </td>
                </div>
    
                <div class="information-case">
                    <th> PAYROLL PERIOD: </th> 
                    <td> {{ payday | date: 'MMMM' }} {{ getPayDateRange(payday) }}, {{ payday | date: 'YYYY' }} </td>  
                </div>
            </div>

            <div class="input-row">
                <div class="information-case">
                    <th> ID NUMBER: </th>  
                    <td> {{ employee.employee_id }} </td>
                </div>

                <div class="information-case">
                    <th> RATE: </th>  
                    <td> IDK </td> 
                </div>
            </div>

            <div class="input-row">
                <div class="information-case">
                    <th> POSITION: </th> 
                    <td> {{ employee.position }} </td> 
                </div>
            </div>
        </div>

        <div class="table-content1">

            <table>
                <tr class="table-header">
                    <th> Earnings </th>
                    <th> </th>
                    <th> Amount </th>
                    <th> Earnings </th>
                    <th> </th>
                    <th> Amount </th>
                    <th> Deductions </th>
                    <th> Amount </th>
                </tr>

                <!-- More deductions than allowances -->
                <ng-container *ngIf="deductions.length > allowances.length">
                    <ng-container *ngFor="let deduction of deductions; let i = index">
                        <tr>
                            <ng-container *ngIf="i == 0">
                                <td> Basic Salary </td>
                                <td> {{ employee.hourly_rate }} </td>
                                <td> {{ employee.hourly_rate * 8 * 15 }} </td>
                            </ng-container>
                            
                            <ng-container *ngIf="i == 1">
                                <td> Hrs./ Day </td>
                                <td> 8 </td>
                                <td> </td>
                            </ng-container>

                            <ng-container *ngIf="i > 1">
                                <td> </td>
                                <td> </td>
                                <td> </td>
                            </ng-container>
                            
                            <ng-container *ngIf="i < allowances.length">
                                <td> {{ allowances[i].type }} </td>
                                <td> </td>
                                <td> {{ allowances[i].amount }} </td>
                            </ng-container>

                            <ng-container *ngIf="i >= allowances.length">
                                <td> </td>
                                <td> </td>
                                <td> </td>
                            </ng-container>
                            
                            <td> {{ deduction.type }} </td>
                            <td> {{ deduction.amount }} </td>
                        </tr>
                    </ng-container>
                </ng-container>

                <!-- Less deductions than allowances -->
                <ng-container *ngIf="deductions.length < allowances.length">
                    <ng-container *ngFor="let allowance of allowances; let i = index">
                        <tr>
                            <ng-container *ngIf="i == 0">
                                <td> Basic Salary </td>
                                <td> </td>
                                <td> {{ employee.hourly_rate }} </td>
                            </ng-container>
                            
                            <ng-container *ngIf="i > 0">
                                <td> </td>
                                <td> </td>
                                <td> </td>
                            </ng-container>
                            
                            <td> {{ allowances[i].type }} </td>
                            <td> </td>
                            <td> {{ allowances[i].amount }} </td>
                            
                            <ng-container *ngIf="i < deductions.length">
                                <td> {{ deductions[i].type }} </td>
                                <td> {{ deductions[i].amount }} </td>
                            </ng-container>

                            <ng-container *ngIf="i >= deductions.length">
                                <td> </td>
                                <td> </td>
                            </ng-container>
                        </tr>
                    </ng-container>
                </ng-container>

                <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> Total Earnings </td>
                    <td> {{ employee.hourly_rate * 8 * 15 + (totalAllowance) }}</td>
                    <td> Total Deductions </td>
                    <td> {{ totalDeductions }}</td>
                </tr>

                <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> Net Salary Transferred </td>
                    <td> {{ (employee.hourly_rate * 8 * 15 + totalAllowance) - totalDeductions }}</td>
                </tr>
                
            </table>
        </div>



    </div>
</div>
