<div class="spinner" *ngIf="isLoading">
    <app-spinner></app-spinner>
</div>

<main *ngIf="!isLoading">
    <div class="content"> 

        <div class="button">
            <div class="toggle-icon" (click)="toggleAction()">
                <i class="bx bx-menu"></i>
            </div>
        </div>

        <div class="graph-container" *ngIf="containerVisibility.payroll">
            <div class="right" style="height: 450px;">
                <span class="header">Payroll Total Net Pays Summary</span>
                
                <span>
                    <select (change)="updateBarChart($event)">
                        <ng-container *ngFor="let quarter of payrollsQuarters">
                            <option [value]="quarter"> {{ quarter }} </option>
                        </ng-container> 
                    </select>
                </span>

                <div class="bar-container" style="height: 100%;">
                    <p-chart type="bar" [data]="barChartData" [options]="options.bar" style="height: 100%;"></p-chart>
                </div>
            </div>

            <div class="left" style="height: 450px;" *ngIf="containerVisibility.attendance_summary">
                <span class="header">Attendance Summary - {{ currentMonth }}</span>
                <div class="doughnut-container" style="height: 300px;">
                    <p-chart type="doughnut" [data]="doughnutChartData" [options]="options.doughnut"></p-chart>
                </div>
            </div>
        </div>

        <div class="attendance" *ngIf="containerVisibility.attendance_weekly">
            <div class="header-content">
                <h1>Attendance Summary for the Week</h1>
            </div>
            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                            <th>Sunday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td [ngClass]="getStatusClass(0)">{{ getStatus(0) }}</td>
                            <td>{{ tableData.Monday.present }}</td>
                            <td>{{ tableData.Tuesday.present }}</td>
                            <td>{{ tableData.Wednesday.present }}</td>
                            <td>{{ tableData.Thursday.present }}</td>
                            <td>{{ tableData.Friday.present }}</td>
                            <td>{{ tableData.Saturday.present }}</td>    
                            <td>{{ tableData.Sunday.present }}</td>                         
                        </tr>
                        <tr>
                            <td class="status-absent">Absent</td>
                            <td>{{ tableData.Monday.absent }}</td>
                            <td>{{ tableData.Tuesday.absent }}</td>
                            <td>{{ tableData.Wednesday.absent }}</td>
                            <td>{{ tableData.Thursday.absent }}</td>
                            <td>{{ tableData.Friday.absent }}</td>
                            <td>{{ tableData.Saturday.absent }}</td>
                            <td>{{ tableData.Sunday.absent }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>                               
        </div>
    </div>
</main> 