.content {
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

@media screen and (min-width: 1220px) {
    content {
        margin-top: 10px;
        margin-left: 50px;

    }
}

.input-row {
    display: flex;
    padding-left: 25px;
    // padding-right: 25px;
    justify-content: space-between;
    margin-top: 30px;

    .input-row .card {
        flex-basis: 35%;
        position: relative;
        margin: 1.3rem 0;
    }

}

.card {
    width: 100%;
    height: 100px;
    background-color: var(--primary-color);
    color: var(--background-color);
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    img {
        height: 60px;
        width: 65px;
        margin-top: 10px;
        margin-left: 5px;
    }
}

.box {

    h1 {
        margin-left: 65px;
        font-size: 27px;
        font-weight: 500;
    }

    h3 {
        margin-left: 5px;
        font-size: 16px;
        font-weight: 700;
    }

}

// ATTENDANCE 

.attendance {
    padding: 50px;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 10px;
    background: var(--white);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .header-content {
        display: flex;
        align-items: center; 
        justify-content: space-between; 
        margin-bottom: 30px; 
        
        h1 {
            color: var(--landing-font);
            font-size: 1.5rem;
            margin: 0; 
        }
    }

    .table {
        table {
            width: 100%;
            border-collapse: collapse;
    
            th, td {
                padding: 20px;
                text-align: center;
                border: 1px solid var(--table-border);
            }
    
            thead {
                th {
                    background-color: var(--primary-color);
                    color: var(--white);
                    font-weight: bold;
                    padding: 20px;
                    border: none;
                }
            }

            tbody {
                
                .status-present {
                    color: var(--present);
                    font-weight: bold;
                }
    
                .status-late {
                    color:var(--late);
                    font-weight: bold;
                }
    
                .status-absent {
                    color: var(--absent);
                    font-weight: bold;
                }
            }
        }
    }     
}    


// GRAPHS

.graph-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    height: 100%; 
}

.graph-container .right, .graph-container .left {
    width: calc(45% - 30px);
    max-width: 100%;
    height: 500px; 
    margin-top: 30px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    background: var(--white);
    flex-direction: column; 
}

.graph-container .right {
    margin-left: 25px;
    padding: 35px;
}

.graph-container .left {
    padding: 35px;
}

.right, .left {
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative; 
}

.header {
    padding-bottom: 45px;
    color: var(--landing-font);
    font-size: 1.3rem;
}

.bar-container {
    width: 100%;
    height: 100%;
}

.doughnut-container {
    width: 100%;
    height: 300px;
}
