<main>
    <div class="content"> 
        <div class="cards">
            <div class="input-row">
                <div class="card">
                        <img src="assets/images/employee.png">
                    <div class="box">
                        <h1> {{ details.employeeCount }} </h1>
                        <h3>Total Employees</h3>
                    </div>
                </div>
        
                <div class="card">
                        <img src="assets/images/pending.png">
                    <div class="box">
                        <h1> {{ details.pending }} </h1>
                        <h3>Total Pending Payrolls</h3>
                    </div>
                </div>
                
                <div class="card">
                        <img src="assets/images/processed.png">
                    <div class="box">
                        <h1> {{ details.processed }} </h1>
                        <h3>Total Processed Payrolls </h3>
                    </div>
                </div>    
            </div>
        </div>

        <div class="attendance">
            <div class="header-content">
                <h1>Attendance Summary</h1>
            </div>
            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td [ngClass]="getStatusClass(0)">{{ getStatus(0) }}</td>
                            <td>{{ tableData[0].monday }}</td>
                            <td>{{ tableData[0].tuesday }}</td>
                            <td>{{ tableData[0].wednesday }}</td>
                            <td>{{ tableData[0].thursday }}</td>
                            <td>{{ tableData[0].friday }}</td>
                            <td>{{ tableData[0].saturday }}</td>
                        </tr>
                        <tr>
                            <td [ngClass]="getStatusClass(1)">{{ getStatus(1) }}</td>
                            <td>{{ tableData[1].monday }}</td>
                            <td>{{ tableData[1].tuesday }}</td>
                            <td>{{ tableData[1].wednesday }}</td>
                            <td>{{ tableData[1].thursday }}</td>
                            <td>{{ tableData[1].friday }}</td>
                            <td>{{ tableData[1].saturday }}</td>
                        </tr>
                        <tr>
                            <td class="status-absent">Absent</td>
                            <td>{{ tableData[2].monday }}</td>
                            <td>{{ tableData[2].tuesday }}</td>
                            <td>{{ tableData[2].wednesday }}</td>
                            <td>{{ tableData[2].thursday }}</td>
                            <td>{{ tableData[2].friday }}</td>
                            <td>{{ tableData[2].saturday }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>                               
        </div>

        <div class="graph-container">
            <div class="right" style="height: 450px;">
                <span class="header">Payroll Summary of Year 2024</span>
                <div class="bar-container" style="height: 100%;">
                    <p-chart type="bar" [data]="barChartData" [options]="options.bar" style="height: 100%;"></p-chart>
                </div>
            </div>

            <div class="left" style="height: 450px;">
                <span class="header">Attendance Summary per Month</span>
                <div class="doughnut-container" style="height: 300px;">
                    <p-chart type="doughnut" [data]="doughnutChartData" [options]="options.doughnut"></p-chart>
                </div>
            </div>
        </div>
    </div>
</main> 