.content {
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

@media screen and (min-width: 1220px) {
    content {
        margin-top: 10px;
        margin-left: 50px;

    }
}

.input-row {
    display: flex;
    padding-left: 25px;
    // padding-right: 25px;
    justify-content: space-between;
    margin-top: 30px;

    .input-row .card {
        flex-basis: 35%;
        position: relative;
        margin: 1.3rem 0;
    }

}

.card {
    width: 100%;
    height: 100px;
    background-color: var(--primary-color);
    color: var(--background-color);
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    img {
        height: 60px;
        width: 65px;
        margin-top: 10px;
        margin-left: 5px;
    }
}

.box {

    h1 {
        margin-left: 65px;
        font-size: 27px;
        font-weight: 500;
    }

    h3 {
        margin-left: 5px;
        font-size: 16px;
        font-weight: 700;
    }

}

// ATTENDANCE 

.attendance {
    padding: 50px;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 10px;
    background: var(--white);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    h1 {
        color: var(--landing-font);
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .legend {
        display: flex;
        gap: 15px;
        margin-bottom: 30px;

        .legend-item {
            display: flex;
            align-items: center;

            .square {
                width: 20px;
                height: 20px;
                margin-right: 5px;
                &.green {
                    background-color: var(--time-in-button);
                }
                &.yellow {
                    background-color: var(--late);
                }
                &.red {
                    background-color: var(--absent);
                }
            }
            
            span {
                font-size: 14px;
                color: #333;
            }
        }
    }
    .table {
        table {
            width: 100%;
            border-collapse: collapse;

            th, td {
                padding: 20px;
                text-align: center;
                border: none;
            }
            thead {
                th {
                    background-color: var(--table-background);
                    font-weight: bold;
                    padding: 20px;
                }
            }
            tbody {
                .green-row {
                    background-color: var(--time-in-button);
                    color: var(--white);
                }
                .yellow-row {
                    background-color: var(--late);
                    color: var(--white);
                }
                .red-row {
                    background-color: var(--absent);
                    color: var(--white);
                }
            }
        }
    }
}


// GRAPHS

.graph-container {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
}

.graph-container .right, .graph-container .left {
    width: calc(49% - 30px);
    max-width: 100%; 
    height: 500px;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
}

.graph-container .right {
    margin-left: 35px; 
}

.graph-container .left {
    margin-right: 20px; 
}

.right, .left{
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}

// BAR GRAPH

.base {
    position: absolute;
    bottom: 0;
    left: -55px;
    width: auto;
    height: 20px;
    background-color: rgba(255,255,255,0.05);
}
  
.chart-container {
    position: relative;
    z-index: 0;
    width: 800px;
    height: 500px;
    margin-left: 85px;
    color: rgba(255,255,255,0.75);
}

.chart-container:after {
    content:"";
    position: absolute;
    top: -15px;
    left: -8px;
    height: 15px;
    width: 800px;
    background-color: rgba(255,255,255,0.055);
    -moz-transform: skew(45deg);
    -o-transform: skew(45deg);
    -webkit-transform: skew(45deg);
    transform: skew(45deg);
}

.bar {
    float: left;
    position: absolute;
    bottom: 0;
    z-index: 99;
    width: 40px;
    margin: 0 170px;
    background-color: var(--primary-color);
}

.bar:before {
    content: "";
    position: absolute;
    left: -15px;
    bottom: 7px;
    height: 100%;
    width: 15px;
    background-color: var(--dark-blue);
}

.bar:after {
    content: "";
    position: absolute;
    top: -15px;
    left: -8px;
    width: 40px;
    height: 15px;
    background-color: var(--light-blue);
    -moz-transform: skewX(45deg);
    -o-transform: skewX(45deg);
    -webkit-transform: skewX(45deg);
    transform: skewX(45deg);
}

.one{
    height: 30%;
    margin-left: 150px;
    margin-right: 0px;
}

.two {
    left: 12.5%;
    height: 57%;
    margin-left: 130px;
    margin-right: 130px;
}

.three {
    left: 25%;
    height: 85%;
    margin-left: 115px;
    margin-right: 130px;
}

.four {
    left: 37.5%;
    height: 35%;
    margin-left: 100px;
    margin-right: 130px;
}

.five {
    left: 50%;
    height: 63%;
    margin-left: 90px;
    margin-right: 130px;
}

.six {
    left: 62.5%;
    height: 45%;
    margin-left: 80px;
    margin-right: 130px;
}

.piechart {
    margin-top: 35px;
    width: 65%;
    height: 80%;
    border-radius: 50%;
    background-image: conic-gradient(
        var(--primary-color) 70deg,
        var(--dark-blue) 0 235deg,
        var(--light-blue) 0 
    );
}