<div class="container">
    <div class="profile">
        <div class="blue">
            <img src="assets/images/gm18.png" style="width: 230px; height: 230px;"
            >
        </div>
        <div class="content">
           <div class="context">
            <div class="instructor">
                <h4>Eunice Protasio</h4>
                <h6>Driving Instructor</h6>
            </div>
            
            <div class="contact-info">
                <div class="number">
                    <p>09999999</p>
                </div>
                <div class="email">
                    <p>eunicegmail.com</p>
                </div>
            </div>

            <div class="demographics">
                <h3>Demographics</h3>

                <div class="demo-content">
                    <ul class="left-content">
                        <li>Employee ID</li>
                        <li>Date of Hire</li>
                        <li>Work Schedule</li>
                        <li>Department</li>
                        <li>Manager</li>
                    </ul>

                    <ul class="right-content">
                        <li>0001</li>
                        <li>09-04-2020</li>
                        <li>20</li>
                        <li>of course</li>
                        <li>Maester</li>
                    </ul>
                </div>

            </div>

           </div>
        </div>
    </div>


    <div class="information">

    </div>
</div>