<div class="container">
    <!-- Profile Card Section -->
    <div class="profile-card">
        <div class="blue-header">
            <img src="assets/images/bg1.jpg" alt="Profile Picture" class="profile-picture">
        </div>
        <div class="card-content">
            <h4>Albert S. Block The III</h4>
            <h6>Employee</h6>

            <div class="contentcontainer">
                <ul class="content">
                    <li>ID Number:</li>
                    <li>Gender:</li>
                    <li>Contact Number:</li>
                </ul>

                <ul class="content1">
                    <li>1717</li>
                    <li>Male</li>
                    <li>09982315478</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Personal Information Form Section -->
    <div class="form-section">
        <h3>Personal Information</h3>
        <form class="personal-info-form">
            <div class="form-row">
                <div class="form-group">
                    <label for="firstName">First name</label>
                    <input type="text" id="firstName" value="Albert">
                </div>
                <div class="form-group">
                    <label for="middleName">Middle name</label>
                    <input type="text" id="middleName" value="S">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="lastName">Last name</label>
                    <input type="text" id="lastName" value="Block The">
                </div>
                <div class="form-group">
                    <label for="extName">Ext name</label>
                    <input type="text" id="extName" value="III">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <input type="text" id="gender" value="Male" readonly>
                </div>
                <div class="form-group">
                    <label for="contactNumber">Contact Number</label>
                    <input type="text" id="contactNumber" value="09982315478">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password">
                </div>
                <div class="form-group">
                    <label for="uploadImage">Upload Image</label>
                    <input type="file" id="uploadImage">
                </div>
            </div>

            <button type="button" class="edit-btn">Edit</button>
        </form>
    </div>
</div>
