<div class="container">
    <div class="news-left">
        <div class="latest-announcement">
            <h3>LATEST ANNOUNCEMENT!</h3>
            <div class="image-left">
                <img src="/assets/images/background.jpg" alt="Description of Image" class="image-holder">
            </div>
            <div class="latest-announcement-content">
                <h6>September 23, 2024 - 10:58 PM</h6>
                <h4>Schedule for this month </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Phasellus pharetra augue velit, quis volutpat libero ultricies pellentesque.
                    Donec ac lectus et lectus consectetur imperdiet sit amet at nibh.
                    Pellentesque accumsan quam et odio accumsan, id pulvinar mauris malesuada. 
                    Aenean maximus turpis vitae mauris commodo, at tempus elit vehicula.</p>
            </div>
        </div>
    </div>
   
    <div class="news-right">
        <div class="other-announcements">
            <h6>OTHER ANNOUNCEMENTS!</h6>
        </div>

        <div class="blue-announcement">
            <div class="image-right">
                <img src="/assets/images/background.jpg" alt="Description of Image" class="image-holder">
            </div>
            <div class="content">
                <h6>Date Posted: September 23, 2024</h6>
                <h4>Schedule for this month</h4>
            </div>
        </div>

        <div class="blue-announcement">
            <div class="image-right">
                <img src="/assets/images/background.jpg" alt="Description of Image" class="image-holder">
            </div>
            <div class="content">
                <h6>Date Posted: September 23, 2024</h6>
                <h4>Schedule for this month</h4>
            </div>
        </div>

        <div class="blue-announcement">
            <div class="image-right">
                <img src="/assets/images/background.jpg" alt="Description of Image" class="image-holder">
            </div>
            <div class="content">
                <h6>Date Posted: September 23, 2024</h6>
                <h4>Schedule for this month</h4>
            </div>
        </div>

        <div class="blue-announcement">
            <div class="image-right">
                <img src="/assets/images/background.jpg" alt="Description of Image" class="image-holder">
            </div>
            <div class="content">
                <h6>Date Posted: September 23, 2024</h6>
                <h4>Schedule for this month</h4>
            </div>
        </div>

    </div>
</div>
