.main-content {
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 38px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
  
.header h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 17px;
  padding-left: 5px;
}
  
.content {
  border-radius: 10px;
  padding: 30px;
  margin: 5px;
  background: var(--white);
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.322);
  border: 0.5px solid var(--table-border);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .content-left {
    flex: 0 0 auto;

    .image-holder {
      width: 250px;
      height: auto;
      display: block;
      margin-right: 1rem;
    }
  }

  .content-right {
    margin-top: 25px;
    padding-left: 15px;
    flex: 1;
    max-height: 500px;
    overflow-y: auto;

    .title {
      font-size: 17px;
      margin-bottom: 25px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .description {
      font-size: 13px;
      color: #666;
      font-family: 'Poppins', sans-serif;
      white-space: pre-wrap;
      word-wrap: break-word;
      text-align: justify;
    }

    .publish-info {
      margin-top: 13px;
      font-size: 0.875rem;
      color: #888;

      .publish-date {
        margin-bottom: 5px;
      }
    }
  }
}
  
.previous-announcements {
  padding-bottom: 25px;

  .header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  .header h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 17px;
    padding-top: 35px;
  }

  .announcement-cards {
    display: flex;
    flex-wrap: wrap; 
    margin-right: 15px;
    gap: 30px;

    .announcement-card {
      flex: 1 1 calc(50% - 15px); 
      display: flex;
      align-items: center;
      box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.322);
      border: 0.5px solid var(--table-border);
      border-radius: 8px;
      overflow: hidden;
      cursor: pointer;
      padding: 20px;
      transition: box-shadow 0.3s ease, transform 0.3s ease;
      background: var(--white);
      box-sizing: border-box; 

      &:hover {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        transform: scale(1.02);
      }

      .card-image {
        width: 100px;
        height: auto;
        object-fit: cover;
      }

      .card-content {
        padding: 15px;
        flex: 1;

        .card-title {
          font-size: 13px;
          font-weight: bold;
          margin-bottom: 10px;
        }

        .card-description {
          font-size: 13px;
          color: #666;
          margin-bottom: 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .card-date {
          font-size: 0.875rem;
          color: #888;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .main-content {
    padding: 25px;
  }

  .dashboard {
    padding: 10px 15px;
    margin: 10px 0;
    width: auto;
    height: auto;
    font-size: 14px;
  }

  .header {
    padding-bottom: 10px;
  }

  .header h1 {
    padding: 0;
    margin-top: 15px;
    font-size: 18px;
  }

  .content {
    display: flex; 
    flex-direction: column; 
    margin: 0;
    box-shadow: none;
    max-width: 100%;
    gap: 10px; 

    .content-left {
      flex: 1; 
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .content-left .image-holder {
      max-width: 100%;
      height: auto;
      margin-right: 0;
    }
  
    .content-right {
      padding: 10px;
    }
  
    .content-right .title {
      font-size: 1.2rem;
      margin-bottom: 15px;
    }
  
    .content-right .description {
      font-size: 0.9rem;
    }
  
    .content-right .publish-info {
      margin-top: 10px;
      font-size: 0.75rem;
    }
  }

  .previous-announcements {
    .header {
      padding-bottom: 10px;
    }

    .header h1 {
      padding: 0;
      margin-top: 15px;
      font-size: 18px;
    }

    .announcement-cards {
      display: flex;
      flex-wrap: wrap;
      margin: 0; 
      gap: 15px;

      .announcement-card {
        flex: 1 1 100%; 
        padding: 10px;

        .card-image {
          width: 150px;
          height: auto;
          object-fit: cover;
        }

        .card-content {
          padding: 15px;
          flex: 1;
  
          .card-title {
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 10px;
            white-space: nowrap; 
            overflow: hidden; 
            text-overflow: ellipsis; 
            max-width: 15ch;
          }
  
          .card-date {
            font-size: 0.875rem;
            color: #888;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .header {
    padding-bottom: 10px;
  }

  .header h1 {
    padding: 0;
    margin-top: 10px;
    font-size: 18px;
  }

}
  
  