<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="main-content">
    <div class="header"> 
    </div>

    <div class="table-content">
        <div class="table-head">

           <!----------- DATE PICKER ----------->
               
           <div class="input-row">
            <div class="txt_field">
                <label for="datepicker"> From: </label>
                    <input type="date" autocomplete="off">
            </div>
            <div class="txt_field">
                <label for="datepicker"> To: </label>
                    <input type="date" autocomplete="off">
            </div>

        <!----------- EXPORT ----------------> 

            <div class="txt_field">
                <button class="print">Print</button>
            </div>
        </div>

            <div class="search-container">
                <input id="search" type="text" placeholder="Search..." name="search">
                <button ><i class="fa fa-search"></i></button>
            </div>

        </div>
          
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

             <!-- Id Number Column -->
             <ng-container matColumnDef="employee_id">
                <th mat-header-cell *matHeaderCellDef> ID Number </th>
                <td mat-cell *matCellDef="let element"> {{element.employee_id}} </td>
            </ng-container>
        
            <!-- Employee Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </th>
                <td mat-cell *matCellDef="let element"> 
                    {{element.first_name}} {{element.middle_name ? element.middle_name[0] + '.' : ''}} {{element.last_name}} {{element.ext_name || ''}}
                </td>
            </ng-container>
        
            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> Position </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- Net Salary Column -->
            <ng-container matColumnDef="net_salary">
                <th mat-header-cell *matHeaderCellDef> Net Salary </th>
                <td mat-cell *matCellDef="let element"> {{element.phone_number}} </td>
            </ng-container>

             <!-- Total Deduction Column -->
             <ng-container matColumnDef="total_deduction">
                <th mat-header-cell *matHeaderCellDef> Total Deduction </th>
                <td mat-cell *matCellDef="let element"> {{element.phone_number}} </td>
            </ng-container>

            <!-- Total Salary Column -->
            <ng-container matColumnDef="total_salary">
                <th mat-header-cell *matHeaderCellDef> Total Salary </th>
                <td mat-cell *matCellDef="let element"> {{element.phone_number}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>   
    </div>
</div>