.main-content {
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 70px; 
}

.table-container {
  border-radius: 10px;
  padding: 30px;
  background: var(--white);
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.322);
  border: 0.5px solid var(--table-border);
  width: 100%;
}

.scroll-container {
  display: flex;
  width: 100%;
  padding-bottom: 20px;
}

.fixed-columns {
  flex: 1;
  width: 100px; 
}

.scrollable-columns {
  overflow-x: auto;
  overflow-y: auto;
  max-width: calc(90% - 500px); 
  max-height: 400px;
}

th {
  background-color: var(--primary-color) !important;
  color: var(--white);
  width: 200px; 
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

td {
  width: 200px; 
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #333;
}


table td,
table th {
  min-width: 170px; 
  max-width: 170px; 
}

.employee-name {
  min-width: 200px;
  max-width: 200px;
  text-align: left;
}

table tr:hover {
  background-color: #f5f5f5;
}

.mat-header-row {
  position: sticky;
  top: 0;
  background-color: #333;
  color: white;
  z-index: 1;
}
