<div class="main-content">

  <div class="dropdown">
    <select (change)="changeData()" [(ngModel)]="filterValue">
      <option *ngFor="let element of dateFilter" [value]="element"> {{ element }} </option>
    </select>
  </div>

    <div class="table-container">
      <div class="scroll-container">
        <div class="fixed-columns">
          <table mat-table [dataSource]="dataSource" matSort>
            <!-- Employee ID Column -->
            <ng-container matColumnDef="employee_id">
              <th mat-header-cell *matHeaderCellDef> ID Number </th>
              <td mat-cell *matCellDef="let element"> {{element.employee_id}} </td>
            </ng-container>

            <!-- Employee Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="employee-name"> Employee Name </th>
              <td mat-cell *matCellDef="let element" class="employee-name"> {{element.name}} </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> Position </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- Rate Column -->
            <ng-container matColumnDef="rate">
              <th mat-header-cell *matHeaderCellDef> Rate </th>
              <td mat-cell *matCellDef="let element"> {{element.hourly_rate}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="fixedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: fixedColumns;"></tr>
          </table>
        </div>

        <div class="scrollable-columns">
          <table mat-table [dataSource]="dataSource" matSort>

            <ng-container *ngFor="let column of scrollableColumns" [matColumnDef]="column">
              <th mat-header-cell *matHeaderCellDef> {{ column }} </th>
              <td mat-cell *matCellDef="let element"> 
                  <ng-container *ngIf="column == 'GROSS'">
                    <td> {{ element.gross_pay }} </td>
                  </ng-container>

                  <ng-container *ngIf="column == 'TOTAL DEDUCTIONS'">
                    <td> {{ element.total_deductions }} </td>
                  </ng-container>

                  <ng-container *ngIf="column == 'NET PAY'">
                    <td> {{ element.net_pay }} </td>
                  </ng-container>

                  <ng-container *ngIf="!['GROSS', 'TOTAL DEDUCTIONS', 'NET PAY'].includes(column)">
                    <td> {{ element[column] || 'N/A' }} </td>
                  </ng-container>
            </ng-container>
            

            <!-- Allowance Column -->
            <!-- <ng-container matColumnDef="allowance">
              <th mat-header-cell *matHeaderCellDef> Allowance </th>
              <td mat-cell *matCellDef="let element"> {{element.allowance}} </td>
            </ng-container> -->

            <!-- Contributions Column -->
            <!-- <ng-container matColumnDef="contributions">
              <th mat-header-cell *matHeaderCellDef> Contributions </th>
              <td mat-cell *matCellDef="let element"> {{element.contributions}} </td>
            </ng-container> -->

            <!-- Other Deductions Column -->
            <!-- <ng-container matColumnDef="other_deductions">
              <th mat-header-cell *matHeaderCellDef> Other Deductions </th>
              <td mat-cell *matCellDef="let element"> {{element.other_deductions}} </td>
            </ng-container> -->

            <!-- Total Deductions Column -->
            <!-- <ng-container matColumnDef="total_deductions">
              <th mat-header-cell *matHeaderCellDef> Total Deductions </th>
              <td mat-cell *matCellDef="let element"> {{element.total_deductions}} </td>
            </ng-container> -->

            <!-- Net Salary Column -->
            <!-- <ng-container matColumnDef="net_salary">
              <th mat-header-cell *matHeaderCellDef> Net Salary </th>
              <td mat-cell *matCellDef="let element"> {{element.net_salary}} </td>
            </ng-container> -->

            <!-- Total Salary Column -->
            <!-- <ng-container matColumnDef="total_salary">
              <th mat-header-cell *matHeaderCellDef> Total </th>
              <td mat-cell *matCellDef="let element"> {{element.total_salary}} </td>
            </ng-container> -->

            <tr mat-header-row *matHeaderRowDef="scrollableColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: scrollableColumns;"></tr>
          </table>
        </div>
      </div>
      <!-- Pagination -->
      <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>
