.main-content {
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px; 
  overflow: hidden;
}

.table-container {
  border-radius: 10px;
  padding: 2rem; 
  background: var(--white);
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.322);
  border: 0.5px solid var(--table-border);
  width: 78.5vw;  
  max-width: 85vw;  
  min-width: 300px;  
  overflow-x: auto;
  transition: width 0.2s ease-in-out;
}

.table-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px; 
}

.table-head h1 {
  color: var(--landing-font);
  font-size: 17px;
  font-weight: 700;
  padding-left: 5px;
  cursor: pointer;
}

.actions {
  display: flex;
  align-items: center;
  gap: 15px; 
}

.release-date {
  font-family: 'Poppins';
  font-style: italic;
  display: flex;
  float: right;
  margin-bottom: 5px;
}

.bold {
  font-weight: 500;
}

.release-date div {
  margin: 3px;
  font-size: 13px;
}

.report-button {
  background-color: var(--primary-color);
  color: var(--white);
  width: 90px;
  height: 35px;
  font-size: 13px;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.date-range-dropdown {
  select {
    width: 210px;
    padding: 8px;
    font-size: 13px;
    font-family: "poppins";
    background: var(--white);
    border: 0.5px solid var(--table-border);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
  }
}

p {
  float: right;
  padding-bottom: 15px;
  font-weight: 15px;
}

.scroll-container {
  display: flex;
  width: 100%;
  align-items: stretch;
  padding-bottom: 20px;
}

.fixed-columns {
  flex: 1;
  width: 100px; 
}

.scrollable-columns {
  overflow-x: auto;
  overflow-y: hidden;
  flex: 1;
  max-width: calc(55.8% - 285px); 
  max-height: auto;
}


@media (max-width: 1200px) {
  .main-content {
    padding-right: 45px;
  }

  .table-container {
    width: 150vw;  
    max-width: 100vw;  
  }

  .scrollable-columns {
    max-width: calc(59% - 475px); 
  }
}


@media (max-width: 992px) {
  .main-content {
    padding-right: 145px;
  }

  .table-container {
    width: 76vw;  
    max-width: 100vw;  
  }

  .scrollable-columns {
    max-width: calc(75vw - 300px); 
  }
}

table {
  border-collapse: collapse;
}

td {
  padding: 15px;
  font-size: 13px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  white-space: normal;
  word-wrap: break-word;
  border-collapse: collapse;

}

th {
  background-color: var(--primary-color) !important;
  color: var(--white);
  font-size: 13px;
  padding: 5px;
  height: 45px;
  text-align: center;
  border-collapse: collapse;
  border-right: none;
  white-space: normal;
  word-wrap: break-word;
}

table td,
table th {
  min-width: 167px; 
  max-width: 167px; 
}


.fixed-columns table th:nth-child(1), 
.fixed-columns table td:nth-child(1) {
  min-width: 80px;
  max-width: 150px;
  text-align: center;
}

.fixed-columns table th:nth-child(2), 
.fixed-columns table td:nth-child(2) {
  min-width: 300px;
  max-width: 400px;
  text-align: center;
}

.fixed-columns table th:nth-child(3), 
.fixed-columns table td:nth-child(3) {
  min-width: 250px;
  max-width: 300px;
  text-align: center;
}


.mat-header-row {
  position: sticky;
  top: 0;
  background-color: #333;
  color: white;
  z-index: 1;
}
