<div class="content">
    <div class="header">
        <h1> Payroll Management System </h1>
    </div>
    
    <div class="body-content">
        <div class="admin-container"> 
            <router-outlet></router-outlet> 
        </div>
    </div>

    <nav class="sidebar-content">
        <div class="logo-title">
            <div class="logo">
                <img src="assets/images/gm18.png">
            </div>
        </div>

        <div class="sidebar-tabs">
            <ul class="tabs">
                <li class="tab">
                    <a class="tab-link" routerLink="dashboard" routerLinkActive="active-link">
                    <span class="tab-icon"> <i class='bx bxs-dashboard'></i> </span>
                    <span class="tab-name">Dashboard</span>
                    </a>
                </li>

                <li class="tab">
                    <a class="tab-link" routerLink="payslips" routerLinkActive="active-link">
                        <span class="tab-icon"> <i class='bx bxs-user-detail'></i> </span>
                    <span class="tab-name">Payslips</span>
                    </a>
                </li>
                <li class="tab">
                    <a class="tab-link" routerLink="announcement" routerLinkActive="active-link">
                        <span class="tab-icon"> <i class='bx bxs-user-detail'></i> </span>
                    <span class="tab-name">Announcement</span>
                    </a>
                </li>
                <li class="tab">
                    <a class="tab-link" routerLink="attendance" routerLinkActive="active-link">
                        <span class="tab-icon"> <i class='bx bxs-user-detail'></i> </span>
                    <span class="tab-name">Attendance</span>
                    </a>
                </li>
                <li class="tab">
                    <a class="tab-link" routerLink="profile" routerLinkActive="active-link">
                        <span class="tab-icon"> <i class='bx bxs-user-detail'></i> </span>
                    <span class="tab-name">Profile</span>
                    </a>
                </li>

                
            </ul>
            <div class="logoutbtn">
                <div class="logout" routerLink="/login">
                    <span> <i class='bx bx-log-out bx-rotate-180' ></i></span>
                </div>
                </div> 
        </div>
    </nav>
</div>