.body-content {
    padding-left: 220px;
    padding-top: 60px;
}

.admin-container {
    min-width: 85%;
    max-width: fit-content;
    position: absolute;
    padding-bottom: 55px;
}

/* HEADER */

.header {
    position: fixed;
    background-color: var(--header-color);
    height: 60px;
    width: 100%;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}


.title {
    margin-left: 15.5rem;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    flex: 1;
}

.header-mobile {
    display: none; 
    height: 40px; 
    flex: 1;
}

.header .current-date-time {
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
    margin-right: 4vw;
    color: var(--cancel);
}

.header .current-date-time i {
    margin-right: 8px;
    font-size: 20px;
    color: var(--cancel);
}

@media (max-width: 500px) { 
    .body-content {
        padding-left: 0; 
    }

    .admin-container {
        min-width: 100%; 
        position: relative; 
      }

    .header {
        height: auto;
        position: fixed;
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .title {
        display: none; 
        font-size: 25px;
    }
    
    .header-mobile {
        display: block; 
        padding-top: 15px;
        font-size: 15px;
        padding-right: 0;
    }

    .header .current-date-time {
        margin-right: 0;
        font-size: 12px;
        padding-right: 47px;
    }

    .header .current-date-time i {
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    .body-content {
        padding-left: 0; 
    }

    .admin-container {
        min-width: 100%; 
        position: relative; 
      }

    .header {
        height: auto;
        position: fixed;
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .title {
        display: none; 
        font-size: 25px;
    }
    
    .header-mobile {
        display: block; 
        padding-top: 15px;
        font-size: 15px;
    }

    .header .current-date-time {
        font-size: 12px;
        padding-right: 47px;
    }
    .header .current-date-time i {
        font-size: 12px;
    }
}


/* SIDEBAR CONTENT */
.sidebar-content {
    position: relative;
    width: 230px;
    top: 0;
    left: 0;
    height: 100%;
    padding: 30px 0;
    z-index: 100;
    transition: all 0.3s ease;
    display: block;

    .logo img {
        height: 200px;
        width: 200px;
        display: flex;
        justify-content: center;
        margin-top: 25px;
        margin-left: 5px;
    }

    .burger-icon {
        font-size: 24px;
        color: var(--white);
        margin-left: auto;
        cursor: pointer;
        display: flex;
        flex-direction: row-reverse;
    }

    mat-sidenav {
        position: fixed;
        top: 0;
        left: 0;
        width: 220px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: var(--primary-color);
        height: 100%;
      }
    
      @media (max-width: 500px) {
        display: none;
    }

    mat-nav-list {
        a {
            display: flex;
            padding: 10px 10px 10px 10px;
            text-decoration: none;

            .tab-name {
                margin-top: 3px;
                font-size: 17px;
                padding-left: 10px;
                padding-top: 2px;
                color: var(--white);
            }

            .tab-icon {
                font-size: 18px;
                padding-left: 10px;
                margin-top: 30px;
                color: var(--white);
            }
        }

        a:hover {
            background-color: var(--buttons-hover);
            color: var(--white);

            .tab-icon, .tab-name {
                color: var(--white);
            }
        }

        a.active-link {
            width: 219px;
            background-color: var(--background-color);

            .tab-icon, .tab-name {
                color: var(--primary-color);
                font-weight: 700;
            }
        }
    }

    .logout {
        margin-top: 25px;
        text-align: center;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        cursor: pointer;
        background-color: var(--primary-color);

        .tab-icon {
            color: var(--white);
        }

        &:hover {
            background-color: var(--buttons-hover);
        }
    }
}

/* Bottom Nav */ 

// .bottom-nav {
//     width: 100%;
//     display: flex;
//     position: fixed;
//     bottom: 0;
//     left: 0;
//     height: 80px;
//     z-index: 100;
//     box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
//     background-color: var(--primary-color);
//     padding: 4px;

//     justify-content: space-around;
//     border-top-left-radius: 10px;
//     border-top-right-radius: 10px;

//     @media (min-width: 500px) {
//         display: none;
//     }

//     @media (max-width: 499px) {
//         display: flex;
//         padding: 10px;
//         flex-direction: row;
//     }

//     button {
//         display: flex;
//         flex-direction: column; 
//         align-items: center; 
//         justify-content: center;
//         color: white;
//         background-color: transparent;
//         border: none;
//         padding: 8px;
//         text-align: center;
//         gap: 5px; 
//         cursor: pointer;

//         .tab-name {
//             margin-top: 3px;
//             font-size: 12px;
//             padding-left: 10px;
//             padding-top: 2px;
//             color: var(--white);
//         }

//         .tab-icon {
//             font-size: 10px;
//             padding-left: 10px;
//             margin-top: 30px;
//             color: var(--white);
//         }

//         &.active-link {
//             background-color: var(--background-color);
//             color: var(--primary-color);
//             font-weight: 700;
//             border-radius: 8px;
//         }

//         &:hover {
//             background-color: var(--buttons-hover);
//             border-radius: 8px;
//         }
//     }
// }

.bottom-nav {
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 65px;
    z-index: 100;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--primary-color);
    padding: 4px;
    justify-content: space-around;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    @media (min-width: 500px) {
        display: none;
    }

    @media (max-width: 400px) {
        display: flex;
        flex-direction: row;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white);
        background-color: transparent;
        border: none;
        padding-top: 10px;
        cursor: pointer;

        i {
            font-size: 20px;
            color: var(--white);
        }

        &.active-link {
            background-color: var(--background-color);
            font-weight: 700;
            max-height: 50px;
            padding-top: 25px;
            padding-bottom: 20px;
            // padding-left: 0;
            // padding-right: 0;
            border-radius: 8px;

            i {
                color: var(--primary-color);
            }
        }

        &:hover {
            background-color: var(--buttons-hover);
            border-radius: 8px;
        }
    }
}








  


