.main-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.attendance-detail {
  position: relative;
  background: var(--white);
  width: 700px;
  height: 350px;
  border-radius: 5px;
  padding-bottom: 20px;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.322);
  max-height: 675px;
  display: flex;
  flex-direction: column;
  z-index: 1; 
}

.header {
  display: flex;
  padding: 20px 30px 30px;
  position: fixed;
  width: 640px;
  background-color: var(--primary-color);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  z-index: 1;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.192);
  padding-bottom: 15px;

  .close-button {
    position: relative;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    font-size: 40px; 
    cursor: pointer;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;

    i {
        margin: 0; 
        font-size: inherit; 
    }
  }

  h1 {
    color: var(--white);
    padding-top: 5px;
    width: 100%;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
  }
}

.popup-content {
  padding-top: 100px; 
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;

  p {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }

  .button-row {
    display: flex;
    align-items: flex-start; 
    gap: 30px; 
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;

    .action-dropdown {
      position: relative;

      .action-btn {
        background: var(--primary-color);
        color: var(--white);
        border: none;
        width: 120px;
        padding: 10px 20px;
        border-radius: 3px;
        cursor: pointer;
        font-family: "poppins";
      }

      .dropdown-content {
        display: flex;
        width: 120px;
        flex-direction: column;
        position: absolute;
        background: var(--white);
        border: 1px solid var(--grey);
        border-radius: 3px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        top: 100%;
        margin-top: 10px;
        z-index: 10;

        button {
          background: transparent;
          font-family: "poppins";
          border: none;
          padding: 10px 20px;
          cursor: pointer;
          text-align: center;

          &:hover {
            background: var(--primary-color);
            color: var(--white);
            border-radius: 3px;
          }
        }
      }
    }
  }

  .manual-action, .leave-action {
    display: flex;
    align-items: center;
    gap: 20px; 

    .time-row {
      display: flex;
      align-items: center; 

      .label {
        font-family: 'Poppins';
        font-size: 12px; 
        width: 60px; 
        margin-right: 15px;
      }

      input {
        border: 1px solid var(--header-color);
        border-radius: 3px;
        font-size: 15px;
        width: 85px; 
        font-family: 'Poppins';
        padding: 7px;
      }
    }

    .leave-select {
      width: 355px;
      padding: 10px;
      border-radius: 3px;
      font-family: "poppins";
      background: var(--white);
      border: 0.5px solid var(--table-border);
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      cursor: pointer;
  
      select {
        padding: 10px;
        box-sizing: border-box;
      }
    }

    .time-btn, .leave-btn {
      background: var(--primary-color);
      color: var(--white);
      border: none;
      padding: 10px 20px;
      border-radius: 3px;
      cursor: pointer;
      font-family: 'Poppins';
      font-size: 14px;
    }

    .leave-btn {
      margin-left: 10px; 
    }
  }
}

