<main>
  <div class="main-container">
    <div class="attendance-detail">
      <div class="header">
        <h1>{{ selectedDay }}</h1>
        <button type="button" class="close-button" (click)="closePopup()">
          <i class='bx bx-x'></i>
        </button>
      </div>

      <div class="popup-content">
        <div class="time-row">
          <!-- With Records -->
          <ng-container *ngIf="data.details">
            <p *ngIf="data.details.time_in" >   <strong>Time In:</strong> {{ formatTime(data.details.time_in) }} </p>
            <p *ngIf="data.details.time_out">   <strong>Time Out:</strong> {{ formatTime(data.details.time_out) }} </p>
          </ng-container>

          <!-- No data -->
          <p *ngIf="!data.details.time_in" ><strong> No Data Available </strong></p>
        </div>        

        <div class="button-row">
          <div class="action-display">
            <ng-container [ngSwitch]="selectedAction">
              <div *ngSwitchCase="'manual'" class="manual-action">
                <div class="time-row">
                  <div class="label">Time In</div>
                  <input type="time" [(ngModel)]="manual.timeIn" class="time-input" [disabled]="data.details.time_in" />
                </div>
          
                <div class="time-row">
                  <div class="label">Time Out</div>
                  <input type="time" [(ngModel)]="manual.timeOut" class="time-input" [disabled]="data.details.time_out || (!manual.timeIn && !data.details.time_in)" />
                </div>
                  <button class="time-btn time-out" (click)="updateManualTime()" [disabled]="(manual.timeIn == null && manual.timeOut == null)"> Save </button>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>