<div class="main-container">
    <div class="view-proof">
        <div class="header">
            <h1>Import File</h1>
            <button type="button" class="close-button" (click)="closePopup()">
              <i class='bx bx-x'></i>
            </button>
        </div>

        <div class="detailsbody">
            <div class="file-upload">
                <input type="file" accept=".xlsx" (change)="onFileSelected($event)">
                    <div class="label"> Choose File to Import  </div>
            </div>

            <div class="buttons">
                <button class="btn-primary add" type="button" (click)="submit()" [disabled]="isLoading || !file"> Add </button>
                <button class="btn-secondary cancel" type="button" (click)="closePopup()"> Cancel </button>
            </div>
        </div>
    </div>
</div>