<main>
    <div class="main-container">
        <form class="form-info" [formGroup]="form" (submit)="submit()">
            <div class="header">
                <h1> {{ data.title }} </h1>
            </div>
            <div class="detailsbody">

                <div class="input-row">
                    <div class="entryarea">
                        <input type="text" formControlName="title" (keyup)="capitalize($event, 'title')">
                        <div class="labelline"> Title </div>
                    </div>
                </div>

                <div class="input-row">
                    <div class="entryarea1">
                        <textarea formControlName="content"></textarea>
                        <span></span>
                        <div class="labelline1"> Content  </div>
                    </div>
                </div>

                <div class="input-row"> 
                    <div class="entryarea2">
                        <input #fileInput class="inputtxt" type="file" (change)="onFileChange($event, fileInput)">
                        <span></span>
                        <div class="labelline2"> Upload Image </div>
                    </div>
                </div>

                <div class="buttons">
                    <div class="add-btn">
                        <button class = "button" type="submit" value="Add" id="cancel"> {{ data.button }} </button>
                    </div>

                    <div class="cancel-btn">
                        <button class = "button" type="button" value="Cancel" id="cancel" (click)="close()"> CANCEL </button>
                    </div>
                    
                </div>

            </div>
        </form>
    </div>
</main>