.main-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.form-info {
  position: relative;
  background: var(--white);
  width: 1000px; 
  height: auto;
  border-radius: 5px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 55px;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.322);
  max-height: 675px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.close-button {
  position: absolute; 
  top: 10px;          
  right: 10px;       
  background-color: transparent;
  border: none;
  font-size: 25px; 
  cursor: pointer;
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; /* Ensure the close button stays above the image */

  i {
    margin: 0; 
    font-size: inherit; 
  }
}

.form-details {
  display: flex;
  gap: 20px; 
}

.content-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* This makes it the reference for the close button positioning */
}

.image-holder {
  max-height: 600px; 
  max-width: 400px;
  display: block;
  border-radius: 5px;
}

.content-right {
  flex: 2;  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 17px;
  margin-bottom: 15px;
}

.description {
  font-size: 13px;
  color: #666;
  font-family: 'Poppins', sans-serif;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}

.publish-info {
  margin-top: 15px;
  font-size: 13px;
  color: #888;
}

.publish-date {
  margin-bottom: 5px;
}

@media (max-width: 500px) {
  .form-info {
    width: 325px; 
    padding-right: 25px;
  }

  .form-details {
    flex-direction: column;
    align-items: center;
  }

  .close-button {
    position: absolute;
    top: 35px;
    right: 10px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 49%;
    font-size: 40px;
    cursor: pointer;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; 
  }

  .content-left {
    margin-bottom: 20px;
    position: relative; 
    width: 100%; 
  }

  .image-holder {
    width: 100%;
    height: auto;
    position: relative; 
  }

  .content-right {
    text-align: justify;
  }

  .description {
    text-align: justify;
  }
}

@media (max-width:  400px) {
  .form-info {
    width: 300px; 
    padding-right: 25px;
  }
}
