<main>
    <div class="main-container">
        <div class="detailsbody">
            <div class="table-content">

                <div class="loading" *ngIf="isLoading">
                    <app-spinner></app-spinner>
                </div>

                <ng-container>
                    <div class="table-head" *ngIf="!isLoading">
                        <div class="header"> 
                            <button type="button" class="close-button" (click)="closePopup()">
                                <i class='bx bx-x'></i>
                            </button>
                        </div>
                        <div class="input-row">
                            <div class="information-case">
                                <th> EMPLOYEE NAME: </th>  
                                <td> {{ employee.full_name }} </td>
                            </div>
                
                            <div class="information-case">
                                <th> PAYROLL PERIOD: </th> 
                                <td> {{ data.start | date: 'mediumDate' }} - {{ data.end | date: 'mediumDate' }} </td>  
                            </div>
                        </div>
            
                        <div class="input-row">
                            <div class="information-case">
                                <th> ID NUMBER: </th>  
                                <td> {{ employee.employee_id }} </td>
                            </div>
            
                            <div class="information-case">
                                <th> RATE/HOUR: </th>  
                                <td> {{ rate || 'N/A' }} </td> 
                            </div>
                        </div>
            
                        <div class="input-row">
                            <div class="information-case">
                                <th> POSITION: </th> 
                                <td> {{ employee.position }} </td> 
                            </div>
                        </div>
                    </div>
            
                    <div *ngIf="noPayslip && !isLoading" class="no-payslip"> <!-- Lagay mo dito P kung wala ano didisplay hehe-->
                        No payslip available 
                    </div>
                    

                    <div class="table-content1" *ngIf="!isLoading">
                        <div class="earnings-and-deductions">
                            <div class="earnings-container">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Earnings</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Regular Work Pay</td>
                                            <td>{{ base_pay }}</td>
                                        </tr>
                                        <tr>
                                            <td>Food Allowance</td>
                                            <td>{{ total_additions }}</td>
                                        </tr>
                                        <tr>
                                            <td>Transportation</td>
                                            <td>{{ total_additions }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        
                            <div class="deductions-loans-container">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Deductions</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>SSS Provident Fund EE</td>
                                            <td>{{ total_deductions }}</td>
                                        </tr>
                                        <tr>
                                            <td>SSS Prem Payable-EE</td>
                                            <td>{{ total_deductions }}</td>
                                        </tr>
                                        <tr>
                                            <td>PHIC Prem Payable-EE</td>
                                            <td>{{ total_deductions }}</td>
                                        </tr>
                                        <tr>
                                            <td>HDMF Prem Payable-EE</td>
                                            <td>{{ total_deductions }}</td>
                                        </tr>
                                        <tr class="total-row">
                                            <td><strong>Sub Total</strong></td>
                                            <td><strong>{{ total_deductions }}</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                        
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Loan Type</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Advance Loan</td>
                                            <td>{{ total_deductions }}</td>
                                        </tr>
                                        <tr>
                                            <td>Calamity Loan</td>
                                            <td>{{ total_deductions }}</td>
                                        </tr>
                                        <tr class="total-row">
                                            <td><strong>Sub Total</strong></td>
                                            <td><strong>{{ total_deductions }}</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                        
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Other Deductions</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Sample Deductions 1</td>
                                            <td>{{ total_deductions }}</td>
                                        </tr>
                                        <tr>
                                            <td>Sample Deductions 2</td>
                                            <td>{{ total_deductions }}</td>
                                        </tr>
                                        <tr class="total-row">
                                            <td><strong>Sub Total</strong></td>
                                            <td><strong>{{ total_deductions }}</strong></td>
                                        </tr>
                                    </tbody>
                                </table>    
                            </div>
                        </div>
            
                        <hr class="divider-line">
                        
                        <div class="totals-wrapper">
                            <table class="pay-row-table">
                                <tr class="pay-row">
                                    <td><strong>Gross Pay</strong></td>
                                    <td><strong>{{ gross_pay }}</strong></td>
                                </tr>
                            </table>
                        
                            <table class="total-deduc-table">
                                <tr class="total-deduc">
                                    <td><strong>Total Deductions</strong></td>
                                    <td><strong>{{ total_deductions }}</strong></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </ng-container>                
            </div>
        </div>
    </div>
</main>