<main>
    <div class="main-container">
        <div class="detailsbody">
            <div class="table-content">

                <div class="loading" *ngIf="isLoading">
                    <app-spinner></app-spinner>
                </div>

                <ng-container>
                    <div class="table-head" *ngIf="!isLoading">
                        <div class="header"> 
                            <button type="button" class="close-button" (click)="closePopup()">
                                <i class='bx bx-x'></i>
                            </button>
                        </div>
                        <div class="input-row">
                            <div class="information-case">
                                <th> EMPLOYEE NAME: </th>  
                                <td> {{ employee.full_name }} </td>
                            </div>
                
                            <div class="information-case">
                                <th> PAYROLL PERIOD: </th> 
                                <td> {{ data.start | date: 'mediumDate' }} - {{ data.end | date: 'mediumDate' }} </td>  
                            </div>
                        </div>
            
                        <div class="input-row">
                            <div class="information-case">
                                <th> ID NUMBER: </th>  
                                <td> {{ employee.employee_id }} </td>
                            </div>
            
                            <div class="information-case">
                                <th> RATE/{{ employee.position == 'Instructor' ? 'HOUR' : 'DAY'}}: </th>  
                                <td> {{ rate || 'N/A' }} </td> 
                            </div>
                        </div>
            
                        <div class="input-row">
                            <div class="information-case">
                                <th> POSITION: </th> 
                                <td> {{ employee.position }} </td> 
                            </div>
                        </div>
                    </div>
            
                    <div *ngIf="noPayslip && !isLoading" class="no-payslip">
                        No payslip available 
                    </div>
                    

                    <div class="table-content1" *ngIf="!isLoading">
                        <div class="earnings-and-deductions">
                            <div class="earnings-container">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Earnings</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>                                
                                        <tr *ngIf="!payslip.attendance">
                                            <td> - </td>
                                            <td> - </td>
                                        </tr>

                                        <tr *ngFor="let type of payslip.attendance.types; let i = index;">
                                            <td>{{ type }} {{ payslip.attendance.hours[i] }}</td>
                                            <td>{{ payslip.attendance.amounts[i] }}</td>
                                        </tr>

                                        <tr class="total-row">
                                            <td><strong>Sub Total</strong></td>
                                            <td><strong>₱ {{ totals.attendance | number: '1.2-2' }}</strong></td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table>
                                    <thead>
                                        <tr>
                                            <th>Other Earnings</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>                                
                                        <tr *ngIf="!payslip.allowance.types.length">
                                            <td> - </td>
                                            <td> - </td>
                                        </tr>

                                        <tr *ngFor="let type of payslip.allowance.types; let i = index;">
                                            <td>{{ type }}</td>
                                            <td>{{ payslip.allowance.amounts[i] }}</td>
                                        </tr>

                                        <tr class="total-row">
                                            <td><strong>Sub Total</strong></td>
                                            <td><strong>₱ {{ totals.other_earnings | number: '1.2-2' }}</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        
                            <div class="deductions-loans-container">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Deductions</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>                                
                                        <tr *ngIf="!payslip.deduction.types.length">
                                            <td> - </td>
                                            <td> - </td>
                                        </tr>

                                        <tr *ngFor="let type of payslip.deduction.types; let i = index;">
                                            <td>{{ type }}</td>
                                            <td>{{ payslip.deduction.amounts[i] }}</td>
                                        </tr>
                                        <!-- <tr>
                                            <td>SSS Prem Payable-EE</td>
                                            <td>{{ total_deductions }}</td>
                                        </tr>
                                        <tr>
                                            <td>PHIC Prem Payable-EE</td>
                                            <td>{{ total_deductions }}</td>
                                        </tr>
                                        <tr>
                                            <td>HDMF Prem Payable-EE</td>
                                            <td>{{ total_deductions }}</td>
                                        </tr> -->
                                        <tr class="total-row">
                                            <td><strong>Sub Total</strong></td>
                                            <td><strong>₱ {{ totals.deductions | number: '1.2-2' }}</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                        
                                <!-- <table>
                                    <thead>
                                        <tr>
                                            <th>Loan Type</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Advance Loan</td>
                                            <td>{{ total_deductions }}</td>
                                        </tr>
                                        <tr>
                                            <td>Calamity Loan</td>
                                            <td>{{ total_deductions }}</td>
                                        </tr>
                                        <tr class="total-row">
                                            <td><strong>Sub Total</strong></td>
                                            <td><strong>{{ total_deductions }}</strong></td>
                                        </tr>
                                    </tbody>
                                </table> -->
                        
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Other Deductions</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>                                       
                                        <tr *ngIf="!payslip.other_deduction.types.length">
                                            <td> - </td>
                                            <td> - </td>
                                        </tr>

                                        <tr *ngFor="let type of payslip.other_deduction.types; let i = index;">
                                            <td>{{ type }}</td>
                                            <td>{{ payslip.other_deduction.amounts[i] }}</td>
                                        </tr>
                                        <!-- <tr>
                                            <td>Sample Deductions 1</td>
                                            <td>{{ total_deductions }}</td>
                                        </tr>
                                        <tr>
                                            <td>Sample Deductions 2</td>
                                            <td>{{ total_deductions }}</td>
                                        </tr> -->
                                        <tr class="total-row">
                                            <td><strong>Sub Total</strong></td>
                                            <td><strong>₱ {{ totals.other_deductions | number: '1.2-2' }}</strong></td>
                                        </tr>
                                    </tbody>
                                </table>    
                            </div>
                        </div>
            
                        <hr class="divider-line">
                        
                        <div class="totals-wrapper">
                            <table class="pay-row-table">
                                <tr class="pay-row">
                                    <td><strong>Gross Pay</strong></td>
                                    <td><strong>₱ {{ totals.gross | number: '1.2-2' }}</strong></td>
                                </tr>
                            </table>
                        
                            <table class="total-deduc-table">
                                <tr class="total-deduc">
                                    <td><strong>Total Deductions</strong></td>
                                    <td><strong>₱ {{ totals.total_deductions | number: '1.2-2' }}</strong></td>
                                </tr>
                            </table>
                        </div>
                        <div class="totals-wrapper">
                            <table class="pay-row-table">
                            </table>
                            <table class="pay-row-table">
                                <tr class="pay-row">
                                    <td><strong>Net Pay</strong></td>
                                    <td><strong>₱ {{ totals.net_pay | number: '1.2-2' }}</strong></td>
                                </tr>
                            </table>
                        </div>
                </div>
                </ng-container>                
            </div>
        </div>
    </div>
</main>