<div class="main-content">
    <div class="header"> 
        <h1> Employee Payroll </h1>
            <div class="input-row"> 
                <button class="btn-primary save-payroll" type="button" (click)="submit()"> Save </button>
                <button class="btn-secondary back" type="button" [routerLink]="'/admin/payrolls'"> Back </button>
            </div>    
    </div>

    <div class="content"> 
        <div class="input-row"> 
            <div class="container"> 
                <div class="container-head"> 
                     Employee Details   
                </div>
                
                <div class="content-details"> 
                    <div class="input-row1">
                        <div class="entryarea">
                            <input type="text" name="id_number" disabled value="{{ employee.employee_id || '' }}">
                            <div class="labelline"> ID Number </div>
                        </div>

                        <div class="entryarea">
                            <input type="text" name="fullname" disabled
                                value="{{employee.first_name}} {{employee.middle_name || ''}} {{employee.last_name}} {{employee.ext_name || ''}}">
                            <div class="labelline"> Full name </div>
                        </div>
                    </div>

                    <div class="input-row1">
                        <div class="entryarea">
                            <input type="text" name="position" disabled value="{{employee.position || ''}}">
                            <div class="labelline"> Position </div>
                        </div>

                        <div class="entryarea">
                            <input type="text" name="gender" disabled 
                                value="{{employee.gender == 0 ? 'Female' : employee.gender == 1 ? 'Male' : 'Others'}}">
                            <div class="labelline"> Gender </div>
                        </div>
                    </div>

                    <div class="input-row1">
                        <div class="entryarea1">
                            <input type="text" name="per_hour" [value]="hourlyRate">
                            <div class="labelline1"> Rate (hour) </div>
                        </div>

                        <div class="entryarea1">
                            <input type="text" name="per_day" [value]="hourlyRate * 8">
                            <div class="labelline1"> Rate (day) </div>
                        </div>

                        <div class="entryarea1">
                            <input type="text" name="amount" [value]="hourlyRate * 8 * 15">
                            <div class="labelline1"> AMT </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container"> 
                <div class ="container-head"></div>
                    <div class="input-row1">
                        <div class="entryarea2">
                            <input type="text" name="deductions">
                            <div class="labelline2"> Total Deductions </div>
                        </div>
                    </div>

                    <div class="input-row1">
                        <div class="entryarea2">
                            <input type="text" name="pay">
                            <div class="labelline2"> NET Pay </div>
                        </div>
                    </div>

                    <div class="input-row1">
                        <div class="entryarea2">
                            <input type="text" name="received">
                            <div class="labelline2"> Received by </div>
                        </div>
                    </div>
            </div>
        </div>

        <form [formGroup]="form" (submit)="submit()">
            <form formArrayName="forms">
                <div class = "input-row">
                    <div class="container-deduction">
                        <div class="container-head"> 
                            Deduction
                        </div>
                        <div class="input-row1"> 
                            <div class="entryarea3">
                            <form [formGroupName]="1">
                                <select formControlName="type"> 
                                    <option value="phic"> PHIC </option>
                                    <option value="sss" selected> SSS </option>
                                </select>
                                <div class="labelline3"> Type </div>
                            </form>
                            </div>

                            <div class="entryarea3">
                            <form [formGroupName]="2">
                                <input formControlName="sub_type" value="EE Share" hidden>
                                <input type="text" formControlName="amount" (keyup)="updateInvalidInput($event, '0', 'amount')">
                                <div class="labelline3"> EE Share </div>
                            </form>
                            </div>

                            <div class="entryarea3">
                            <form [formGroupName]="3">
                                <input formControlName="type" [value]="form.get('forms')?.get('0')?.get('type')?.value" hidden>
                                <input formControlName="sub_type" value="ER Share" hidden>
                                    <input type="text" formControlName="amount" (keyup)="updateInvalidInput($event, '1', 'amount')">
                                    <div class="labelline3"> ER Share </div>
                            </form>
                            </div>
                        </div>

                        <div class="input-row1"> 
                            <div class="entryarea3">
                            <form [formGroupName]="4">
                                    <select formControlName="type"> 
                                        <option value="sss"> SSS </option>
                                        <option value="phic" selected> PHIC </option>
                                    </select>
                                    <div class="labelline3"> Type </div>
                            </form>
                            </div>

                            <div class="entryarea3">
                            <form [formGroupName]="5"> 
                                <input formControlName="sub_type" value="EE Share" hidden>
                                    <input type="text" formControlName="amount" (keyup)="updateInvalidInput($event, '2', 'amount')">
                                    <div class="labelline3"> EE Share </div>
                            </form>
                            </div>

                            <div class="entryarea3">
                            <form [formGroupName]="6">
                                <input formControlName="type" [value]="form.get('forms')?.get('2')?.get('type')?.value" hidden>
                                <input formControlName="sub_type" value="ER Share" hidden>

                                    <input type="text" formControlName="amount" (keyup)="updateInvalidInput($event, '3', 'amount')">
                                    <div class="labelline3"> ER Share </div>
                            </form>
                            </div>
                        </div>

                        <div class="input-row1"> 
                            <div class="entryarea4">
                            <form [formGroupName]="7">
                                    <select formControlName="type"> 
                                        <option value="sss"> SSS </option>
                                        <option value="phic" > PHIC </option>
                                        <option value="phic" selected> HDMF </option>
                                    </select>
                                    <div class="labelline4"> Type </div>
                            </form>
                        </div>

                        <div class="entryarea4">
                            <form [formGroupName]="8">
                                    <input type="text" formControlName="amount" (keyup)="updateInvalidInput($event, '4', 'amount')">
                                    <div class="labelline4"> EE Share </div>
                            </form>
                        </div>

                        <div class="entryarea4">
                            <form [formGroupName]="9">
                                <input formControlName="type" [value]="form.get('forms')?.get('4')?.get('type')?.value" hidden>
                                <input formControlName="sub_type" value="ER Share" hidden>

                                    <input type="text" formControlName="amount" (keyup)="updateInvalidInput($event, '5', 'amount')">
                                    <div class="labelline4"> ER Share </div>
                            </form>
                        </div>

                        <div class="entryarea4">
                            <form [formGroupName]="10">
                                <input formControlName="type" [value]="form.get('forms')?.get('4')?.get('type')?.value" hidden>
                                <input formControlName="sub_type" value="Salary" hidden>

                                    <input type="text" formControlName="amount" (keyup)="updateInvalidInput($event, '6', 'amount')">
                                    <div class="labelline4"> Salary </div>
                            </form>
                        </div>

                        <div class="entryarea4">
                            <form [formGroupName]="11">
                                <input formControlName="type" [value]="form.get('forms')?.get('4')?.get('type')?.value" hidden>
                                <input formControlName="sub_type" value="Calamity" hidden>

                                    <input type="text" formControlName="amount" (keyup)="updateInvalidInput($event, '7', 'amount')">
                                    <div class="labelline4"> Calamity </div>
                            </form>
                        </div>
                        
                        <div class="entryarea4">
                            <form [formGroupName]="12">
                                <input formControlName="type" [value]="form.get('forms')?.get('4')?.get('type')?.value" hidden>
                                <input formControlName="sub_type" value="Salary" hidden>

                                    <input type="text" formControlName="amount" (keyup)="updateInvalidInput($event, '8', 'amount')">
                                    <div class="labelline4"> Salary </div>
                            </form>
                        </div>
                        </div>
                    </div>
                </div>
            </form>
        </form>

        <form [formGroup]="form" (submit)="submit()">
            <form formArrayName="forms">
                <div class="input-row"> 
                    <div class="container-others">
                        <div class="container-head"> 
                            Other Deductions 
                            <button class="add-other" type="button"> Add </button>
                        </div>

                        <div class="input-row1"> 
                            <div class="entryarea">
                                <input type="text" name="type">
                                <div class="labelline"> Type </div>
                            </div>
            
                            <div class="entryarea">
                                <input type="text" name="amount">
                                <div class="labelline"> Amount </div>
                            </div>
                        </div>

                        <button class="btn-danger cancel-btn" type="button"><i class='bx bx-x'></i></button>
                        
                    </div>

                    <div class="container-others">
                        <div class="container-head"> 
                            Allowance  
                            <button class="add-other" type="button"> Add </button>
                        </div>

                        <div class="input-row1"> 
                            <div class="entryarea">
                                <input type="text" name="type">
                                <div class="labelline"> Type </div>
                            </div>
            
                            <div class="entryarea">
                                <input type="text" name="amount">
                                <div class="labelline"> Amount </div>
                            </div>
                        </div>

                        <button class="btn-danger cancel-btn" type="button"><i class='bx bx-x'></i></button>
                        
                    </div>
                </div>
            </form>
        </form>
    </div>
</div>
