<div class="main-content">
    <div class="header"> 
        <h1> Employee Payroll </h1>
            <div class="input-row"> 
                <button class="save-payroll" type="button"> Save </button>
                <button class="back" type="button"> Back </button>
            </div>    
    </div>

    <div class="content"> 
        <div class="input-row"> 
            <div class="container"> 
                <div class="container-head"> 
                    Employee Details
                </div>
                <div class="content-details"> 
                    <div class="input-row1">
                        <div class="entryarea">
                            <input type="text" name="id_number">
                            <div class="labelline"> ID Number </div>
                        </div>

                        <div class="entryarea1">
                            <input type="text" name="fullname">
                            <div class="labelline1"> Full name </div>
                        </div>
                    </div>

                    <div class="input-row1">
                        <div class="entryarea">
                            <input type="text" name="position">
                            <div class="labelline"> Position </div>
                        </div>

                        <div class="entryarea1">
                            <input type="text" name="gender">
                            <div class="labelline1"> Gender </div>
                        </div>
                    </div>

                    <div class="input-row1">
                        <div class="entryarea2">
                            <input type="text" name="per_hour">
                            <div class="labelline2"> Rate (hour) </div>
                        </div>

                        <div class="entryarea2">
                            <input type="text" name="per_day">
                            <div class="labelline2"> Rate (day) </div>
                        </div>

                        <div class="entryarea2">
                            <input type="text" name="amount">
                            <div class="labelline2"> AMT </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container"> 
                <div class="input-row1">
                    <div class="entryarea3">
                        <input type="text" name="deductions">
                        <div class="labelline"> Total Deductions </div>
                    </div>
                </div>

                <div class="input-row1">
                    <div class="entryarea3">
                        <input type="text" name="pay">
                        <div class="labelline"> NET Pay </div>
                    </div>
                </div>

                <div class="input-row1">
                    <div class="entryarea3">
                        <input type="text" name="received">
                        <div class="labelline"> Received by </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-deduction">
            <div class="container-head"> 
                Deduction
            </div>
            <div class="input-row2"> 
                <div class="entryarea4">
                    <select> 
                        <option value="phic"> PHIC </option>
                        <option value="sss" selected> SSS </option>
                    </select>
                    <div class="labelline4"> Type </div>
                </div>

                <div class="entryarea4">
                    <input type="text" name="ee_share">
                    <div class="labelline4"> EE Share </div>
                </div>

                <div class="entryarea4">
                    <input type="text" name="er_share">
                    <div class="labelline4"> ER Share </div>
                </div>
            </div>

            <div class="input-row2"> 
                <div class="entryarea4">
                    <select> 
                        <option value="sss"> SSS </option>
                        <option value="phic" selected> PHIC </option>
                    </select>
                    <div class="labelline4"> Type </div>
                </div>

                <div class="entryarea4">
                    <input type="text" name="ee_share">
                    <div class="labelline4"> EE Share </div>
                </div>

                <div class="entryarea4">
                    <input type="text" name="er_share">
                    <div class="labelline4"> ER Share </div>
                </div>
            </div>

            <div class="input-row2"> 
                <div class="entryarea5">
                    <select> 
                        <option value="sss"> SSS </option>
                        <option value="phic" > PHIC </option>
                        <option value="phic" selected> HDMF </option>
                    </select>
                    <div class="labelline5"> Type </div>
                </div>

                <div class="entryarea5">
                    <input type="text" name="ee_share">
                    <div class="labelline5"> EE Share </div>
                </div>

                <div class="entryarea5">
                    <input type="text" name="er_share">
                    <div class="labelline5"> ER Share </div>
                </div>

                <div class="entryarea5">
                    <input type="text" name="salary">
                    <div class="labelline5"> Salary </div>
                </div>

                <div class="entryarea5">
                    <input type="text" name="calamity">
                    <div class="labelline5"> Calamity </div>
                </div>

                <div class="entryarea5">
                    <input type="text" name="salaary">
                    <div class="labelline5"> Salary </div>
                </div>
            </div>
        </div>
        <div class="input-row"> 
            <div class="container-others">
                <div class="container-head"> 
                    Other Deductions
                </div>
            </div>

            <div class="container-others">
                <div class="container-head"> 
                    Allowance
                </div>
            </div>
        </div>
    </div>
</div>
