<div class="main-content">
    <div class="header"> 
        <h1> Employee Payroll </h1>
            <div class="input-row" *ngIf="!isLoading"> 
                <button class="btn-primary save-payroll" type="button" (click)="submit(2)" [disabled]="!form.valid"> Completed </button>
                <!-- <button class="btn-pending save-payroll" type="button" (click)="submit(1)" [disabled]="!form.valid"> Incomplete </button> -->
                <button class="btn-secondary back" type="button" (click)="backRoute()"> Back </button>
            </div>    
    </div>

    <div class="spinner" *ngIf="isLoading">
        <app-spinner></app-spinner>
    </div>

    <div class="content" *ngIf="!isLoading"> 

        <!-- <button class="btn-primary config" (click)="openDialog()"> Configuration </button>
        <button class="btn-primary btns" (click)="resetClick('saved')"> Saved </button>
        <button class="btn-primary btns" (click)="resetClick('default')"> Default </button> -->

        <form [formGroup]="form">

            <!-- <div class="date-range" formGroupName="details">         
                <input type="date" formControlName="payday_end" />
                <input type="date" formControlName="payday_start" />   
            </div> -->

            <div class="input-row"> 

                <!-- LEFT PANEL -->
                <div class="container"> 
                    <div class="container-head"> 
                        Employee Details   
                    </div>
            
                <div class="content-details"> 
                    <div class="input-row1">
                        <div class="entryarea">
                            <div class="detail-value">{{ employee.employee_id || '' }}</div>
                            <div class="labelline"> ID Number </div>
                        </div>
                    </div>

                    <div class="input-row1"> 
                        <div class="entryarea">
                            <div class="detail-value">
                                {{ employee.full_name }}
                            </div>
                            <div class="labelline"> Full name </div>
                        </div>
                    </div>

                    <div class="input-row1">
                        <div class="entryarea1">
                            <div class="detail-value1">{{employee.position || ''}}</div>
                            <div class="labelline1"> Position </div>
                        </div>

                        <div class="entryarea1">
                            <div class="detail-value1">
                                {{employee.gender == 0 ? 'Female' : employee.gender == 1 ? 'Male' : 'Others'}}
                            </div>
                            <div class="labelline1"> Gender </div>
                        </div>
                    </div>

                    <div class="input-row1">
                        <!-- <div class="entryarea">
                            <input type="text" name="per_hour" [value]="hourlyRate" disabled>
                            <div class="labelline2" *ngIf="employee.position == 'Instructor'"> Rate (hourly) </div>
                            <div class="labelline2" *ngIf="employee.position != 'Instructor'"> Rate (daily) </div>
                        </div> -->

                        <div class="entryarea">
                            <div class="detail-value">{{ hourlyRate }}</div>
                            <div class="labelline" *ngIf="employee.position == 'Instructor'"> Rate (hourly) </div>
                            <div class="labelline" *ngIf="employee.position != 'Instructor'"> Rate (daily) </div>
                        </div>
                        

                        <!-- <div class="entryarea1">
                            <input type="text" name="per_day" [value]="hourlyRate * 8" disabled>
                            <div class="labelline1"> Rate (day) </div>
                        </div> -->

                        <!-- <div class="entryarea1"> -->
                            <!-- Access the 'amount' form control at index 0 in 'base_pay' FormArray -->
                            <!-- <input type="text" [value]="basePay" (keyup)="changeBasePay($event)">
                            <div class="labelline1"> AMT </div>
                        </div> -->
                        
                    </div>
                </div>
                </div>

                <!-- RIGHT PANEL -->
                <div class="container"> 
                    <div class="container-head"></div>
                    
                    <div class="input-row1">
                        <div class="entryarea2">
                            <div class="value-display">{{ totalDeductions }}</div>
                            <div class="labelline2"> Total Deductions </div>
                        </div>
                    </div>

                    <div class="input-row1">
                        <div class="entryarea2">
                            <div class="value-display">{{ grossPay }}</div>
                            <div class="labelline2"> Total Additions </div>
                        </div>
                    </div>

                    <div class="input-row1">
                        <div class="entryarea2">
                            <div class="value-display">{{ employee.full_name }}</div>
                            <div class="labelline2"> Received by </div>
                        </div>
                    </div>

                    <div class="input-row1">
                        <div class="entryarea2">
                            <button type="button" (click)="viewPayslip()" class="current">Current Payslip </button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- FORMS ARRAY -->
            <!-- <form formArrayName="deduction"> -->
                <!-- <div class="input-row">
                    <div class="container-deduction" [ngClass]="{'expanded': hasActive}">
                        <div class="container-head1"> 
                            Deduction

                            <div *ngFor="let item of items; let i = index">
                                <div class="icon" (click)="clickTable(i)">
                                    <i [ngClass]="hasActive && activeTable === i ? 'bx bx-collapse' : 'bx bx-expand'"></i>
                                </div>
                            </div>
                        </div>

                        <div *ngFor="let control of formsArray('deduction')?.controls; let i = index">
                            <form [formGroupName]="i">
                                <div *ngIf="hasActive && activeTable === 0"  class="input-row1"> 
                                    <div class="entryarea4">
                                        <div class="display"> {{ control.get('type')?.value }} </div>
                                        <div class="labelline4"> Type </div>
                                    </div>

                                    <div class="entryarea4">
                                        <div class="display"> {{ control.get('subtype')?.value }} </div>
                                        <div class="labelline4"> Sub Type </div>
                                    </div>
            
                                    <div class="entryarea4">
                                        <input type="text" formControlName="amount"
                                        (input)="showErrors('deduction', i, 'amount')">
                                        <div class="labelline4"> Amount </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div> -->
            <!-- </form> -->
            <!-- </form> -->

            <!-- <form [formGroup]="form" (submit)="submit()"> -->
            <div class="input-row2"> 
                <div class="container-others">
                    <div class="container-head"> 
                        Other Deductions 
                        <button class="add-other" type="button" (click)="addToFormsArray('other_deduction', 'add', 'deduction')"> Add </button>
                    </div>

                    <form formArrayName="other_deduction">
                        <div *ngFor="let control of formsArray('other_deduction').controls; let i = index">
                            <form [formGroupName]="i">
                                <div class="input-row1"> 
                                    <!-- <div class="entryarea">
                                        <input type="text" formControlName="type"                                                                                    
                                                [ngClass]="{ 'invalid-fld': duplicateInput('other_deduction', i)}" 
                                                (input)="showErrors('other_deduction', i, 'type')">
                                        <div class="labelline"> Type </div>
                                    </div>   -->

                                    <!-- <div class="entryarea">
                                        <select formControlName="type">
                                            <option value="option1">Option 1</option>
                                            <option value="option2">Option 2</option>
                                            <option value="option3">Option 3</option>
                                        </select>
                                        <div class="labelline">Type</div>
                                    </div> -->

                                    <div class="entryarea">
                                        <input 
                                          type="text" 
                                          formControlName="type" 
                                          (input)="onInput($event, i, 'other_deduction')" 
                                          class="input-field" 
                                          [ngClass]="{ 'invalid-fld': form.get('type')?.invalid && form.get('type')?.touched }"
                                        />
                                        <div class="suggestions-container" *ngIf="activeRow === i && filteredSuggestionsOtherDeduction.length > 0">
                                          <div 
                                            *ngFor="let suggestion of filteredSuggestionsOtherDeduction" 
                                            class="suggestion-item" 
                                            (click)="selectSuggestion(suggestion, i, 'other_deduction')"
                                          >
                                            {{ suggestion }}
                                          </div>
                                        </div>
                                        <div class="labelline">Type</div>
                                      </div>
                              
                                      <div class="entryarea">
                                        <input 
                                          type="text" 
                                          formControlName="amount"
                                          (input)="showErrors('other_deduction', i, 'amount')"
                                        />
                                        <div class="labelline"> Amount </div>
                                      </div>                            
                                </div>
            
                                <button class="btn-danger cancel-btn" type="button" (click)="removeFromFormsArray('other_deduction', i)">
                                    <i class='bx bx-x'></i>
                                </button>
                            </form>
                        </div>
                    </form>                    
                </div>

                <div class="container-allowance">
                    <div class="container-head"> 
                        Allowance  
                        <button class="add-allowance" type="button" (click)="addToFormsArray('allowance', 'add', 'addition')"> Add </button>
                    </div>

                    <div class="inputs-container">
                        <form formArrayName="allowance">
                            <div *ngFor="let control of formsArray('allowance').controls; let i = index">
                                <form [formGroupName]="i">
                                    <div class="input-row1"> 
                                        <!-- <div class="entryarea">
                                            <input type="text" formControlName="type"                                                                                        
                                                    [ngClass]="{ 'invalid-fld': duplicateInput('allowance', i)}" 
                                                    (input)="showErrors('allowance', i, 'type')">
                                            <div class="labelline"> Type </div>
                                        </div> -->

                                        <!-- <div class="entryarea">
                                            <select formControlName="type">
                                                <option value="option1">Option 1</option>
                                                <option value="option2">Option 2</option>
                                                <option value="option3">Option 3</option>
                                            </select>
                                            <div class="labelline">Type</div>
                                        </div> -->

                                        <div class="entryarea">
                                            <input 
                                              type="text" 
                                              formControlName="type" 
                                              (input)="onInput($event, i, 'allowance')" 
                                              class="input-field" 
                                              [ngClass]="{ 'invalid-fld': duplicateInput('allowance', i)}"
                                            />
                                            <div class="suggestions-container" *ngIf="activeRow === i && filteredSuggestionsAllowance.length > 0">
                                              <div 
                                                *ngFor="let suggestion of filteredSuggestionsAllowance" 
                                                class="suggestion-item" 
                                                (click)="selectSuggestion(suggestion, i, 'allowance')"
                                              >
                                                {{ suggestion }}
                                              </div>
                                            </div>
                                            <div class="labelline">Type</div>
                                          </div>
                              
                                          <div class="entryarea">
                                            <input 
                                              type="text" 
                                              formControlName="amount"
                                              (input)="showErrors('allowance', i, 'amount')"
                                            />
                                            <div class="labelline"> Amount </div>
                                          </div>
                                    </div>
                
                                    <button class="btn-danger cancel-btn" type="button" (click)="removeFromFormsArray('allowance', i)">
                                        <i class='bx bx-x'></i>
                                    </button>
                                </form>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!--- ADJUSTMENTS --->
            <div class="input-row3">
                <div class="container-adjustment">
                    <div class="container-head"> 
                        Adjustments  
                    </div>

                    <div class="input-row4"> 
                        <div class="container-deducs">
                            <div class="container-head"> 
                                Deductions 
                                <button class="add-other" type="button" (click)="addToFormsArray('adjustment_deductions', 'add', 'deduction')"> Add </button>
                            </div>
        
                            <form formArrayName="adjustment_deductions">
                                <div *ngFor="let control of formsArray('adjustment_deductions').controls; let i = index">
                                    <form [formGroupName]="i">
                                        <div class="input-row1"> 
                                            <!-- <div class="entryarea1">
                                                <input type="text" formControlName="type"                                    
                                                        [ngClass]="{ 'invalid-fld': duplicateInput('adjustment_deductions', i)}"
                                                        (input)="showErrors('adjustment_deductions', i, 'type')">
                                                <div class="labelline1"> Type </div>
                                            </div> -->

                                            <!-- <div class="entryarea">
                                                <select formControlName="type">
                                                    <option value="option1">Option 1</option>
                                                    <option value="option2">Option 2</option>
                                                    <option value="option3">Option 3</option>
                                                </select>
                                                <div class="labelline">Type</div>
                                            </div> -->

                                            <!-- <div class="entryarea1">
                                                <input type="date" formControlName="date">
                                                <div class="labelline2"> Date </div>
                                            </div> -->

                                            <div class="entryarea">
                                                <input 
                                                  type="text" 
                                                  formControlName="type" 
                                                  (input)="onInput($event, i, 'adjustment_deductions')" 
                                                  class="input-field" 
                                                  [ngClass]="{ 'invalid-fld': form.get('type')?.invalid && form.get('type')?.touched }"
                                                />
                                                <div class="suggestions-container" *ngIf="activeRow === i && filteredSuggestionsAdjustmentDeductions.length > 0">
                                                  <div 
                                                    *ngFor="let suggestion of filteredSuggestionsAdjustmentDeductions" 
                                                    class="suggestion-item" 
                                                    (click)="selectSuggestion(suggestion, i, 'adjustment_deductions')"
                                                  >
                                                    {{ suggestion }}
                                                  </div>
                                                </div>
                                                <div class="labelline">Type</div>
                                              </div>
                              
                                              <div class="entryarea">
                                                <input 
                                                  type="text" 
                                                  formControlName="amount"
                                                  (input)="showErrors('adjustment_deductions', i, 'amount')"
                                                />
                                                <div class="labelline"> Amount </div>
                                              </div>
                                        </div>
                    
                                        <button class="btn-danger cancel-btn" type="button" (click)="removeFromFormsArray('adjustment_deductions', i)">
                                            <i class='bx bx-x'></i>
                                        </button>
                                    </form>
                                </div>
                            </form>                    
                        </div>
        
                        <div class="container-add">
                            <div class="container-head"> 
                                Additions  
                                <button class="add-allowance" type="button" (click)="addToFormsArray('adjustment_additions', 'add', 'addition')"> Add </button>
                            </div>
        
                            <form formArrayName="adjustment_additions">
                                <div *ngFor="let control of formsArray('adjustment_additions').controls; let i = index">
                                    <form [formGroupName]="i">
                                        <div class="input-row1"> 
                                            <!-- <div class="entryarea1">
                                                <input type="text" formControlName="type"                                    
                                                        [ngClass]="{ 'invalid-fld': duplicateInput('adjustment_additions', i)}"
                                                        (input)="showErrors('adjustment_additions', i, 'type')">
                                                <div class="labelline1"> Type </div>
                                            </div> -->

                                            <!-- <div class="entryarea">
                                                <select formControlName="type">
                                                    <option value="option1">Option 1</option>
                                                    <option value="option2">Option 2</option>
                                                    <option value="option3">Option 3</option>
                                                </select>
                                                <div class="labelline">Type</div>
                                            </div> -->

                                            <div class="entryarea">
                                                <input 
                                                  type="text" 
                                                  formControlName="type" 
                                                  (input)="onInput($event, i, 'adjustment_additions')" 
                                                  class="input-field" 
                                                  [ngClass]="{ 'invalid-fld': form.get('type')?.invalid && form.get('type')?.touched }"
                                                />
                                                <div class="suggestions-container" *ngIf="activeRow === i && filteredSuggestionsAdjustmentAdditions.length > 0">
                                                  <div 
                                                    *ngFor="let suggestion of filteredSuggestionsAdjustmentAdditions" 
                                                    class="suggestion-item" 
                                                    (click)="selectSuggestion(suggestion, i, 'adjustment_additions')"
                                                  >
                                                    {{ suggestion }}
                                                  </div>
                                                </div>
                                                <div class="labelline">Type</div>
                                              </div>
                              
                                              <div class="entryarea">
                                                <input 
                                                  type="text" 
                                                  formControlName="amount"
                                                  (input)="showErrors('adjustment_additions', i, 'amount')"
                                                />
                                                <div class="labelline"> Amount </div>
                                              </div>
                                        </div>
                    
                                        <button class="btn-danger cancel-btn" type="button" (click)="removeFromFormsArray('adjustment_additions', i)">
                                            <i class='bx bx-x'></i>
                                        </button>
                                    </form>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> 
            </div> 
        </form>
    </div>
</div>  
