.main-content {
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;

    .header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    
    .header h1 {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 22px;
        padding-left: 25px;
        padding-top: 35px;
    }

    .save-payroll {
        width: 140px;
        height: 45px;
        text-decoration: none;
        color: var(--white);
        box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.322);
        transition: .3s;
        transform: translateY(-5px);
        border-radius: 3px;
        border: 1px;
        padding-right: 25px;
        padding-left: 25px;
        font-weight: bold;
        font-size: 16px;
        font-family: "Poppins";
        margin-top: 30px;
        margin-right: 15px;
        float: right;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .save-payroll:hover {
        box-shadow: 0px 8px 15px -10px rgb(125, 125, 125);
        transform: translate(0px, -2px);
        background: var(--buttons-hover);
        cursor: pointer;
        text-decoration: none;
    }
    
    .back {
        width: 140px;
        height: 45px;
        text-decoration: none;
        color: var(--white);
        box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.322);
        transition: .3s;
        transform: translateY(-5px);
        border-radius: 3px;
        border: 1px;
        padding-right: 25px;
        padding-left: 25px;
        font-weight: bold;
        font-size: 16px;
        font-family: "Poppins";
        margin-top: 30px;
        margin-right: 15px;
        float: right;
        text-align: center;
    }
    
    .back:hover {
        box-shadow: 0px 8px 15px -10px rgb(125, 125, 125);
        transform: translate(0px, -2px);
        background: var(--cancel-hover);
        cursor: pointer;
        text-decoration: none;
    }

}

.spinner {
    margin-left: 5px;
}

.content {

    .input-row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        cursor: pointer;
    }

    .container {
        flex-basis: 46.5%;
        position: relative;
        font-size: 12px;
        color: var(--black);
        border-radius: 10px;
        width: 100%;
        height: auto;
        margin-top: 30px;
        margin-left: 25px;
        margin-right: 15px;
        text-decoration: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: var(--white);
    }
    
    .container-head {
        font-size: 20px;
        font-weight: 700;
        font-family: "Poppins";
        text-transform: uppercase;
        text-align: left;
        padding-left: 35px;
        padding-top: 25px;
    }

    .container-head1 {
        font-size: 20px;
        font-weight: 700;
        font-family: "Poppins";
        text-transform: uppercase;
        text-align: left;
        padding-left: 20px;
        padding-top: 25px;
    }
    
    .content-details {
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 35px;
    }
    
    .input-row1 {
        display: flex;
        gap: 2.5rem;
    
        .entryarea {
            flex-basis: 100%;
            position: relative;
    
            .detail-value {
                font-family: "Poppins";
                width: 86%;
                height: 42px;
                outline: none;
                font-size: 16px;
                padding: 0 18px;
                border-radius: 5px;
                margin-top: 30px;
                border: 1px solid var(--header-color);
                background: var(--white);
                display: flex;
                align-items: center;
                transition: 0.1s ease;
            }
    
            .labelline {
                position: absolute;
                font-size: 14px;
                padding: 0 10px;
                margin-top: -55px;
                margin-left: 10px;
                background-color: var(--white);
                transition: 0.2s ease;
            }

    
            .detail-value:hover + .labelline, 
            .detail-value:focus + .labelline {
                color: var(--black);
            }
        }

        .entryarea1 {
            flex-basis: 100%;
            position: relative;
    
            input {
                font-family: "Poppins";
                width: 80%;
                height: 42px;
                outline: none;
                font-size: 16px;
                padding: 0 18px;
                border-radius: 5px;
                margin-top: 30px;
                border: 1px solid var(--header-color);
                background: var(--white);
                transition: 0.1s ease;
            }

            .labelline1 {
                position: absolute;
                font-size: 14px;
                padding: 0 10px;
                margin-top: -55px;
                margin-left: 10px;
                background-color: var(--white);
                transition: 0.2s ease;
            }
        } 

        .entryarea1 input:focus, 
        .entryarea1 input:valid {
            color: #000;
            border: 1.5px solid var(--black);
        }

        .entryarea1 input:focus + .labelline1, 
        .entryarea1 input:valid + .labelline1 {
            color: var(--black);
        } 

        .entryarea2 {
            flex-basis: 100%;
            padding-left: 35px;
            padding-right: 75px;
            position: relative;
    
            input {
                font-family: "Poppins";
                width: 100%;
                height: 42px;
                outline: none;
                font-size: 16px;
                padding: 0 18px;
                border-radius: 5px;
                margin-top: 30px;
                border: 1px solid var(--header-color);
                background: var(--white);
                transition: 0.1s ease;
            }

            .labelline2 {
                position: absolute;
                font-size: 14px;
                padding: 0 10px;
                margin-top: -55px;
                margin-left: 10px;
                background-color: var(--white);
                transition: 0.2s ease;
            }
        } 

        .entryarea2 input:focus, 
        .entryarea2 input:valid {
            color: #000;
            border: 1.5px solid var(--black);
        }

        .entryarea2 input:focus + .labelline2, 
        .entryarea2 input:valid + .labelline2 {
            color: var(--black);
        } 
    }


    .container-deduction {
        width: 100%;
        position: relative;
        font-size: 12px;
        color: var(--black);
        border-radius: 10px;
        height: auto;
        margin-top: 50px;
        margin-left: 25px;
        margin-right: 15px;
        padding-right: 30x;
        padding-left: 20px;
        padding-bottom: 50px;
        text-decoration: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: var(--white);
    
        .input-row1 {
            display: flex;
            margin-left: 20px;
            margin-right: 25px;
    
            .entryarea3 {
                display: flex;
                flex-direction: column;
    
                &:first-child {
                    flex-basis: 20%;
                    margin-right: 2.5rem; 
                }
    
                &:nth-child(2) {
                    flex-basis: 32%;
                    padding-right: 2.5rem;
                }
    
                &:nth-child(3) {
                    flex-basis: 32%;
                }
    
                input, select {
                    font-family: "Poppins";
                    width: 100%;
                    height: 42px;
                    outline: none;
                    font-size: 16px;
                    padding: 0 18px;
                    margin-right: 35px;
                    border-radius: 5px;
                    margin-top: 30px;
                    border: 1px solid var(--header-color);
                    background: var(--white);
                    transition: 0.1s ease;
                }
    
                .labelline3  {
                    position: absolute;
                    font-size: 14px;
                    padding: 0 10px;
                    margin-top: -55px;
                    margin-left: 10px;
                    background-color: var(--white);
                    transition: 0.2s ease;
                } 
            }
    
            .entryarea3 input:focus, 
            .entryarea3 input:valid, 
            .entryarea3 select:focus, 
            .entryarea3 select:valid {
                color: #000;
                border: 1.5px solid var(--black);
            }
    
            .entryarea3 input:focus + .labelline3, 
            .entryarea3 input:valid + .labelline3, 
            .entryarea3 select:focus + .labelline3, 
            .entryarea3 select:valid + .labelline3 {
                color: var(--black);
            }
    
            .entryarea4 {
                display: flex;
                flex-direction: column;
    
                &:first-child {
                    flex-basis: 20%;
                    margin-right: 2.5rem; 
                }
    
                &:nth-child(2) {
                    flex-basis: 12.9%;
                    padding-right: 2.5rem;
                }
    
                &:nth-child(3) {
                    flex-basis: 12.9%;
                    padding-right: 2.5rem;
                }
    
                &:nth-child(4) {
                    flex-basis: 12.9%;
                    padding-right: 2.5rem;
                }
    
                &:nth-child(5) {
                    flex-basis: 12.9%;
                    padding-right: 2.5rem;
                }

                input, select {
                    font-family: "Poppins";
                    width: 100%;
                    height: 42px;
                    outline: none;
                    font-size: 16px;
                    padding: 0 18px;
                    margin-right: 35px;
                    border-radius: 5px;
                    margin-top: 30px;
                    border: 1px solid var(--header-color);
                    background: var(--white);
                    transition: 0.1s ease;
                }
    
                .labelline4  {
                    position: absolute;
                    font-size: 14px;
                    padding: 0 10px;
                    margin-top: -55px;
                    margin-left: 10px;
                    background-color: var(--white);
                    transition: 0.2s ease;
                } 
            }
    
            .entryarea4 input:focus, 
            .entryarea4 input:valid, 
            .entryarea4 select:focus, 
            .entryarea4 select:valid {
                color: #000;
                border: 1.5px solid var(--black);
            }
    
            .entryarea4 input:focus + .labelline4, 
            .entryarea4 input:valid + .labelline4, 
            .entryarea4 select:focus + .labelline4, 
            .entryarea4 select:valid {
                color: var(--black);
            }
        }
    }
    



    .input-row2 {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr; 
        align-items: start; 
    }

    .container-others {
        flex-basis: 45%;
        position: relative;
        font-size: 12px;
        color: var(--black);
        border-radius: 10px;
        width: 90%;
        height: auto;
        margin-top: 50px;
        margin-left: 25px;
        margin-right: 15px;
        padding-top: 5px;
        padding-right: 25px;
        padding-bottom: 20px;
        text-decoration: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: var(--white);

        .add-other {
            background: var(--primary-color);
            width: 100px;
            height: 35px;
            text-decoration: none;
            color: var(--white);
            box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.322);
            transition: .3s;
            transform: translateY(-5px);
            border-radius: 3px;
            border: 1px;
            padding-right: 25px;
            padding-left: 25px;
            font-weight: bold;
            font-size: 16px;
            font-family: "Poppins";
            float: right;
            text-align: center;
        }
    
        .add-other:hover {
            box-shadow: 0px 8px 15px -10px rgb(125, 125, 125);
            transform: translate(0px, -2px);
            background: var(--buttons-hover);
            cursor: pointer;
            text-decoration: none;
        }

        .input-row1 {
            display: flex;
            // gap: 2rem; 
            margin-left: 35px;
            justify-content: space-between;
        
            .entryarea {
                position: relative;
                display: flex;
                flex-direction: column;
        
            
                &:first-child {
                    flex-basis: 80%;
                }
        
            
                &:nth-child(2) {
                    flex-basis: 40%;
                }
        
                input, select {
                    font-family: "Poppins";
                    width: 90%;
                    height: 42px;
                    outline: none;
                    font-size: 16px;
                    padding: 0 18px;
                    margin-right: 35px;
                    border-radius: 5px;
                    margin-top: 30px;
                    border: 1px solid var(--header-color);
                    background: var(--white);
                    transition: 0.1s ease;
                }
        
                .labelline {
                    position: absolute;
                    font-size: 14px;
                    padding: 0 10px;
                    margin-top: 18px;
                    margin-left: 10px;
                    background-color: var(--white);
                    transition: 0.2s ease;
                } 
            }
        
            .entryarea input:focus, 
            .entryarea input:valid, 
            .entryarea select:focus, 
            .entryarea select:valid {
                color: #000;
                border: 1.5px solid var(--black);
            }
        
            .entryarea input:focus + .labelline, 
            .entryarea input:valid + .labelline, 
            .entryarea select:focus + .labelline, 
            .entryarea select:valid + .labelline {
                color: var(--black);
            }  
        
        }

        .cancel-btn {
            width: 65px;
            height: 45px;
            text-decoration: none;
            color: var(--white);
            box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.322);
            transition: .3s;
            transform: translateY(-5px);
            border-radius: 3px;
            border: 1px;
            padding: 0;
            font-weight: bold;
            font-size: 25px;
            font-family: "Poppins";
            margin-top: -40px;
            margin-left: 35px;
            float: right;
            text-align: center;
            display: flex;
            flex-direction: right;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
        }
    }

    .container-allowance {
        flex-basis: 45%;
        position: relative;
        font-size: 12px;
        color: var(--black);
        border-radius: 10px;
        width: 90%;
        height: auto;
        margin-top: 50px;
        margin-left: 25px;
        margin-right: 15px;
        padding-top: 5px;
        padding-right: 25px;
        padding-bottom: 20px;
        text-decoration: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: var(--white);

        .add-allowance {
            background: var(--primary-color);
            width: 100px;
            height: 35px;
            text-decoration: none;
            color: var(--white);
            box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.322);
            transition: .3s;
            transform: translateY(-5px);
            border-radius: 3px;
            border: 1px;
            padding-right: 25px;
            padding-left: 25px;
            font-weight: bold;
            font-size: 16px;
            font-family: "Poppins";
            float: right;
            text-align: center;
        }
    
        .add-allowance:hover {
            box-shadow: 0px 8px 15px -10px rgb(125, 125, 125);
            transform: translate(0px, -2px);
            background: var(--buttons-hover);
            cursor: pointer;
            text-decoration: none;
        }

        .input-row1 {
            display: flex;
            // gap: 2rem; 
            margin-left: 35px;
            justify-content: space-between;
        
            .entryarea {
                position: relative;
                display: flex;
                flex-direction: column;
        
            
                &:first-child {
                    flex-basis: 80%;
                }
        
            
                &:nth-child(2) {
                    flex-basis: 40%;
                }
        
                input, select {
                    font-family: "Poppins";
                    width: 90%;
                    height: 42px;
                    outline: none;
                    font-size: 16px;
                    padding: 0 18px;
                    margin-right: 35px;
                    border-radius: 5px;
                    margin-top: 30px;
                    border: 1px solid var(--header-color);
                    background: var(--white);
                    transition: 0.1s ease;
                }
        
                .labelline {
                    position: absolute;
                    font-size: 14px;
                    padding: 0 10px;
                    margin-top: 18px;
                    margin-left: 10px;
                    background-color: var(--white);
                    transition: 0.2s ease;
                } 
            }
        
            .entryarea input:focus, 
            .entryarea input:valid, 
            .entryarea select:focus, 
            .entryarea select:valid {
                color: #000;
                border: 1.5px solid var(--black);
            }
        
            .entryarea input:focus + .labelline, 
            .entryarea input:valid + .labelline, 
            .entryarea select:focus + .labelline, 
            .entryarea select:valid + .labelline {
                color: var(--black);
            }  
        
        }

        .cancel-btn {
            width: 65px;
            height: 45px;
            text-decoration: none;
            color: var(--white);
            box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.322);
            transition: .3s;
            transform: translateY(-5px);
            border-radius: 3px;
            border: 1px;
            padding: 0;
            font-weight: bold;
            font-size: 25px;
            font-family: "Poppins";
            margin-top: -40px;
            margin-left: 35px;
            float: right;
            text-align: center;
            display: flex;
            flex-direction: right;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
        }
    }

} 