<div class="main-content">
    <div class="table-content">
        <div class="table-head">
            <div class="header-text">
                <h1>Employees Attendance</h1>
            </div>
            <div class="legend">
                <div class="legend-item">
                    <div class="square green"></div>
                    <span>Present</span>
                </div>
                <!-- <div class="legend-item">
                    <div class="square yellow"></div>
                    <span>Late</span>
                </div> -->

                <div class="legend-item">
                    <div class="square red"></div>
                    <span>Absent</span>
                </div>
                <div class="legend-item">
                    <div class="square blue"></div>
                    <span>Leave</span>
                </div>
            </div>

            <div class="date-filters">
                <!-- Existing Date Range Dropdown -->
                <!-- <div class="date-range-dropdown">
                    <select [(ngModel)]="selectedDateRange" (change)="dateFilter($event)">
                        <option *ngFor="let date of attendanceWeeks; let last = last;" [selected]="last">{{ date }}</option>
                    </select>
                </div> -->
                <div class="date-range-dropdown">
                    <select [(ngModel)]="currFilter" (change)="changeFilter()">
                        <option *ngFor="let date of periodFilter;">{{ date }}</option>
                    </select>
                </div>
                <!-- <div class="date-range-dropdown">
                    <select [(ngModel)]="filterType" (change)="changeFilterType($event)">
                        <option value="period"> By Payroll Period </option>
                        <option value="weekly"> By Week </option>
                    </select>
                </div> -->
            
                <!-- New Date Picker for Specific Date Filtering -->
                <div class="date-picker">
                    <input id="datePicker" type="date" [(ngModel)]="selectedDate" (change)="filterByDate($event)">
                </div>
            </div>
        </div>
           
        <div class="spinner" *ngIf="isLoading">
            <app-spinner></app-spinner>
        </div>

        <div class="attendance-content"> 
            <table class="attendance-table" *ngIf="!isLoading">
                <thead>
                    <tr>
                    <!-- Dynamically render table headers -->
                        <th class="name-column"> Employee Name </th>
                        <th *ngFor="let header of columns" class="day-column">{{ header | uppercase }}</th>
                    </tr>
                </thead>    
                <tbody>
                    <!-- Loop through records and display data -->
                    <tr *ngFor="let employee of employees;">
                        <td (click)="openDTRPopup(employee)">{{ employee.full_name }}</td>
                        <ng-container *ngFor="let day of columns">
                          <!-- Check if there's at least one record for this employee on that day -->
                          <ng-container *ngIf="getRecordForDay(employee.id, day); else noRecord">
                            <ng-container *ngFor="let record of groupedRecordsByDay[day]">
                              <!-- Show record if employee.id matches or record has no user_id -->
                              <td *ngIf="employee.id == record.user_id || !record.user_id" class="status-present" (click)="openAttendanceDetail(employee.id, day, record)">
                                <!-- If time_in or time_out is missing, display fallback -->
                                <span *ngIf="record.time_in;">{{ convertTime(record.time_in) }} </span>
                                <span *ngIf="record.time_out;"><hr>{{ convertTime(record.time_out) }}</span>
                              </td>
                            </ng-container>
                          </ng-container>
                          
                          <ng-template #noRecord>
                            <td class="status-absent" (click)="openAttendanceDetail(employee.id, day)"></td>
                          </ng-template>
                        </ng-container>                    
                      </tr>
                      
                </tbody>
            </table>
        </div>
    </div>
</div>
