.main-content {
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.table-content {
    border-radius: 10px;
    padding: 30px 45px;
    margin-top: 55px;
    margin-left: 25px;
    margin-right: 15px;
    background: var(--white);
    width: auto;
    height: auto;
    margin-bottom: 30px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.322);
    border: 0.5px solid var(--table-border);
}

.table-head {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 25px; 
}

.header-text {
    display: flex;
    align-items: center; 
}

.table-head h1 {
    color: var(--landing-font);
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0; 
}

.legend {
    display: flex;
    gap: 15px; 
    align-items: center; 
}

.date-range-dropdown {
    select {
        width: 215px;
        padding: 10px;
        border-radius: 3px;
        font-family: "poppins";
        background: var(--white);
        border: 0.5px solid var(--table-border);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }
}

.legend-item {
    display: flex;
    align-items: center;

    .square {
        width: 50px;
        height: 20px;
        margin-right: 5px;

        &.green {
            background-color: var(--time-in-button);
        }
        &.yellow {
            background-color: var(--late);
        }
        &.red {
            background-color: var(--absent);
        }
        &.blue {
            background-color: var(--primary-color);
        }
    }
    
    span {
        font-size: 14px;
        color: #333;
    }
}


.attendance-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;

    th, td {
        padding: 12px 15px;
        border: 1px solid var(--table-border);
        text-align: center;
    }

    th {
        background-color: var(--primary-color);
        color: var(--white);
        border: none;
        font-weight: 500;
    }

    th:first-child {
        border-left: none; 
    }

    th:last-child {
        border-right: none; 
    }

    .name-column {
        width: 350px;
        text-align: left;  
        padding-left: 45px;
    }

    .day-column {
        width: 130px; 
        text-align: center;
    }

    td.status-present {
        background-color: var(--time-in-button);
        color: var(--white);
        font-weight: 700;
    }

    td.status-late {
        background-color: var(--late);
        color: var(--white);
        font-weight:700;
    }

    td.status-absent {
        background-color: var(--absent);
        color: var(--white);
        font-weight: 700;
    }

    // td.status-leave {
    //     background-color: var(--primary-color); 
    // }
    
    td.status-paid-leave {
        background-color: var(--primary-color);  
        color: var(--white);
    }

    .proof-btn {
        background-color: var(--primary-color);
        padding: 1rem;
        border-radius: 0.25rem;
        color: var(--white);
        font-weight: bold;
        cursor: pointer;
        border: none;
        text-transform: uppercase;
    }

    .proof-btn:hover {
        background-color: var(--buttons-hover);
    }
}

.paginator {
    padding-top: 15px;
}

@media screen and (max-width: 600px) {
    .table-head {
        float: none;
    }
    .table-head {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .attendance-table {
        font-size: 12px;

        th, td {
            padding: 8px 10px;
        }

        .name-column {
            width: 150px; 
        }
    }
}
