<div class="main-content">
    <div class="table-content">
        <div class="table-head">
            <div class="header-text">
                <h1>Employees Attendance</h1>
            </div>
            <div class="legend">
                <div class="legend-item">
                    <div class="square green"></div>
                    <span>Present</span>
                </div>
                <div class="legend-item">
                    <div class="square yellow"></div>
                    <span>Late</span>
                </div>

                <div class="legend-item">
                    <div class="square red"></div>
                    <span>Absent</span>
                </div>
                <div class="legend-item">
                    <div class="square blue"></div>
                    <span>Leave</span>
                </div>
            </div>

            <div class="date-filters">
                <!-- Existing Date Range Dropdown -->
                <div class="date-range-dropdown">
                    <select [(ngModel)]="selectedDateRange" (change)="dateFilter($event)">
                        <option *ngFor="let date of attendanceWeeks; let last = last;" [selected]="last">{{ date }}</option>
                    </select>
                </div>
            
                <!-- New Date Picker for Specific Date Filtering -->
                <div class="date-picker">
                    <input id="datePicker" type="date" [(ngModel)]="selectedDate" (change)="filterByDate()">
                </div>
            </div>
        </div>
           
        <div class="spinner" *ngIf="isLoading">
            <app-spinner></app-spinner>
        </div>

        <table mat-table [dataSource]="dataSource" matSort class="attendance-table" *ngIf="!isLoading">

            <!-- Employee Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Employee Name </th>
                <td mat-cell *matCellDef="let element" class="name-column" (click)="openDTRPopup(element)">
                  {{ element.name }}
                </td>
              </ng-container>

            <!-- Monday Column -->
            <ng-container matColumnDef="monday">
                <th mat-header-cell *matHeaderCellDef class="day-column">
                    {{ formatFullDate(dates[0], 'Monday') }}
                </th>
                <td mat-cell *matCellDef="let element" [ngClass]="getStatusClass(element.mon.status, 'mon')"
                    (click)="openAttendanceDetail(dates[0], 'Monday', element.mon)">
                    {{ formatTime(element.mon.time_in) }}
                </td>
            </ng-container>

            <!-- Tuesday Column -->
            <ng-container matColumnDef="tuesday">
                <th mat-header-cell *matHeaderCellDef class="day-column">
                    {{ formatFullDate(dates[1], 'Tuesday') }}
                </th>
                <td mat-cell *matCellDef="let element" [ngClass]="getStatusClass(element.tue.status, 'tue')"
                    (click)="openAttendanceDetail(dates[1], 'Tuesday', element.tue)">
                    {{ formatTime(element.tue.time_in) }}
                </td>
            </ng-container>

            <!-- Wednesday Column -->
            <ng-container matColumnDef="wednesday">
                <th mat-header-cell *matHeaderCellDef class="day-column"> 
                    {{ formatFullDate(dates[2], 'Wednesday') }}
                </th>
                <td mat-cell *matCellDef="let element" [ngClass]="getStatusClass(element.wed.status, 'wed')"
                    (click)="openAttendanceDetail(dates[2], 'Wednesday', element.wed)"> {{ formatTime(element.wed.time_in) }} </td>
            </ng-container>

            <!-- Thursday Column -->
            <ng-container matColumnDef="thursday">
                <th mat-header-cell *matHeaderCellDef class="day-column"> 
                    {{ formatFullDate(dates[3], 'Thursday') }} 
                </th>
                <td mat-cell *matCellDef="let element" [ngClass]="getStatusClass(element.thu.status, 'thu')"
                    (click)="openAttendanceDetail(dates[3], 'Thursday', element.thu)"> {{ formatTime(element.thu.time_in) }} </td>
            </ng-container>

            <!-- Friday Column -->
            <ng-container matColumnDef="friday">
                <th mat-header-cell *matHeaderCellDef class="day-column"> 
                    {{ formatFullDate(dates[4], 'Friday') }}
                </th>
                <td mat-cell *matCellDef="let element" [ngClass]="getStatusClass(element.fri.status, 'fri')"
                    (click)="openAttendanceDetail(dates[4], 'Friday', element.fri)"> {{ formatTime(element.fri.time_in) }} </td>
            </ng-container>

            <!-- Saturday Column -->
            <ng-container matColumnDef="saturday">
                <th mat-header-cell *matHeaderCellDef class="day-column"> 
                    {{ formatFullDate(dates[5], 'Saturday') }} 
                </th>
                <td mat-cell *matCellDef="let element" [ngClass]="getStatusClass(element.sat.status, 'sat')"
                    (click)="openAttendanceDetail(dates[5], 'Saturday', element.sat)"> {{ formatTime(element.sat.time_in) }} </td>
            </ng-container>

            <!-- Sunday Column -->
            <ng-container matColumnDef="sunday">
                <th mat-header-cell *matHeaderCellDef class="day-column"> 
                    {{ formatFullDate(dates[6], 'Sunday') }} 
                </th>
                <td mat-cell *matCellDef="let element" [ngClass]="getStatusClass(element.sat.status, 'sun')"
                    (click)="openAttendanceDetail(dates[6], 'sunday', element.sat)"> {{ formatTime(element.sat.time_in) }} </td>
            </ng-container>


            <!-- Proof Column -->
            <!-- <ng-container matColumnDef="proof">
                <th mat-header-cell *matHeaderCellDef> Proof </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button class="proof-btn" (click)="viewProof(element)">View</button>
                </td>
            </ng-container> -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="setEmployeeID(row.id)"></tr>
        </table>

        <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons
             aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>
