<div class="main-content">
    <div class="header"></div>

    <div class="table-content">
        <div class="content-left">
            <img src="/assets/images/background.jpg" alt="Description of Image" class="image-holder">
        </div>
        <div class="content-middle">
            <h2 class="name">Mona Liza</h2>
            <p class="position">Manager</p>
        </div>
        <div class="content-right">
            <input type="checkbox" id="toggle1" class="toggle-checkbox">
            <label for="toggle1" class="time-btn time-in">Time in</label>
            <label for="toggle1" class="time-btn time-out">Time out</label>
            <button class="time-btn3">Paid Leave</button>
        </div>
    </div>

    <div class="table-content">
        <div class="content-left">
            <img src="/assets/images/background.jpg" alt="Description of Image" class="image-holder">
        </div>
        <div class="content-middle">
            <h2 class="name">Mona Liza</h2>
            <p class="position">Manager</p>
        </div>
        <div class="content-right">
            <input type="checkbox" id="toggle2" class="toggle-checkbox">
            <label for="toggle2" class="time-btn time-in">Time in</label>
            <label for="toggle2" class="time-btn time-out">Time out</label>
            <button class="time-btn3">Paid Leave</button>
        </div>
    </div>

    <div class="table-content">
        <div class="content-left">
            <img src="/assets/images/background.jpg" alt="Description of Image" class="image-holder">
        </div>
        <div class="content-middle">
            <h2 class="name">Mona Liza</h2>
            <p class="position">Manager</p>
        </div>
        <div class="content-right">
            <input type="checkbox" id="toggle3" class="toggle-checkbox">
            <label for="toggle3" class="time-btn time-in">Time in</label>
            <label for="toggle3" class="time-btn time-out">Time out</label>
            <button class="time-btn3">Paid Leave</button>
        </div>
    </div>

    <div class="table-content">
        <div class="content-left">
            <img src="/assets/images/background.jpg" alt="Description of Image" class="image-holder">
        </div>
        <div class="content-middle">
            <h2 class="name">Mona Liza</h2>
            <p class="position">Manager</p>
        </div>
        <div class="content-right">
            <input type="checkbox" id="toggle4" class="toggle-checkbox">
            <label for="toggle4" class="time-btn time-in">Time in</label>
            <label for="toggle4" class="time-btn time-out">Time out</label>
            <button class="time-btn3">Paid Leave</button>
        </div>
    </div>
</div>
