.main-content {
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.table-content {
    border-radius: 10px;
    padding: 30px 45px;
    margin-top: 55px;
    margin-left: 25px;
    margin-right: 15px;
    background: var(--white);
    width: 75.5vw;
    height: auto;
    // max-width: 78.5vw;
    margin-bottom: 30px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.322);
    border: 0.5px solid var(--table-border);
}

.table-head {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 25px; 
}

.header-text {
    display: flex;
    align-items: center; 
}

.table-head h1 {
    color: var(--landing-font);
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0; 
}

.legend {
    display: flex;
    gap: 15px; 
    align-items: center; 
}

.legend-item {
    display: flex;
    align-items: center;

    .square {
        width: 50px;
        height: 20px;
        margin-right: 5px;

        &.green {
            background-color: var(--time-in-button);
        }
        &.yellow {
            background-color: var(--late);
        }
        &.red {
            background-color: var(--absent);
        }
        &.blue {
            background-color: var(--primary-color);
        }
    }

    span {
        font-size: 14px;
        color: #333;
    }
}

.date-filters {
    display: flex;
    align-items: center;
    gap: 15px; /* Adds spacing between elements */
    justify-content: flex-start; /* Align items to the left */
    flex-wrap: wrap; /* Ensures responsiveness */

    .date-range-dropdown select {
        width: 215px;
        padding: 10px;
        border-radius: 3px;
        font-family: "poppins";
        background: var(--white);
        border: 0.5px solid var(--table-border);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

    .date-picker {
        display: flex;
        flex-direction: column;
        font-size: 14px;

        input {
            width: 180px; 
            height: 32px; 
            padding: 5px 10px;
            font-size: 14px;
            font-family: "poppins";
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: none;
            cursor: pointer;
        }

        input:focus {
            border-color: #007bff; 
        }
    }
}

.attendance-content {
    max-width: 78.5vw;
    border-collapse: collapse;
    text-align: left;
    overflow-x: auto;
}

.attendance-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

th, td {
    width: 155px; 
    height: 100px; 
    padding: 5px 15px;
    font-size: 15px;
    border: 1px solid var(--table-border);
    text-align: center;
    max-width: 150px; 
    color: var(--landing-font);
}

th {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    font-weight: 500;
    white-space: nowrap;
    position: sticky;
    top: 0;
    z-index: 1;
}

th:first-child {
    border-left: none;
}

th:last-child {
    border-right: none;
}

.attendance-table th:first-child,
.attendance-table td:first-child {
    position: sticky;
    left: 0;
    background-color: var(--white);
    z-index: 2;
    text-align: center;
    padding-left: 15px;
    min-width: 200px; 
    max-width: 250px;
    white-space: nowrap;
    
}

.name-column {
    height: auto;  
    text-align: left;
    padding-left: 45px;
    word-wrap: break-word;  
    white-space: normal;  
    line-height: 1.5;
    // left: 0;
    position: sticky;
    background-color: var(--primary-color) !important;
    color: var(--white);
}

td.status-present {
    background-color: #27ae60;
    font-weight: 700;

    hr {
        background-color: #333;
        width: 100%;
    }
}

td.status-absent {
    background-color: #c0392b;
    color: var(--white);
    font-weight: 700;
}

td.status-paid-leave {
    background-color: var(--primary-color);  
    color: var(--white);
}

td.status-unpaid-leave {
    background-color: #424949;  
    color: var(--white);
}

.paginator {
    padding-top: 15px;
}
