<main>
    <div class="main-container">
        <div class="form-info" [formGroup]="form" (submit)="submit()">
            <div class="header"> 
                <h1> Deduction Configurations </h1>
                <button class="close-button" type="button" (click)="close()"> 
                    <i class='bx bx-x'></i>
                </button>
            </div>

            <div class="config-body"> 
                <form formArrayName="deduction" class="container">
                    <div class="container-head"> 
                        <h1> Deductions </h1> 
                        <button class="btn-primary add" (click)="addToFormsArray('deduction', 'add', 'deduction')"> Add </button>
                    </div>
                    <div class="container-body"> 
                        <div *ngFor="let control of formsArray('deduction').controls; let i = index">
                            <form [formGroupName]="i" class="input-row">
                                <div class="entryarea">
                                    <input type="text" formControlName="type">
                                    <div class="labelline"> Type </div>
                                </div>
        
                                <div class="entryarea">
                                    <input type="text" formControlName="subtype">
                                    <div class="labelline"> Sub Type </div>
                                </div>
        
                                <div class="entryarea">
                                    <select formControlName="operation_type">
                                        <option value="deduction"> Normal deduction </option>
                                        <option value="percentage deduction"> Percentage Deduction </option>
                                    </select>
                                    <div class="labelline"> Operation </div>
                                </div>
        
                                <div class="entryarea">
                                    <input type="text" formControlName="amount">
                                    <div class="labelline"> Amount </div>
                                </div>
        
                                <button class="btn-danger remove" type="button" (click)="removeFromFormsArray('deduction', i)"> 
                                    <i class='bx bx-x'></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </form>

                <form formArrayName="other_deduction" class="container">
                    <div class="container-head"> 
                        <h1> Other Deductions </h1>
                        <button class="btn-primary add" (click)="addToFormsArray('other_deduction', 'add', 'deduction')"> Add </button>
                    </div>

                    <div class="container-body">
                        <div *ngFor="let control of formsArray('other_deduction').controls; let i = index">
                            <form [formGroupName]="i" class="input-row">
                                <div class="entryarea">
                                    <input type="text" formControlName="type">
                                    <div class="labelline"> Type </div>
                                </div>
        
                                <div class="entryarea">
                                    <input type="text" formControlName="subtype">
                                    <div class="labelline"> Sub Type </div>
                                </div>
        
                                <!-- <div class="entryarea">
                                    <select formControlName="operation_type">
                                        <option value="deduction"> Normal deduction </option>
                                        <option value="percentage deduction"> Percentage Deduction </option>
                                    </select>
                                    <div class="labelline"> Operation </div>
                                </div> -->
        
                                <div class="entryarea">
                                    <input type="text" formControlName="amount">
                                    <div class="labelline"> Amount </div>
                                </div>
        
                                <button class="btn-danger remove" type="button" (click)="removeFromFormsArray('other_deduction', i)">
                                    <i class='bx bx-x'></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </form>

                <form formArrayName="allowance" class="container">
                    <div class="container-head"> 
                        <h1> Allowances </h1>
                        <button class="btn-primary add" (click)="addToFormsArray('allowance', 'add', 'addition')"> Add </button>
                    </div>

                    <div class="container-body">
                        <div *ngFor="let control of formsArray('allowance').controls; let i = index">
                            <form [formGroupName]="i" class="input-row">
                                <div class="entryarea">
                                    <input type="text" formControlName="type">
                                    <div class="labelline"> Type </div>
                                </div>
        
                                <div class="entryarea">
                                    <input type="text" formControlName="subtype">
                                    <div class="labelline"> Sub Type </div>
                                </div>
        
                                <!-- <div class="entryarea">
                                    <select formControlName="operation_type">
                                        <option value="deduction"> Normal deduction </option>
                                        <option value="percentage deduction"> Percentage Deduction </option>
                                    </select>
                                    <div class="labelline"> Operation </div>
                                </div> -->
        
                                <div class="entryarea">
                                    <input type="text" formControlName="amount">
                                    <div class="labelline"> Amount </div>
                                </div>
        
                                <button class="btn-danger remove" type="button" (click)="removeFromFormsArray('allowance', i)"> 
                                    <i class='bx bx-x'></i>
                                </button>
                            </form>
                        </div>
                    </div>                
                </form>
                    <button class="btn-primary update"> Update </button>
            </div>
        </div> 
    </div>
</main>