<h2 mat-dialog-title><strong>Privacy Policy for the users</strong></h2>
<mat-dialog-content>
  <!-- <p>
    Welcome to PayOclock! These Terms and Conditions outline the responsibilities, obligations, and 
    permissible usage of the admin-side features of the application. By using the application, you agree to 
    abide by these terms.
  </p><br> -->
  <p><strong>  Information We Collect </strong></p>
  <p> We collect and process the following types of information: </p> 
  <p>- Admin Data: Includes login credentials, actions performed within the Application, and details 
    about employee profiles, payroll processing, and payslip management.</p>
  <p> - Employee Data: Includes personal details (e.g., name, contact information, job role), attendance 
    records (time-in and time-out), payslips, leave requests, and overtime requests. </p><br>

  <p><strong> How We Use Your Information </strong></p>
  <p> Admin Data Usage: </p><br> 
  <p> - Manage employee profiles </p>
  <p> - Process payroll and generate payslips. </p>
  <p> - Track and approve employee requests (e.g., leave, overtime). </p><br> 

  <p> Employee Data Usage: </p><br>
  <p> - Allow employees to view their own payslips</p>
  <p> - Enable time-in and time-out functionality </p>
  <p> - Submit and track leave and overtime requests </p><br> 

  <p><strong> Data Security </strong></p>
  <p> - We implement appropriate technical and organizational measures to protect your data against 
    unauthorized access, alteration, disclosure, or destruction. This includes encrypted storage and secure 
    access protocols. </p><br> 
    
  <p><strong> Data Retention </strong></p>
  <p> - We retain data for as long as necessary to fulfill the purposes outlined in this policy, comply with legal 
    obligations, or resolve disputes. </p><br> 

  <p><strong> Data Sharing </strong></p>
  <p> - Your data will not be shared with third parties except:</p>
  <p> - When required by law </p>
  <p> - With your explicit consent </p><br>

  <p><strong> Your Rights </strong></p>
  <p> Admins and Employees have the right to: </p>
  <p> - Access and update their personal information. </p>
  <p> - Request deletion of their data (subject to legal obligations). </p>
  <p> - Raise concerns regarding data processing by contacting [Ms. Mona Liza P. Sanchez].</p><br>

  <h4> By using this application, you agree to these Privacy Policy. Please contact
    payoclock24&#64;gmail.com for any questions or assistance </h4>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="close">Close</button>
</mat-dialog-actions>
