<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="main-content">
    <div class="header"> 
        <h1> List of Employees </h1>
            <button class="add-employee" type="button" (click)="openDialog('add')"> Add </button>
    </div>

    <div class="table-content">
        <div class="table-head">

            <div class="header-text">
                <h1> Employees Information </h1>
            </div>

            <div class="search-container">
                <input id="search" type="text" placeholder="Search..." name="search">
                <button ><i class="fa fa-search"></i></button>
            </div>

        </div>
          
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
        
            <!-- Employee Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Employee Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Id Number Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID Number </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

        
            <!-- Gender Column -->
            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef> Gender </th>
                <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
            </ng-container>


            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> Position </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- Contact Number Column -->
            <ng-container matColumnDef="contact">
                <th mat-header-cell *matHeaderCellDef> Contact Number </th>
                <td mat-cell *matCellDef="let element"> {{element.contact}} </td>
            </ng-container>

            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[15]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>   
    </div>
    
</div>