<div class="main-content">
    <div class="header"> 
        <h1> History </h1>
        <div class="button-container">
            <!-- <button class="btn-secondary paylip-back" (click)="redirectToPayslip()"> Back </button> -->
            <button class="btn-primary paylip-history" (click)="redirectToPayrolls()"> Back </button>
        </div>
    </div>

    <div class="loading" *ngIf="isLoading">
        <app-spinner></app-spinner>
    </div>

    <ng-container *ngIf="!isLoading && !hasData"> 
        No payslip history available
    </ng-container>

    <ng-container *ngIf="!isLoading && hasData">
        <ng-container *ngFor="let payslip of payslips; let i = index;">
            <div class="table-content" (click)="clickTable(i)">
                <div class="table-head">

                    <div class="input-row">
                        <div class="information-case">
                            <th> EMPLOYEE NAME: </th>  
                            <td> {{ employee.full_name }} </td>
                        </div>
            
                        <div class="information-case">
                            <th> PAYROLL PERIOD: </th> 
                            <td> {{ payslipDetails[i].payday_start | date: 'mediumDate' }} - {{ payslipDetails[i].payday_end | date: 'mediumDate' }} </td>  
                        </div>
                    </div>
        
                    <div class="input-row">
                        <div class="information-case">
                            <th> ID NUMBER: </th>  
                            <td> {{ employee.employee_id }} </td>
                        </div>
        
                        <div class="information-case">
                            <th> RATE: </th>  
                            <td> {{ employee.rate }} </td> 
                        </div>
                    </div>
        
                    <div class="input-row">
                        <div class="information-case">
                            <th> POSITION: </th> 
                            <td> {{ employee.position }} </td> 
                        </div>

                        <div class="button-container">
                            <button class="btn-primary export"
                             (click)="exportPayslipAsPDF(i)">Download</button>
                        </div>
                    </div>
                </div>
        
                <div class="table-content1" *ngIf="activeTable == i && hasActive">
                    <div class="earnings-and-deductions">
                        <div class="earnings-container">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Earnings</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let value of payslips[i]">
                                        <td>{{ value[0] }} {{ value[1] }}</td>
                                        <td>{{ value[2] }}</td>
                                    </tr>
                                    <tr class="total-row">
                                        <td><strong>Sub Total</strong></td>
                                        <td><strong>₱ {{ payslipDetails[i].adjusted_pay | number: '1.2-2' }}</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                
                            <table>
                                <thead>
                                    <tr>
                                        <th>Other Earnings</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Total Additions</td>
                                        <td>{{ payslipDetails[i].total_additions  }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                
                        <div class="deductions-loans-container">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Deductions</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let value of payslips[i]">
                                        <td>{{ value[5] }}</td>
                                        <td>{{ value[6] }}</td>
                                    </tr>
                                    <tr class="total-row">
                                        <td><strong>Sub Total</strong></td>
                                        <!-- <td><strong>₱ {{ payslipDetails[i].total_deductions | number: '1.2-2' }}</strong></td> -->
                                        <td><strong>{{ payslipDetails[i].total_deductions }}</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <hr class="divider-line">
                    
                    <div class="totals-wrapper">
                        <table class="pay-row-table">
                            <tr class="pay-row">
                                <td><strong>Gross Pay</strong></td>
                                <!-- <td><strong>₱ {{ payslipDetails[i].gross_pay | number: '1.2-2' }}</strong></td> -->
                                <td><strong>{{ payslipDetails[i].gross_pay }}</strong></td>
                            </tr>
                        </table>
                        <table class="total-deduc-table">
                            <tr class="total-deduc">
                                <td><strong>Total Deductions</strong></td>
                                <!-- <td><strong>₱ {{ payslipDetails[i].total_deductions | number: '1.2-2' }}</strong></td> -->
                                <td><strong>{{ payslipDetails[i].total_deductions }}</strong></td>
                            </tr>
                        </table>
                    </div>
                    
                    <div class="totals-wrapper">
                        <table class="pay-row-table">
                            <tr class="pay-row">
                                <td><strong>Net Pay</strong></td>
                                <!-- <td><strong>₱ {{ payslipDetails[i].net_pay | number: '1.2-2' }}</strong></td> -->
                                <td><strong> {{ payslipDetails[i].net_pay }}</strong></td>
                            </tr>
                        </table>
                    </div>
                </div> 
            </div>
        </ng-container>
    </ng-container>

    <div class="paginator">
        <div class="label"> 
            Showing {{ paginatorIndex }} - 
            {{ (this.paginatorIndex + this.paginatorCount) > this.payslips.length ? this.payslips.length : this.paginatorIndex + this.paginatorCount }} 
            of {{ payslips.length }} 
        </div>
    
        <select (change)="changePaginator($event)" class="paginator-select">
            <option value="5"> 5 </option>
            <option value="10"> 10 </option>
            <option value="15"> 15 </option>
        </select>
    
        <button class="paginator-btn" (click)="first()">
            <i class='bx bx-chevrons-left'></i>
        </button>
        <button class="paginator-btn" (click)="previous()">
            <i class='bx bx-chevron-left'></i>
        </button>
        <button class="paginator-btn" (click)="next()">
            <i class='bx bx-chevron-right'></i>
        </button>
        <button class="paginator-btn" (click)="last()">
            <i class='bx bx-chevrons-right'></i>
        </button>
    </div>
</div>
